{% extends 'base.html.twig' %}

{% block sidebar %}
    <nav class="sidenav">
      <ul class="vertmenu">
        <li><a href="/dm/initiative">Initiative Roll Tool</a></li>
      </ul>
    </nav>

{% endblock %}