<h4>Dormania</h4>
			<p><strong>Capitol:</strong> Desadorel</p>
			<p><strong>Major Cities:</strong> Sreppe, Farengar, Falak, Malidal</p>
			<p><strong>Major Landmarks:</strong> World Crack, Great Ramp</p>
			<p><strong>Bordering Nations: </strong>Terron, Malinval, Arad, Gerasalim, Kandor</p>
			<p><strong>Population:</strong> 5,600,000</p>
			<p><strong>Population Distribution:</strong></p>
			<ul>
				<li>Imperial Humans - 70%</li>
				<li>Lightfoot Halflings - 10%</li>
				<li>Imperial Gnomes - 9%</li>
				<li>Half Elves - 6%</li>
				<li>Other - 5%</li>
			</ul>
			<p>
				<strong>Government: </strong> Dormania is ruled by the eternal emperor, lord of all the east, Dorman. They happen to
				be on the 22nd generation of Emperor Dormans. Before becoming Emperor, the most recent ruler was named Robert and
				was only distantly related to the original Dorman (he was the cousin of the last Emperor who died of food
				poisoning), but tradition is tradition after all. The Emperor has absolute authority in Dormania, although of course
				most decisions are made by appointed officials and bureaucrats, all officials serve at the pleasure of the Emperor.
			</p>
			<p>
				<strong>Ruler[s]: </strong> Until recently, Dorman XXII, now deceased.
			</p>
			<p>
				<strong>History: </strong> The city state of Desadorel was a prominent trade city and independent city state that
				exported iron, adamantine, and other valuable minerals before Dorman I became the king. With dreams of mighty
				conquest, he marshaled his troops and conquered several of his nearest neighbors before they really had time to
				build armies of their own. After a couple years of consolidation he went on the march again, and over his 40 year
				reign he conquered everything from the eastern coast west to the border of Curinor and south to Dal Okra.
			</p><p>
				After his death it was not long before pieces of the empire began to fall away. First a slow march north by the orcs
				over a period of nearly 100 years reconquered the southernmost territory north to the Rust Desert, then during the
				disastrous reign of Dorman V Kandor and Gerasalim both declared independence. Since then the borders have remained
				fairly stable, although the extent of rule by the central authority has waxed and waned.
			</p>
			<p></p>
			<p>
				<strong>Gods: </strong>
			</p>
			<ul>
				<li>Alohim</li>
				<li>Sara</li>
				<li>Dorman</li>
				<li>Fanome</li>
				<li>Maris</li>
				<li>Tock</li>
				<li>Trimala</li>
				<li>Gaian</li>
				<li>Molton</li>
			</ul>
			<p>
				<strong>Typical Worship:</strong> The Dormanians have a history of experimenting with different religions, and most
				every God has a cult of at least some size in the empire. Dorman I, however, does hold a special place here.

			</p>
			<p>
				<strong>Cultural Notes:</strong> Dormania is a country in flux.  The countryside is still largely feudal, with Lords
				overseeing large areas of land cared for by their serfs, however few Lords have proper castles, but rather live in
				elaborate manor homes.  Meanwhile the cities are home to a burgeoning middle class of merchants and artisans whose
				power is continually growing. (closest historical reference would be 14th Century France)

			</p>
			<p>
				<strong>Economics:</strong> Dormania has many commercial centers and is a reasonably wealthy country. The bulk of
				the land east of the World Crack is made up of large open grasslands where they raise herds of cattle and other
				livestock. The hills above Desadorel have some of the world's richest deposits of adamantine. The north mostly
				produces grains, while the area around Malidal produces a number of cash crops such as cotton and olives.
			</p>
			<p>
				Desadorel is the largest metropolis on the continent north of Malinval, and most any kind of craftsman can be found
				there, not to mention more beauracrats than you can shake a stick at.  Meanwhile Malidal is home to one of the
				finest colleges of wizardry in the world, (Dormanians would say THE finest, but even the more traveled people would
				rank it in the top 5.)
			</p>
			<h3>Laws and Regulations</h3>
			<p>
				<strong>Slavery: </strong> Slavery is illegal in the empire, however serfdom is the regular order of the day in the
				countryside.
			</p>
			<p>
				<strong>Magic: </strong> A Mage must be a registered member of one of the many magical colleges in order to practice
				magic legally.  However, enforcement of this law outside of the major cities is largely ignored.
			</p>
			<p>
				<strong>Property: </strong>Anyone can own property in the empire except for branded serfs.
			</p>
			<p>
				<strong>Citizenship: </strong> Their is no legal method of citizenship in the empire, although records of the royal
				line are kept.
			</p>
		