<h4>Dragonhome</h4>
			<p><strong>Capitol:</strong> </p>
			<p><strong>Major Cities:</strong> </p>
			<p><strong>Major Landmarks:</strong> Dragonhome Mountains</p>
			<p><strong>Bordering Nations: </strong> Dera, Riftlan Wilds, Zelfir</p>
			<p><strong>Population:</strong> &lt;50,000</p>
			<p><strong>Population Distribution:</strong></p>
			<ul>
				<li>Dragons(metallic) - 25%</li>
        <li>Dragons(chromatic) - 5%</li>
				<li>Dragonborn - 35%</li>
				<li>Deran Humans - 25%</li>
				<li>Other - 10%</li>
			</ul>
			<p>
				<strong>Government: </strong> The dragonhome does not have a single government, rather families and clans of dragons are ruled over by the eldest
        of the tribe, and each dragon has complete autonomy in their dealings with their vassals.

			</p>

			<p>
				<strong>Ruler[s]: </strong> 
			</p>
			<p>
				<strong>History: </strong> In the early days of the world, dragons were much more common, and lived in many far flung places.  After the fall
        of Dera, however, Bahamut declared the mountains between the east coast of Riftlan and the central Veldt, "Dragonhome", and a great migration
        of metallic and even some chromatic dragons followed.  Roosts, dens and dungeons were built and established throughout the vast mountain ranges
        to house the dragons and their descendents.
			</p>
			<p>
				<strong>Gods: </strong> 
			</p>
			<ul>
        <li>Bahamut</li>
        <li>Tiamat</li>
			</ul>
			<p>
				<strong>Typical Worship:</strong> Dragons worship their Gods as Greatest Among Equals, rather than as lords never to be disobeyed, however they
        enforce a much stricter worship on their humanoid servants and vassals, who congregate regularly in shrines and temples to their lords respective
        Gods.
			</p>
			<p>
				<strong>Cultural Notes:</strong> Humanoids in dragonhome are almost all vassals of one dragon or another, or occasionally to a particular family
        or clan.  As such, almost all decisions of note are made by the dragons, and everything from the sizes of entryways (huge), to the methods of
        travel (no roads, one is expected to fly between roosts) cater to the particular ways of dragons.
			</p>

			<p>
				<strong>Economics:</strong> Dragons are jealous creatures who often collect treasures, but the art of buying and selling is not typical among them.
        The vassals of the dragons will often collect scales, bones, and other pieces of their masters that are shed or from the dead, and trade them
        abroad to obtain goods for their own subsistence or treasures desired by their masters.

			</p>
			<h3>Laws and Regulations</h3>
			<p>
				<strong>Slavery: </strong> While metallic dragons view slavery as evil, their vassals have little freedom and do not get paid (dragon society does
        not have a concept of work for payment, rather it is considered a duty to serve).  Nevertheless, all vassals to metallic dragons are nominally there
        by choice.  Chromatic dragons have no such misgivings, and will often force those they can into bondage, hunting those who try to escape.
			</p>
			<p>
				<strong>Magic: </strong> There are no laws or particular customs concerning magic in Dragonhome, though all dragons have some sorcerous talent.

			</p>
			<p>
				<strong>Property: </strong> A dragon is considered to own his den or roost, and there are a great many customs that must be abided by when visiting
        a neighbor.

			</p>
			<p>
				<strong>Citizenship: </strong> Because there is no central government there is no concept of citizenship, however, long term survival invariably
        requires declaring oneself a vassal to an established dragon.

			</p>