<h4>Gerasalim</h4>
			<p><strong>Capitol:</strong> Strovenguard</p>
			<p><strong>Major Cities:</strong> Eastguard, Northport</p>
			<p><strong>Major Landmarks:</strong> Fortress of Light, Blighted Gap, Black Shard Pass, Saria Lake, World Crack</p>
			<p><strong>Bordering Nations: </strong>Malinval, Curinor, Kandor, Dormania</p>
			<p><strong>Population:</strong> 4,200,000</p>
			<p><strong>Population Distribution:</strong></p>
			<ul>
				<li>Imperial Humans - 75%</li>
				<li>Half Elves - 10%</li>
				<li>Lightfoot Halflings - 6%</li>
				<li>Moon Elves - 4%</li>
				<li>Plains Dwarves - 4%</li>
				<li>Other - 1%</li>
			</ul>
			<p>
				<strong>Government: </strong> Gerasalim is ruled by an elected king, who rules for life and who appoints local
				governors.
			</p>
			<p>
				<strong>Ruler[s]: </strong> Queen Organa Mataelin. 43 years old, previously a renowned Cleric of Cora and General
				of the 5th Legion, stationed at Eastguard.
			</p>
			<p>
				<strong>History: </strong> The territory that is Gerasalim was made up of several small kingdoms with a loose
				alliance set in defense against the orcish threat before the invasion by Dorman the First. In fact, just before
				the invasion Dorman signed onto the alliance and promised his legions. Depending on the historical perspective,
				either the smaller kingdoms broke the alliance by not reinforcing Dorman's legions, or Dorman did by instead
				turning his legions against the kingdoms. Whatever the cause, the end result was the total conquest of the entire
				area by Dorman's ever-victorious legions, who then continued their expansion south into Malinval.
			</p>
			<p>
				Several generations later, with the orcs in a phase of expansion and Dorman V too obsessed with court politics to
				commit serious resources to guarding the southern border, the people in the south western portion of his empire rose
				up in mass rebellion. Electing a king from among the local generals, they defeated those garrisons that would not
				turn, and then threw back the orcish invaders. While in the present day relations with Dormania are friendly, it
				took several generations and renewed commitments to aid in the defense of the southern borders for that
				normalization to happen.
			</p>
			<p>
				<strong>Gods: </strong>
			</p>
			<ul>
				<li>Cora</li>
				<li>Dorman</li>
				<li>Bahamut</li>
				<li>Amathera</li>
				<li>Sara</li>
			</ul>
			<p>
				<strong>Typical Worship:</strong> Gerasalim has a surprising variety of worship methods among its people. However
				there are certain themes to the Gods that find favor. The militaristic natures of Cora, Dorman, and Bahamut lend
				themselves well to the militaristic nature of Gerasaline society. At the same time Amathera and Sara lend themselves
				well to worship by the poorer agrarian segment of society.
			</p>
			<p>
				<strong>Cultural Notes:</strong> Gerasalim is a highly militaristic country, and the heart of the Alliance of 6
				Nations that led to the founding of the Fortress of Light. It sends the most soldiers to fight, and die, at the
				border forts with Malinval of any country, and its people see the war as one of both liberation and survival. All
				young people without children between the ages of 17 and 22 are required to serve in the military according to their
				talents. Clerics and Wizards must also serve 3 additional years upon completion of their training.
			</p>
			<p>
				<strong>Economics:</strong> Gerasalim's economy is primarily agrarian, as they have ample supplies of water, but
				poor trade connections due to being landlocked. Only Northport has an easy to reach river connection that does not
				lead through orc-held territories. Nevertheless there are some mines along the southern and eastern edges of the
				country. Gerasalim exports grain northward and westward out of Northport and into Curinor and Demal Thor.
			</p>
			<p>
				The country is subsidized somewhat by the other kingdoms of the alliance, who have armies stationed on Gerasaline soil
				that require supplies, most easily obtained locally from Gerasalim's merchants.
			</p>
			<p>
				Gerasalim's smiths and craftsman are of average quality, with a few masters practicing in the major cities and working
				for the armies.  It can be hard to find craftsmen experienced with unusual materials.
			</p>
			<h3>Laws and Regulations</h3>
			<p>
				<strong>Slavery: </strong> Slavery is illegal in Gerasalim.
			</p>
			<p>
				<strong>Magic: </strong> Magical training is encouraged but regulated. There is a major college of wizardry at
				Strovenguard and the king supplies scholarships to young men and women who show particular aptitude. Nevertheless,
				all wizards must serve an extended period in the military, and obtain a license to practice within Gerasalim.
			</p>
			<p>
				<strong>Property: </strong>Any citizen can own property within Gerasalim, but the king and local governors have
				extensive rights of eminent domain, particularly for military purposes.
			</p>
			<p>
				<strong>Citizenship: </strong> Anyone born within Gerasalim's borders is considered a citizen. However,
				naturalization can only be obtained by declaration of the king, usually due to extraordinary service within the
				military. Noncitizens have limited rights, in that they cannot own land, or graze more than 3 animals on public
				land, nor vote in elections for King.  Noncitizens also do not have the right of appeal to the King, although
				few citizens ever have their appeal heard.
			</p>
			<h3>Organizations</h3>
			<p>
				<strong><a href="/organizations/allianceof6nations.php">Alliance of 6 Nations.</a></strong> Gerasalim is a member nation of the
				Alliance of 6 Nations.
			</p>
			<p>
				<strong><a href="/organizations/blackwolfirregulars.php">Black Wolf Irregulars.</a></strong> The Black Wolf Irregulars operate
				several bases in Gerasalim, and recruit actively for skilled mercenaries.
			</p>
			<p>
				<strong><a href="/organizations/gerasalinealliance.php">Gerasaline Alliance.</a></strong> Gerasalim was founded as the spiritual
				successor to the Gerasaline Alliance, united as a single nation-state.
			</p>
			<p>
				<strong><a href="/organizations/illustriousmerchants.php">The Illustrious Guild of Merchants and Fine Artisans.</a></strong> The
				Guild operates throughout Gerasalim.
			</p>
		