<h4>Gnarra</h4>
			<p><strong>Capitol:</strong></p>
			<p><strong>Major Cities:</strong> </p>
			<p><strong>Major Landmarks:</strong> Serpent's Spine</p>
			<p><strong>Bordering Nations: </strong> Morrindim, Eldoran, Shendarel, Olda, Dera'Dragorim</p>
			<p><strong>Population:</strong> ~100,000</p>
			<p><strong>Population Distribution:</strong></p>
			<ul>
				<li>Faelin - 60%</li>
				<li>Wild Elves - 20%</li>
				<li>Kobolds - 15%</li>
				<li>Other - 5%</li>
			</ul>
			<p>
				<strong>Government: </strong> The Faelin and the Wild Elves both shun governments, and tend to live in solitary
				family groups.
			</p>

			<p>
				<strong>Ruler[s]: </strong> 
			</p>
			<p>
				<strong>History: </strong> Gnarra has never really had contact with the outside world, and most expeditions to
				explore the interior have never returned. Faelin and Wild Elves who leave Gnarra rarely speak of home, and then only
				reluctantly.
			</p>
			<p>
				<strong>Gods: </strong>
			</p>
			<ul>
				<li>Gaian</li>
			</ul>
			<p>
				<strong>Typical Worship:</strong> Those Faelin who have appeared in the outside world have almost exclusively
				worshiped Gaian, the nature goddess and patron of fey. How this worship is handled within the country is anybody's
				guess.
			</p>
			<p>
				<strong>Cultural Notes:</strong> 
			</p>

			<p>
				<strong>Economics:</strong> 
			</p>
			<h3>Laws and Regulations</h3>
			<p>
				<strong>Slavery: </strong> The attitude of all fey-like creatures towards slavery is anything but favorable.
			</p>
			<p>
				<strong>Magic: </strong> Magic is believed to be common in this lush land.
			</p>
			<p>
				<strong>Property: </strong>
			</p>
			<p>
				<strong>Citizenship: </strong> 
			</p>
		