<h4>Malinval</h4>
			<p><strong>Capitol:</strong> Marinval</p>
			<p><strong>Major Cities:</strong> Mak'hol, Forbel, Makir, <a href="/world/cities/parakas.php">Parakas</a>, Malgeth, Morda'serek'hai, Gulutheim, Ochre'ken</p>
			<p><strong>Major Landmarks:</strong> Desert of Despair, Glass Cliff, Blighted Gap, Rust Desert, Black Shard Pass, Golden Pass, Dal Okra</p>
			<p><strong>Bordering Nations: </strong>Eldoran, Demal Thor, Curinor, Gerasalim, Dormania, Arad, Terron, Seran, Nerim, Morrindim, Degak'Ta, Olda</p>
			<p><strong>Population:</strong> 20,300,000</p>
			<p><strong>Population Distribution:</strong></p>
			<ul>
				<li>Grunt Orcs - 60%</li>
				<li>Goblins - 19%</li>
				<li>Hobgoblins - 6%</li>
				<li>High Orcs - 5%</li>
				<li>Trollkin - 4%</li>
				<li>Neran Humans - 3%</li>
				<li>Kobolds - 2%</li>
				<li>Moon Elves - 1%</li>
			</ul>
			<p>
				<strong>Government: </strong> Marinval's current government is a common subject of rumor. While historically it has
				been a relatively fractured nation, with civil wars common between different Orc warlords whose territory is
				constantly shifting, in recent years scouts and spies have reported that internal affairs have been relatively
				quiet, while the orcs' attacks against their neighbors have begun to increase. This has sparked rumors that either a
				particularly adept warlord has united the tribes, or the often-discounted possibility that the Prince of Fiends, a
				Sorceron long imprisoned in the mountain Dal Okra may have awakened. Nevertheless the local warlords still seem to
				be more or less in control of their own territory, and the best description of the government currently could
				probably be described as a despotic confederacy.
			</p>
			<p>
				Rumors in recent months have continued to solidify on the reawakening of the Prince of Fiends.
			</p>
			<p>
				<strong>Ruler[s]: </strong> Believed to be the Prince of Fiends.
			</p>
			<p>
				<strong>History: </strong> Malinval's size and strength have varied greatly over time depending on the strength of
				whatever warlords are in power and how fractured their outside enemies are. For example, when the Dormanian and
				Nerimese Empires were at their heights, Makir and Dal Okra formed the northern border while Makir and Gulutheim
				formed the eastern, leaving the country at nearly half of its current size. Nevertheless, the last 300 years have
				seen a slow but steady expansion for the Orcs. Only the imposing Fortress of Light and the difficulty in moving
				supplies across the Blighted Gap have stopped them from extending their borders possibly as far as Northport and
				the Moon Pass.
			</p>
			<p>
				The orcs are a warlike people, and the land they live in shows the scars of nearly 3000 years of
				endless wars, including being the location for many major battles in the God's War. The Glass Cliff, the World
				Crack, and the Rust Desert are three such locations. Meanwhile Black Shard Pass was literally cut out of the
				mountains by the Dormanian Emperor's magi in order to provide an avenue of attack in his southward expansion, and
				the Blighted Gap was created when the Orcs burned and salted everything in their path in a major offensive 200 years
				ago. Old fortresses, both abandoned and in current use dot much of the landscape, built by both orcs and non-orcs,
				as well as cities that rose up and were likewise destroyed or abandoned in the face of advancing enemies.
			</p>
			<p></p>
			<p>
				<strong>Gods: </strong>
			</p>
			<ul>
				<li>Mat'raktha</li>
			</ul>
			<p>
				<strong>Typical Worship:</strong> While other Gods have often had cults among the people of Malinval, recently these
				have fallen into disfavor while Mat'raktha's worship has risen.


			</p>
			<p>
				<strong>Cultural Notes:</strong> At the lowest level, Malinvan culture is one of survival of the strongest.
				Nevertheless there is an inherent discipline that comes with being a highly militaristic people used to obeying
				orders, and in the warband everyone has his place. The common misconception in the north has always been that the
				Orcs attack as frenzied berserkers with no thought for strategy, but no thought could be further from the truth.
				While Orc Berserker's are a fearsome sight, and one worth remembering, they are only one aspect of an orcish
				fighting force, and not really representative of the culture at large.
			</p>
			<p>
				In fact, Malinval encompasses a wide variety of cultures.  On the one hand you have the mining city of <a href="/world/cities/parakas.php">Parakas</a>, a
				top down, highly regimented communistic city built entirely of steel (for which it is famous), while on the other
				you have Forbel, a tent city that has been the site of massive clan wars, as it is the center of the western cattle
				trade, and up to a dozen warlords have laid claim to it at one time.  The capitol, Marinval, is a sprawling city of
				low sod and brick buildings, temporary fortifications, and castles.
			</p>
			<p>
				<strong>Economics:</strong> Malinval is huge, and produces a great many goods for sale and use internally, however,
				generally the people are poor and overcrowded.
			</p>
			<h3>Laws and Regulations</h3>
			<p>
				<strong>Slavery: </strong> Slavery is common in Malinval, and like in other orc dominated areas most slaves are
				goblins, with a small smattering of the descendants of Neran refugees.

			</p>
			<p>
				<strong>Magic: </strong> Magic is allowed, or at least there is no unified statute concerning its use. Youngsters
				who show promise are often encouraged in magical study,
				just so long as they are loyal to and do not prove a threat to the local warlord. Any mage considered a threat to
				power is usually hunted and executed.

			</p>
			<p>
				<strong>Property: </strong>Property is usually what you can hold onto, although there is a certain amount of respect
				for women and children, and the custom is never to displace from their home a family with kids. This of course
				encourages breeding so as to avoid losing everything one has to someone stronger than oneself.
			</p>
			<p>
				<strong>Citizenship: </strong> Most orcs would sooner die than follow someone not an orc. Thus almost all of the
				major warlords have been orcs, and even local captains.  The closest analog to 'citizenship' is membership in a clan,
				and each clan determines its own rules for membership.
			</p>
		