<h4>Sage</h4>
			<p><strong>Capitol:</strong> Sage City</p>
			<p><strong>Major Cities:</strong> </p>
			<p><strong>Major Landmarks:</strong> </p>
			<p><strong>Bordering Nations: </strong> Hisru'de'tan, Stagenheim</p>
			<p><strong>Population:</strong> 500,000 </p>
			<p><strong>Population Distribution:</strong></p>
			<ul>
				<li>Grunt Orcs - 94%</li>
				<li>Goblins - 5%</li>
				<li>Other - 1%</li>
			</ul>
			<p>
				<strong>Government: </strong> Sage does not have a unified government, but the city-state proper does have a single
				warlord; however his control does not extend far beyond the city itself. Meanwhile smaller tribes with their own
				warlords live throughout the territory. The various tribes have shifting alliances, and often fight among themselves
				as much as against their neighbors.
			</p>

			<p>
				<strong>Ruler[s]: </strong> 
			</p>
			<p>
				<strong>History: </strong> Sage has little to no recorded history, but scholars in Stagenheim record first contact
				with orcs on the continent about 800 years ago. It is theorized, given their close similarity to the common Grunt
				Orcs of Malinval, that they it was established first as a colony, and later killed the local High Orc rulers. It may
				also be possible that a small group of grunt orcs rebelled and left Malinval to escape retribution.
			</p>
			<p>
				<strong>Gods: </strong>
			</p>
			<ul>
				<li>Malik</li>
				<li>Mat'raktha</li>
			</ul>
			<p>
				<strong>Typical Worship:</strong> Worship methods and God of choice tend to vary by clan, but Malik is the most
				common God. Each clan tends to have at least 1 priest of their particular patron God, who often has one or two
				apprentices, that deals with all matters religious for the clan.
			</p>
			<p>
				<strong>Cultural Notes:</strong> Tribal and warlike.
			</p>

			<p>
				<strong>Economics:</strong> Sage is mostly a self-sufficient society, with few exports and imports (and few nations
				are very willing to trade with them).
			</p>
			<h3>Laws and Regulations</h3>
			<p>
				<strong>Slavery: </strong> The more prosperous clans always tend to have a few goblin slaves around.
			</p>
			<p>
				<strong>Magic: </strong> Magic is unregulated, and there are even a few orc wizards in the city, however most
				casters tend to be of the more spontaneous variety.
			</p>
			<p>
				<strong>Property: </strong> There is no specific law on property, but generally things are owned by whoever can
				hold on to it.
			</p>
			<p>
				<strong>Citizenship: </strong> Tribal membership is determined by the particular customs of a tribe, but it
				typically requires birth within the tribe or various arduous tasks.
			</p>
		