<h4>Shendarel</h4>
			<p><strong>Capitol:</strong> Swava</p>
			<p><strong>Major Cities:</strong> </p>
			<p><strong>Major Landmarks:</strong> </p>
			<p><strong>Bordering Nations: </strong> Olda, Eldoran, Gnarra</p>
			<p><strong>Population:</strong> 300,000</p>
			<p><strong>Population Distribution:</strong></p>
			<ul>
				<li>Neran Humans - 70%</li>
				<li>Half Elves - 15%</li>
				<li>High Elves - 8%</li>
				<li>Imperial Humans - 5%</li>
			</ul>
			<p>
				<strong>Government: </strong> Shendarel has been ruled by a feudal-style monarchy for the past 1000 years, with a
				(mostly) unbroken line of kings and queens for that entire period (excluding certain cousins inheriting). The nobles
				are kept in line with the king by the ever-present need to defend their country from the land-hungry High Orcs and
				their servants. Most people in the country have served as soldiers at one point or another, and if you have not
				served your term of service it is impermissible to own property (of any kind).

			</p>

			<p>
				<strong>Ruler[s]: </strong> Queen Gretchen Strongheart
			</p>
			<p>
				<strong>History: </strong> Shendarel was originally settled as two separate colonies, which later merged into the
				city of Swava, about 1100 years ago: one by a group of Elves expanding south from Eldoran, and the other a human
				expedition sent from a now-disappeared nation somewhere around present day Kandor. The eventual intermingling of
				blood meant that the bulk of the nobility and the established population, as well as the royal line, are in fact
				Half-Elves. This remained the case until the disaster at Nerim, when a massive amount of refugees arrived,
				outnumbering the locals by almost 3 to 1. This influx of impoverished people led to a vast growth in the population
				of serfs.

			</p>
			<p>
				<strong>Gods: </strong>
			</p>
			<ul>
				<li>Alohim</li>
				<li>Amathera</li>
				<li>Cora</li>
			</ul>
			<p>
				<strong>Typical Worship:</strong> The God most commonly worshiped differs primarily by social class, with most of
				the nobility worshiping Alohim, while their men-at-arms and other soldiers worship Cora. The serfs generally worship
				Amathera. Nevertheless almost all clerics and priests in Shendarel are schooled in war, and often ride out with the
				soldiers when the community is threatened.

			</p>
			<p>
				<strong>Cultural Notes:</strong> War is a way of life in Shendarel. Serfs generally live in fear of both the
				nobility above them, and regular attacks by orcs, trollkin, and their goblin slaves. Meanwhile the only real way to
				get out of serfdom is to join the army, where the first possessions one owns for themselves are their weapons and
				armor.

			</p>

			<p>
				<strong>Economics:</strong> Economically, Shendarel exports grains, vegetables, and many other food products far in
				excess of the needs of their population, but imports large amounts of weapons and armors, mostly elven made. In many
				ways economically they are still a colony of Eldoran.
			</p>
			<h3>Laws and Regulations</h3>
			<p>
				<strong>Slavery: </strong> While slavery is technically illegal, serfdom in Shendarel is barely different. Serfs
				cannot own property of any kind, and leaving the land of their liege lord is almost impossible without being
				considered an outlaw.
			</p>
			<p>
				<strong>Magic: </strong> Those who can use magic in Shendarel are typically forced into military service unless they
				are already people of property. Wizards are rare simply because few have the time for extensive study.

			</p>
			<p>
				<strong>Property: </strong> Land ownership can only be granted rather than purchased. Other property can only be
				owned by people who have served in the military, or if you belong to the nobility.
			</p>
			<p>
				<strong>Citizenship: </strong> Citizenship is a misnomer in a land where rights are granted according to birth.
			</p>
		