<h4>Staelia</h4>
			<p><strong>Capitol:</strong> Instar</p>
			<p><strong>Major Cities:</strong> Kelas, Pelgan</p>
			<p><strong>Major Landmarks:</strong> Troll Pass, Ice Wastes</p>
			<p><strong>Bordering Nations: </strong> Gorgro, Stagenheim, Alfadir</p>
			<p><strong>Population:1,200,000</strong> </p>
			<p><strong>Population Distribution:</strong></p>
			<ul>
				<li>Staelic Humans - 90%</li>
				<li>Stagen Gnomes - 5%</li>
				<li>Morrind Dwarves - 3%</li>
				<li>Other - 2%</li>
			</ul>
			<p>
				<strong>Government: </strong> Staelia is a feudal monarchy with a strong class of battle-hardened nobility that is
				incredibly loyal to king and country.
			</p>

			<p>
				<strong>Ruler[s]: </strong> 
			</p>
			<p>
				<strong>History: </strong> Staelia has had little effect on history outside of their own region, as most of their
				history has been spent fighting with various monstrous races from Gorgro and the Ice Wastes. Although occasionally
				they have had minor skirmishes with the gnomes and the separatist colony of Alfadir.

			</p>
			<p>
				<strong>Gods: </strong>
			</p>
			<ul>
				<li>Alohim</li>
				<li>Amathera</li>
				<li>Sara</li>
				<li>Tock</li>
			</ul>
			<p>
				<strong>Typical Worship:</strong> Worship in Staelia is almost entirely determined by social class. The nobility all
				generally worship Alohim, while the commoners worship Amathera or Sara. Those gnomes who live in Staelia typically
				worship Tock.

			</p>
			<p>
				<strong>Cultural Notes:</strong> Staelia is a culture of chivalric ideals.  Romantic love is glorified, serfs are
				effectively property, with the justification of 'protection' and combat follows strict rules, at least internally.
				Staelia does not lack for tacticians willing to bend the rules in favor of a better result when facing unconventional
				foes, as unconventional is rather typical here.
			</p>
			<p>
				Buildings in Staelia are almost always strongly fortified and built of stone, and the air of paranoia can become
				almost palpable as one approaches the Gorgro plateau.  A raid can happen at anytime, anywhere, and everyone knows it.
				Every few years the King or one of the powerful Lords will organize a campaign into the plateau, where they will hunt
				and kill as many trolls, ogres, and giants as they can manage, but this usually does little to stem the tide.  Also,
				unless the army is very lucky or very skilled, casualties are usually high, reducing the number of men available
				for the border forts.
			</p>
			<p>
				Nevertheless, the people of Staelia persevere.  They have singlehandedly fought back the trolls and giants for
				hundreds of years, and while they have not grown in power or gained real ground, they have not gone into decline or
				lost territory either.  It is a culture of endless war that the people have come to accept as simply the way their
				world is.
			</p>
			<p>
				<strong>Economics:</strong> Staelia has a weak economy that is mostly agrarian. They import most of their finished
				goods from Stagenheim or Alfadir.  It is the bread basket of Atyrea.
			</p>
			<h3>Laws and Regulations</h3>
			<p>
				<strong>Slavery: </strong> Slavery is illegal in Staelia, yet serfdom is a cultural institution.
			</p>
			<p>
				<strong>Magic: </strong> Magic is not regulated, although magi are drafted at a much higher rate than most people.
			</p>
			<p>
				<strong>Property: </strong> Property ownership is restricted to those of noble blood.
			</p>
			<p>
				<strong>Citizenship: </strong> Serfs are born to their land, as are the nobility. It means entirely different things
				for each class, as the nobility own the land they are born to. Nevertheless, citizenship in Staelia can only be
				acquired by birth or by declaration of the king (usually through assignment of property).

			</p>
		