<h4>Tiaov Coast</h4>
<p>
  <strong>Bordering Nations: Alfadir, Staelia, Zelfir</strong>
</p>
<p>
  <strong>Bordering Wilds: Gorgro Plateau, Ice Wastes</strong>
</p>
<p>
  The southwestern coastal lands of Atyrea, while home to a few scattered Staelic settlements, are a largely ungoverned area populated by
  scattered tribes of gnolls and lizardfolk.  The fertile farmland of the coast keeps bringing new settlers in from Alfadir, Zelfir, and Staelia,
  but the regular raids and the distance from major population centers have so far kept any government from imposing its will on the territory.
</p>