{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}
{% block body %}
		<p>
			Welcome to the world of Elthelas, feel free to browse the map at the right, or select one of the links below to lookup specific
			information on an area or location.
		</p>
    <input type="button" value="Landmarks" id="landmarks" class="btn btn-default" />
    <input type="button" value="Cities" id="cities" class="btn btn-default" />
    <input type="button" value="Nations" id="nations" class="btn btn-default" />
    <input type="button" value="Continents" id="continents" class="btn btn-default" />
    <input type="button" value="Geographical Features" id="features" class="btn btn-default" />
    <input type="button" value="Clear" id="clear" class="btn btn-default" />
  		<div id="map" style="width: 1100px; height: 800px; margin: 10px;"></div>

{% endblock %}
{% block javascripts %}
  <script src="{{asset('angularjs/1.3.14/angular.min.js', 'cdn')}}"></script>
  <script src="{{asset('jquery/2.1.3/jquery.min.js', 'cdn')}}"></script>
  <script src="{{asset('jqueryui/1.11.3/jquery-ui.min.js', 'cdn')}}"></script>
  {% javascripts '@AppBundle/libraries/*' '@AppBundle/js/initialize.js' output='js/script.js'%}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script src='/js/endscripts.js'></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	
  <script type="text/javascript">
  
		var map = L.map('map').setView([0, 0], 2);
		L.tileLayer('/images/maps/tiles/{z}/{y}/{x}.png', {
		    attribution: '|--------| = 320/160/80/40 miles by zoom | map image created by Heather Domaszek',
			minZoom: 0,
		    maxZoom: 4,
		    tms: true,
		    continuousWorld: true
		    //noWrap: true
		}).addTo(map);
		var markers = [];
		function clearmarkers() {
			for(i = 0;i<markers.length;i++) {
				map.removeLayer(markers[i]);
			}		
			markers = [];
    }
		function addmarkers() {
			for(i = 0;i<markers.length;i++) {
				map.addLayer(markers[i]);
			}			
		}
		function retreivemarker(name, type) {
			html = name;
			return html;
		}
		$("#landmarks").click(function() {
			//clear the old markers
			clearmarkers();
			
			//create new ones
			var type = "Landmark";
			markers.push(L.marker([65,102]).bindPopup(retreivemarker("curestan",type)));
			markers.push(L.marker([27,-134]).bindPopup(retreivemarker("abyssalgateofdera",type)));
			markers.push(L.marker([-60,84.5]).bindPopup(retreivemarker("abyssalgateofmarinda",type)));
			markers.push(L.marker([0,79.5]).bindPopup(retreivemarker("dalokra",type)));
			markers.push(L.marker([26,-125]).bindPopup(retreivemarker("dera",type)));
			markers.push(L.marker([-65,114]).bindPopup(retreivemarker("fang",type)));
			markers.push(L.marker([17.5,90]).bindPopup(retreivemarker("fortressoflight",type)));
			markers.push(L.marker([-5,-30]).bindPopup(retreivemarker("gaiasgrove",type)));
			markers.push(L.marker([40,-5]).bindPopup(retreivemarker("godspire",type)));
			markers.push(L.marker([36.5,144]).bindPopup(retreivemarker("greatramp",type)));
			markers.push(L.marker([-53,143.5]).bindPopup(retreivemarker("irontraingle",type)));
			markers.push(L.marker([-60,125]).bindPopup(retreivemarker("nerim",type)));
			markers.push(L.marker([-20,118]).bindPopup(retreivemarker("peloria",type)));
			markers.push(L.marker([-43,-158]).bindPopup(retreivemarker("sorcerersprison",type)));
			
			//add them to the map
			addmarkers();
		});
		$("#features").click(function() {
			//clear the old markers
			clearmarkers();
			
			//create new ones
			var type = "Feature";
			markers.push(L.marker([28,121]).bindPopup(retreivemarker("blackshardpass",type)));
			markers.push(L.marker([16,85]).bindPopup(retreivemarker("blightedgap",type)));
			markers.push(L.marker([-16,-160]).bindPopup(retreivemarker("demonpeaks",type)));
			markers.push(L.marker([-22,55]).bindPopup(retreivemarker("desertdespair",type)));
			markers.push(L.marker([-58,-61]).bindPopup(retreivemarker("fireislands",type)));
			markers.push(L.marker([-15,45]).bindPopup(retreivemarker("glasscliff",type)));
			markers.push(L.marker([5,68]).bindPopup(retreivemarker("goldenpass",type)));
			markers.push(L.marker([-74,-110]).bindPopup(retreivemarker("icewastes",type)));
			markers.push(L.marker([42,45]).bindPopup(retreivemarker("mithrilhills",type)));
			markers.push(L.marker([22,45]).bindPopup(retreivemarker("moonpass",type)));
			markers.push(L.marker([0,115.5]).bindPopup(retreivemarker("nadrakriver",type)));
			markers.push(L.marker([10,100]).bindPopup(retreivemarker("rustdesert",type)));
			markers.push(L.marker([37,103]).bindPopup(retreivemarker("sarialake",type)));
			markers.push(L.marker([-40,-44]).bindPopup(retreivemarker("serpentsspine",type)));
			markers.push(L.marker([-55,123]).bindPopup(retreivemarker("titanspeaks",type)));
			markers.push(L.marker([-68,-95]).bindPopup(retreivemarker("trollpass",type)));
			markers.push(L.marker([37,0]).bindPopup(retreivemarker("undeadwoods",type)));
			markers.push(L.marker([0,-145]).bindPopup(retreivemarker("veldt",type)));
			markers.push(L.marker([32,143]).bindPopup(retreivemarker("worldcrack",type)));
			markers.push(L.marker([16,-128]).bindPopup(retreivemarker("smugglerspass",type)));
			markers.push(L.marker([14,-143]).bindPopup(retreivemarker("miragelake",type)));
			markers.push(L.marker([-10,-132]).bindPopup(retreivemarker("dragonhomemountains",type)));
			markers.push(L.marker([-36,-82]).bindPopup(retreivemarker("ruuriver",type)));
			markers.push(L.marker([-54.5,-95]).bindPopup(retreivemarker("alfriver",type)));
			markers.push(L.marker([-56.5,-90]).bindPopup(retreivemarker("dirriver",type)));
			markers.push(L.marker([-66,-81]).bindPopup(retreivemarker("staelicriver",type)));
			markers.push(L.marker([-54,-136]).bindPopup(retreivemarker("redriver",type)));
			markers.push(L.marker([-41.5,-147]).bindPopup(retreivemarker("boundaryriver",type)));
			markers.push(L.marker([-11,-145.5]).bindPopup(retreivemarker("mashashanariver",type)));
			markers.push(L.marker([-4,90.5]).bindPopup(retreivemarker("sindiokra",type)));
			markers.push(L.marker([6,46]).bindPopup(retreivemarker("sindisilmeranna",type)));
			markers.push(L.marker([40,-28]).bindPopup(retreivemarker("sindidalelda",type)));
			markers.push(L.marker([35,47]).bindPopup(retreivemarker("sindiohta",type)));
			markers.push(L.marker([52,50]).bindPopup(retreivemarker("rockriver",type)));
			markers.push(L.marker([55,75]).bindPopup(retreivemarker("runicmountains",type)));
			markers.push(L.marker([22,110]).bindPopup(retreivemarker("blackpeaks",type)));
			markers.push(L.marker([35,112.5]).bindPopup(retreivemarker("arururiver",type)));
			markers.push(L.marker([44,115]).bindPopup(retreivemarker("arariver",type)));
			markers.push(L.marker([43,96]).bindPopup(retreivemarker("dinariver",type)));
			markers.push(L.marker([62,94]).bindPopup(retreivemarker("kandorriver",type)));
			markers.push(L.marker([66.5,122]).bindPopup(retreivemarker("yellowriver",type)));
			markers.push(L.marker([62,150]).bindPopup(retreivemarker("dormanriver",type)));
			
			//add them to the map
			addmarkers();
		});
		$("#clear").click(function() {
			clearmarkers();
		});
	</script>
{% endblock %}
