{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}
{% block body %}
		<p>
			Welcome to the world of Elthelas, feel free to browse the map at the right, or select one of the links below to lookup specific
			information on an area or location.
		</p>
    <input type="button" value="Landmarks" id="landmarks" class="btn btn-default" />
    <input type="button" value="Cities" id="cities" class="btn btn-default" />
    <input type="button" value="Nations" id="nations" class="btn btn-default" />
    <input type="button" value="Continents and Oceans" id="continents" class="btn btn-default" />
    <input type="button" value="Geographical Features" id="features" class="btn btn-default" />
    <input type="button" value="Clear" id="clear" class="btn btn-default" />
  		<div id="map" style="width: 100%; height: 800px; margin: 10px; float: right;"></div>
    
{% endblock %}
{% block javascripts %}
  <!--<script src="{{asset('angularjs/1.3.14/angular.min.js', 'cdn')}}"></script>-->
  <script src="{{asset('jquery/2.1.3/jquery.min.js', 'cdn')}}"></script>
  <script src="{{asset('jqueryui/1.11.3/jquery-ui.min.js', 'cdn')}}"></script>
  {% javascripts '@AppBundle/libraries/*' '@AppBundle/js/initialize.js' output='js/script.js'%}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script src='/js/endscripts.js'></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	
  <script type="text/javascript">
    $("#main").removeClass("col-md-10").addClass("col-md-9");
    $("#sidebar").removeClass("col-md-9").addClass("col-md-3");
		var map = L.map('map').setView([0, 0], 2);
		L.tileLayer('/images/maps/tiles/{z}/{y}/{x}.png', {
		    attribution: '|--------| = 320/160/80/40 miles by zoom | map image created by Heather Domaszek',
			minZoom: 0,
		    maxZoom: 4,
		    tms: true,
		    continuousWorld: true
		    //noWrap: true
		}).addTo(map);
		var markers = [];
		function clearmarkers() {
			for(i = 0;i<markers.length;i++) {
				map.removeLayer(markers[i]);
			}		
			markers = [];
    }

		function addmarker(markers, name, coordinates, type) {
			$.get("/world/" + type + "/" + name + ".html", function(data) {
          marker = L.marker(coordinates);
          $(marker).click(function() {
            $("#sidebar").html(data);
          });
          markers.push(marker);
          map.addLayer(marker);
        });
		}
    $("#nations").click(function() {
      clearmarkers();
      var type="nations";
      addmarker(markers, "alfadir", [-56,-94], type);
      addmarker(markers, "arad", [5,132], type);
      addmarker(markers, "curinor", [50,55], type);
      addmarker(markers, "degakta", [-60,60], type);
      addmarker(markers, "demalthor", [20,55], type);
      addmarker(markers, "dera", [26,-125], type);
      addmarker(markers, "deradragorim", [30,-85], type);
      addmarker(markers, "dormania", [60,135], type);
      addmarker(markers, "dragonhome", [0,-130], type);
      addmarker(markers, "eldoran", [30,-10], type);
      addmarker(markers, "gerasalim", [40,110], type);
      addmarker(markers, "gnarra", [-5,-30], type);
      addmarker(markers, "gorgro", [-70,-100], type);
      addmarker(markers, "hisrudetan", [-34,-92], type);
      addmarker(markers, "kandor", [65,91], type);
      addmarker(markers, "malinval", [-10,90], type);
      addmarker(markers, "morrindim", [-45,-20], type);
      addmarker(markers, "nerim", [-60,125], type);
      addmarker(markers, "olda", [-17,-2], type);
      addmarker(markers, "riftlanwilds", [-22,-145], type);
      addmarker(markers, "sage", [-34,-70], type);
      addmarker(markers, "seran", [-43,140], type);
      addmarker(markers, "shendarel", [-2,-4], type);
      addmarker(markers, "staelia", [-67,-75], type);
      addmarker(markers, "stagenheim", [-56,-70], type);
      addmarker(markers, "terron", [-5,146], type);
      addmarker(markers, "zelfir", [-54,-127], type);
      
    });
		$("#landmarks").click(function() {
			//clear the old markers
			clearmarkers();
			
			//create new ones
			var type = "landmarks";
      addmarker(markers, "curestan", [65,102], type);
      addmarker(markers, "abyssalgateofdera", [27,-134], type);
			addmarker(markers, "abyssalgateofmarinda", [-60,84.5], type);
			addmarker(markers, "dalokra", [0,79.5], type);
			addmarker(markers, "dera", [26,-125], type);
			addmarker(markers, "fang", [-65,114], type);
			addmarker(markers, "fortressoflight", [17.5,90], type);
			addmarker(markers, "gaiasgrove", [-5,-30], type);
			addmarker(markers, "godspire", [40,-5], type);
			addmarker(markers, "greatramp", [36.5,144], type);
			addmarker(markers, "irontriangle", [-53,143.5], type);
			addmarker(markers, "nerim", [-60,125], type);
			addmarker(markers, "peloria", [-20,118], type);
			addmarker(markers, "sorcerersprison", [-43,-158], type);

		});
    $("#continents").click(function() {
      clearmarkers();
      
      var type = "continents";
      addmarker(markers,"amatheranocean", [-70, -145], type);
      addmarker(markers, "atyrea", [-56, -82], type);
      addmarker(markers, "dragonsea", [-37, -115], type);
      addmarker(markers, "easternocean", [55, 174], type);
      addmarker(markers, "elathia", [20, 90], type);
      addmarker(markers, "iceocean", [75, 50], type);
      addmarker(markers, "mermaidsea", [-58, -112], type);
      addmarker(markers, "riftlan", [-15, -145], type);
      addmarker(markers, "southsea", [-75, 50], type);
      addmarker(markers, "tradesea", [5,-40], type);
      
    });
    $("#cities").click(function() {
      clearmarkers();
      var type = "cities";
      addmarker(markers, "alados", [0, 0], type);
      addmarker(markers, "albeliath", [0, 0], type);
      addmarker(markers, "aridhem", [13,63.5], type);
      addmarker(markers, "atyrao", [0, 0], type);
      addmarker(markers, "barak", [0, 0], type);
      addmarker(markers, "craftheim", [0, 0], type);
      addmarker(markers, "curinkeep", [60.5, 64.5], type);
      addmarker(markers, "damat", [0, 0], type);
      addmarker(markers, "dera", [0, 0], type);
      addmarker(markers, "desadorel", [0, 0], type);
      addmarker(markers, "dieel", [0, 0], type);
      addmarker(markers, "dima", [0, 0], type);
      addmarker(markers, "diya", [0, 0], type);
      addmarker(markers, "eastguard", [31.5,119.5], type);
      addmarker(markers, "estapor", [0, 0], type);
      addmarker(markers, "falak", [0, 0], type);
      addmarker(markers, "faran", [0, 0], type);
      addmarker(markers, "farengar", [0, 0], type);
      addmarker(markers, "forbel", [0, 0], type);
      addmarker(markers, "fradae", [0, 0], type);
      addmarker(markers, "gnoma", [0, 0], type);
      addmarker(markers, "granitebluff", [0, 0], type);
      addmarker(markers, "gulutheim", [0, 0], type);
      addmarker(markers, "highhammer", [0, 0], type);
      addmarker(markers, "ifritan", [0, 0], type);
      addmarker(markers, "instar", [0, 0], type);
      addmarker(markers, "kaland", [0, 0], type);
      addmarker(markers, "kelas", [0, 0], type);
      addmarker(markers, "kimly", [0, 0], type);
      addmarker(markers, "lastwatch", [0, 0], type);
      addmarker(markers, "loridesa", [0, 0], type);
      addmarker(markers, "makhol", [0, 0], type);
      addmarker(markers, "makir", [0, 0], type);
      addmarker(markers, "malgeth", [0, 0], type);
      addmarker(markers, "malidal", [0, 0], type);
      addmarker(markers, "mandon", [0, 0], type);
      addmarker(markers, "marinda", [-60,84.5], type);
      addmarker(markers, "marinval", [0, 0], type);
      addmarker(markers, "milan", [0, 0], type);
      addmarker(markers, "mordaserekhai", [-14.5, 116], type);
      addmarker(markers, "morrind", [-52,-16], type);
      addmarker(markers, "nerim", [-60,125], type);
      addmarker(markers, "northport", [0, 0], type);
      addmarker(markers, "ochreken", [0, 0], type);
      addmarker(markers, "parakas", [18, 105], type);
      addmarker(markers, "pelgan", [0, 0], type);
      addmarker(markers, "peloria", [0, 0], type);
      addmarker(markers, "poron", [0, 0], type);
      addmarker(markers, "portsmith", [0, 0], type);
      addmarker(markers, "punbar", [0, 0], type);
      addmarker(markers, "purs", [0, 0], type);
      addmarker(markers, "sage", [0, 0], type);
      addmarker(markers, "seldan", [0, 0], type);
      addmarker(markers, "shodal", [0, 0], type);
      addmarker(markers, "sofala", [0, 0], type);
      addmarker(markers, "sreppe", [0, 0], type);
      addmarker(markers, "storval", [0, 0], type);
      addmarker(markers, "stromforde", [0, 0], type);
      addmarker(markers, "strovenguard", [0, 0], type);
      addmarker(markers, "sunra", [0, 0], type);
      addmarker(markers, "swava", [0, 0], type);
      addmarker(markers, "tarum", [0, 0], type);
      addmarker(markers, "tenecha", [0, 0], type);
      addmarker(markers, "torinhammer", [0, 0], type);
      addmarker(markers, "westport", [0, 0], type);
      addmarker(markers, "zelfin", [0, 0], type);
    });
		$("#features").click(function() {
			//clear the old markers
			clearmarkers();
			
			//create new ones
			var type = "features";
			addmarker(markers, "blackshardpass", [28,121], type);
			addmarker(markers, "blightedgap", [16,85], type);
			addmarker(markers, "demonpeaks", [-16,-160], type);
			addmarker(markers, "desertdespair", [-22,55], type);
			addmarker(markers, "fireislands", [-58,-61], type);
			addmarker(markers, "glasscliff", [-15,45], type);
			addmarker(markers, "goldenpass", [5,68], type);
			addmarker(markers, "icewastes", [-74,-110], type);
			addmarker(markers, "mithrilhills", [42,45], type);
			addmarker(markers, "moonpass", [22,45], type);
			addmarker(markers, "nadrakriver", [0,115.5], type);
			addmarker(markers, "rustdesert", [10,100], type);
			addmarker(markers, "sarialake", [37,103], type);
			addmarker(markers, "serpentsspine", [-40,-46], type);
			addmarker(markers, "titanspeaks", [-55,123], type);
			addmarker(markers, "trollpass", [-68,-95], type);
			addmarker(markers, "undeadwoods", [37,0], type);
			addmarker(markers, "veldt", [0,-145], type);
			addmarker(markers, "worldcrack", [32,143], type);
			addmarker(markers, "smugglerspass", [16,-128], type);
			addmarker(markers, "miragelake", [14,-143], type);
			addmarker(markers, "dragonhomemountains", [-10,-132], type);
			addmarker(markers, "ruuriver", [-36,-82], type);
			addmarker(markers, "alfriver", [-54.5,-95], type);
			addmarker(markers, "dirriver", [-56.5,-90], type);
			addmarker(markers, "staelicriver", [-66,-81], type);
			addmarker(markers, "redriver", [-54,-136], type);
			addmarker(markers, "boundaryriver", [-41.5,-147], type);
			addmarker(markers, "mashashanariver", [-11,-145.5], type);
			addmarker(markers, "sindiokra", [-4,90.5], type);
			addmarker(markers, "sindidalelda", [40,-28], type);
			addmarker(markers, "sindisilmeranna", [6,46], type);
			addmarker(markers, "sindiohta", [35,47], type);
			addmarker(markers, "rockriver", [52,50], type);
			addmarker(markers, "runicmountains", [55,75], type);
			addmarker(markers, "blackpeaks", [22,110], type);
			addmarker(markers, "arururiver", [35,112.5], type);
			addmarker(markers, "arariver", [44,115], type);
			addmarker(markers, "dinariver", [43,96], type);
			addmarker(markers, "kandorriver", [62,94], type);
			addmarker(markers, "yellowriver", [66.5,122], type);
			addmarker(markers, "dormanriver", [62,150], type);
      addmarker(markers, "exodusisthmus", [-51,-110], type);
		});
		$("#clear").click(function() {
			clearmarkers();
		});
	</script>
{% endblock %}
