<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include "::stylesheets.html.twig" %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
        <div class="container-fluid">
            {% include "::header.html.twig" %}
            {% include "::topnav.html.twig" %}
            <aside class="col-md-2">
                {% block sidebar %} {% endblock %}
            </aside>
            <main class="col-md-10">
                {% block body %}{% endblock %}
            </main>
            {% include "::footer.html.twig" %}
        </div>
        {% block javascripts %}{% include "::javascripts.html.twig" %}{% endblock %}
    </body>
</html>
