<!DOCTYPE html>
<html>
    <head>
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="width">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        {% block seo %}{% endblock %}
        <title>{% block title %}{{ pagetitle|default("Elthelas Campaign Setting")}}{% endblock %}</title>
        <link rel="alternate" href="{{app.request.uri}}" hreflang="en-us" />
        {% include "::stylesheets.html.twig" %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-49438333-2', 'auto');
          ga('send', 'pageview');
        
        </script>
    </head>
    <body>
        <div class="container-fluid">
            {% include "::header.html.twig" %}
            {% include "::topnav.html.twig" %}
            <aside id="sidebar" class="col-md-2">
                {% block sidebar %} {% endblock %}
            </aside>
            <main id="main" class="col-md-10">
                {% block body %}{% endblock %}
            </main>
            {% include "::footer.html.twig" %}
        </div>
        {% block javascripts %}{% include "::javascripts.html.twig" %}{% endblock %}
        {% block localscripts %}{% endblock %}
    </body>
</html>
