<!DOCTYPE html>
<html>
    <head>
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="width">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8" />
        <title>{% block title %}{{ pagetitle|default("Elthelas Campaign Setting")}}{% endblock %}</title>
        {% include "::stylesheets.html.twig" %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
        <div class="container-fluid">
            {% include "::header.html.twig" %}
            {% include "::topnav.html.twig" %}
            <aside id="sidebar" class="col-md-2">
                {% block sidebar %} {% endblock %}
            </aside>
            <main id="main" class="col-md-10">
                {% block body %}{% endblock %}
            </main>
            {% include "::footer.html.twig" %}
        </div>
        {% block javascripts %}{% include "::javascripts.html.twig" %}{% endblock %}
    </body>
</html>
