
<header class="header">
    <h1>
      <a href="{{ path('homepage') }}">
      <img src="{{ asset('images/swordshieldlogo.png') }}" alt="" class="logo" /><span>Elthelas Campaign Setting {{ pagetitle|default(" ") }}</span>
      </a>
    </h1>

</header>