<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">
            Home
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li><a href="{{ path('dmtools') }}">DM Tools</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Reference <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('ref_manual')}}">Reference Home</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('calendar')}}">Calendar</a></li>
            <li><a href="{{ path('cosmology')}}">Cosmology</a></li>
            <li><a href="{{ path('astronomy')}}">Astronomy</a></li>
            <li><a href="{{ path('ref_magic')}}">Magic</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('show_god')}}">Gods</a></li>
            <li><a href="{{ path('ref_divines')}}">Divine Beings</a></li>
            <li><a href="{{ path('ref_domains')}}">Domains</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('ref_races')}}">Races</a></li>
            <li><a href="{{ path('ref_classes')}}">Classes</a></li>
            <li><a href="{{ path('ref_lang')}}">Languages</a></li>
          </ul>
        </li>
        <li>
            <a href="{{path("history_index")}}">History</a>
        </li>
        <li class="dropdown">
            <a href="{{ path('geography') }}" >Geography</a>
        </li>
      </ul>
      <form class="navbar-form navbar-right search" role="search">
            <script>
            (function() {
              var cx = '002019895859863268942:tbtmwpd5jy8';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                  '//www.google.com/cse/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:searchbox-only></gcse:searchbox-only>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
