	<h4>Glass Cliff</h4>
  <p>
		The Glass Cliff is a 1000 ft smooth vertical plane that sits on the southern border of Eldoran on the Elathian continent and runs for nearly 300 miles across, a
		remnant of the God's War, most historians and theologists believe it to be the work of Molton, the God of Fire. Nevertheless, it serves as an effective border
		between Eldoran and Malinval, and ensures relative safety from direct invasion for both sides. Attempts to take samples by the elves have proven that it is not
		in fact glass, but a smooth, dense diamond lattice not even adamantine can puncture, and that appears to absorb magical energy.
	</p>