	<h4>Moon Pass</h4>
  <p>
		Moon Pass for many centuries was internal to Eldoran, simply a way across the mountains that seperated the lands of wood elf from moon elf. When Demal Thor declared independence, that
    changed quickly. Instead it became a major strategic strongpoint, and the site of several major battles. The successful defense of the pass by the moon elves meant that the high elves
    had to either attack north of the mountains, where their supply caravans were regularly raided by dwarf irregulars, or to the south, where the bulk of the moon elf army held them at
    bay.
	</p>