	<h4>Smuggler's Pass</h4>
  <p>
		The Smuggler's Pass is named such because it is a well known route for smugglers who trap various creatures, extraplanar or just dangerous, on the central steppes of the Veldt on the
    journey to the coast where they can be shipped and sold on the black market or otherwise throughout the world. In ancient days it was a major throughway of Dera, but today little remains
    of the once broad roads. The city of Portsmith was actually founded at least in part to help combat the smugglers.
	</p>