{% extends 'base.html.twig' %}

{% block body %}
    <p>
      I grew up in the city of Monona, a suburb of Madison, Wisconsin (and completely surrounded by the same).
      It was an easy town to grow up in, safe streets, good schools, etc.  In high school I overloaded myself with
      extracurriculars: forensics, cross country, show choir, and drama to name a few.  I was also determined to
      learn as much as they would teach me.  During my career at MG I took every AP class I could fit in my
      schedule, 7 classes, and 9 tests.
    </p>
    <p>
      I grew up in a devout Mormon family, and so on graduating high school my immediate plan was to become
      a missionary, however my growing understanding of the world led me to a crisis of faith, and plans quickly
      changed.  After a year of working in the private sector (due to my change of plans, I had failed to apply to
      college for the fall of 2004) I started at UW - Madison as a freshman with advanced standing
      (9 AP tests led to more than a years worth of advanced standing credits).  
    </p>
    <p>
      My first goal in college was to try to understand people.  I had spent my life believing what I now
      considered an elaborate lie.  One most of the worlds population believed in, in one form or another.
      I wanted to know why.  I needed to create order in my chaotic young adult mind.  The natural places
      to look, I thought, were in the nature of the mind, psychology, and the nature of reason, philosophy.  
    </p>
    <p>
      I was not a perfect student in college.  I had to work 20+ hours a week so that I could eat.  Combined with
      the many distractions of college life(for me, primarily video games and girls), it meant my grades were
      good, but not stellar.  College was also when I cultivated a more serious interest in Ultimate, playing on
      first a friends team, and then captaining my own every summer since.  Yet despite the distractions, in
      December 2008, I graduated with a double major in psychology and philosophy.
    </p>
    <p>
      I had done my thesis in a psychology lab on campus, the Knowledge and Concepts Laboratory, working under
      Professor Tim Rogers.  This work also led to my first professional position, as Professor Rogers offered me
      a position as the Laboratory Manager, handling the day to day research duties of the laboratory, and training
      the undergraduates that funnelled in and out of the lab.  I would work in that position for two years.
      Meanwhile I began applying to graduate schools in earnest, hoping to pursue a PhD in Psychology.  With my
      3.1 GPA it was not to be however, and unwilling to take out the additional student loans that would be
      necessary to pursue a masters program, no graduate school would take me.  My (now) wife and I were engaged by
      this point, having met in the UW Concert Choir, and in June 2011 we were married at Trinity United Methodist
      Church in Madison.
    </p>
    <p>
      The next two years I entered a sort of holding pattern.  The end of my position at the lab in November 2011
      meant that was the last feasible time for entering graduate school, although I had mostly given up hope by
      then.  By the fall of 2012 I had decided to pursue programming as a career.  However, I hadn't touched
      anything more complicated than a simple vb script since my Sophemore year of highschool.  So back to school
      it was, this time at the local community college, MATC.  I started small, taking one in person and one online
      course, but the pace was frustratingly slow, so that winter and spring I endeavored to learn on my own,
      taking advantage of the many resources available online.  Codecademy, Coursera, free text books, etc.  By
      mid spring I had a basic understanding of Python, HTML, CSS, Java, PHP, and Scala.  I was a long way from
      writing professional level programs on my own however, and employers still wouldn't give me more than an
      interview(if that).  So I enrolled in the Associates Degree program at MATC, and not a moment too soon.
      My wife was pregnant.
    </p>
    <p>
      It was October 24th, in the middle of my first semester in the Web Analyst/Programmer associates degree
      program, the fall of 2013, that two amazing things happened.  The first, my wife went into labor
      (my son was born the next day), and the second, I got a job offer.  A paid 6 month internship with the
      Department of Children and Families as a web administrator.  I was learning fast now, and programming was
      only the beginning.  Programming is easy compared to raising a son.
    </p>
    <p>
      I am now nearly finished with my degree program, and will be graduating in May of 2015.  Meanwhile, my son
      is a year old, and that internship turned into a permanent position, making enough money that my wife could
      quit her job to stay home and teach voice lessons.  Life is good, but if there is one thing I know, its that
      you can never know enough.
    </p>
{% endblock %}
