{% extends 'base.html.twig' %}

{% block body %}
    <p>
      I grew up in the city of Monona, a suburb of Madison, Wisconsin (and completely surrounded by the same).
      It was 
    </p>
{% endblock %}
