<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link href='http://fonts.googleapis.com/css?family=Montez|Lusitana:400,700|Oregano:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
		<link href='css/resume.css' rel='stylesheet' type='text/css' />
		<link href='css/resumeprint.css' rel='stylesheet' type='text/css' media='print' />
	</head>
	<body>
	<div id='container'>
		<section id='nameaddress'>
			Joseph C. Harrison<br/>
			113 Violet Circle<br/>
			Madison, WI 53714<br/>
			(608)239-5790<br/>
			<a href='mailto:josephcharrison2@gmail.com'>
				josephcharrison2@gmail.com
			</a>
		</section>
		<section id='summary' class='sectionhead'>
			<h2>Professional Summary</h2>
			<p>
				I am an experienced web developer. I am proficient in Javascript, several server
				side languages, and in modern standards of HTML
				and CSS based web design.  Most of all, I am a friendly
				organized person who can interact with customers to build
				requirement sets, solve problems, and maintain a positive rapport
				between the web team and business areas.
			</p>
		</section>
		<table>
			<caption class='sectionhead'>Skills and Proficiencies</caption>
			<tr>
				<td class="firstcol">Programming Languages</td>
				<td>Javascript, PHP, Python, C#, Scala, Java, Ruby, HTML 5, CSS 3</td>
			</tr>
			<tr>
				<td class="firstcol">Database Management</td>
				<td>MySQL 5.x, Oracle SQL, Access</td>
			</tr>
			<tr>
				<td class="firstcol">Frameworks and Libraries</td>
				<td>
					JQuery, JQuery UI, Drupal 7+, Rails, Backbone.js, Angular.js 
				</td>
			</tr>
			<tr>
				<td class="firstcol">Interpersonal Management</td>
				<td>
					Customer and Personal Interaction, Peer Training, Requirements Analysis
				</td>
			</tr>
			<tr>
				<td class="firstcol">Developer Tools</td>
				<td>
					Git, Adobe Photoshop, Firebug, VIM, Bash, Apache, IIS
				</td>
			</tr>
						<tr>
				<td class="firstcol">Other Technical Skills</td>
				<td>
					Microsoft Office Suite, Linux, Active Directory, Technical Writing, Organization, Time Management, Problem Solving
				</td>
			</tr>
		</table>
		<section id='employment'>
		<h2 class='sectionhead'>Employment and Education</h2>
		<section id="dcf2" class="projects">
			<span class='date'>IT Collaboration Technician May 2014 - present</span>
			<aside>
				State of Wisconsin<br />
				Department of Children and Families<br />
				201 East Washington Avenue<br />
				Madison, WI 53708<br />
			</aside>
			<article>
				<h4>DCF Website Redesign</h4>
				<p>
					The scope of this project was a complete redesign of the Departments website, a task we undertook with
					no funding beyond staff hours, and at a time when taking on new staff was out of the question due to
					state government budget cuts.  The project required getting buy in from department leaders, picking
					a content management solution, implementing new roles and responsibilities, paring down site content,
					and creating a new site from the ground up.  My own role in the project was as follows:
				</p>
				<ul>
					<li>
						I evaluated the processes involved with website maintenance at DCF and proposed solutions
						to difficult problems, such as website bloat, poor content management, and bad user interface
						design.
					</li>
					<li>
						I designed a new user interface for the DCF Internet site based on modern coding and usability standards,
						including HTML 5, ARIA roles, 508 compliance, AJAX, Audience-based navigation, and the integration of
						analytics data into design decisions.
					</li>
					<li>
						I became the resident content management expert, implementing the new website from the web server configuration
						all the way up to site design and training content creators.
					</li>
					<li>
						I communicated with department personnel to promote project buy-in and excitement.  This included meetings
						with web editors, the Communications Director, and the Secretaries Office to promote our vision of a more
						streamlined internet.
					</li>
				</ul>
				<h4>Child Support Extranet Migration</h4>
				<p>
					In the fall of 2014 the Department of Workforce Development put us on notice that they were no longer willing to
					host a variety of content that belonged to DCF, but remained on their servers from before the departments split.
					The largest of these pieces of content was the Extranet for the Bureau of Child Support, a site containing
					policies and guidance for Child Support workers throughout the state.  It fell to the web team to design and
					implement a solution, with the constraint that we could not put up any additional web servers.  We decided on
					migrating the content to our secure external SharePoint server, a big job as the current site was a static
					HTML site with several thousand files.  My own role in the project was as follows:
				</p>
				<ul>
					<li>
						Build and configure the SharePoint site. Including managing the security, through active directory, of
						a statewide user base.
					</li>
					<li>
						Design page templates for the content creators at BCS to use.
					</li>
					<li>
						Design the folder structure and navigation of the new site.
					</li>
					<li>
						Trained the child support content creators in using SharePoint to manage web content.
					</li>
					<li>
						Design a solution for web forms that could not be migrated to SharePoint as is.
					</li>
				</ul>
				<p>Joseph Harrison</p>
				<h4>YoungStar Website Redesign</h4>
				<p>
					The YoungStar program, one of the departments most visable areas, contracted with the advertising agency
					KW2 in spring of 2014 for a new advertising campaign, to include a revamped website.  Implementation
					of the design provided by KW2 fell to the web team at DCF.  My role in the project was as follows:
				</p>
				<ul>
					<li>Convert mock-up images and wireframes to HTML, CSS, and javascript code.</li>
					<li>Build reusable page templates.</li>
					<li>Implement a responsive page design.</li>
					<li>Create more intensive pages, such as the home page, from the ground up.</li>
				</ul>
				<h4>Legislative Bill Tracking System</h4>
				<p>
					The Department regularly is required to provide an evaluation of proposed legislation for the administration on a tight
					deadline requiring multiple contributors.  The Assistant Deputy Secretary and Legislative Liaison, responsible for
					making sure this happened in a timely manner, asked for a SharePoint system to help automate the process and centralize
					the information the Department had available concerning any particular bill.  As the SharePoint administrator for the
					Department it fell to me to develop a solution.
				</p>
				<ul>
					<li>Created a SharePoint site with custom permissions, lists, and workflows.</li>
					<li>Worked through multiple rounds of user testing and changes to ensure customer needs were met.</li>
					<li>Delivered a working solution on time and under budget.</li>
				</ul>
			</article>
		</section>
		<section id="dcf" class="projects">
			<span class='date'>Web Administrator Intern November 2013 - May 2014</span>
			<aside>
				State of Wisconsin<br/>
				Department of Children and Families<br/>
				201 East Washington Avenue<br/>
				Madison, WI 53708<br/>
			</aside>
			<article>
				<h4>Lean Government Website</h4>
				<ul>
					<li>
						I worked with a committee from different business areas 
						to turn an idea for a website into an efficient
						and working finished product that adheres to 
						department and best practice standards.
					</li>
					<li>
						I negotiated with a group of 20 stakeholders, including
						the DCF Communications Director and Policy Advisors to 
						make sure that all necessary content was included while 
						keeping the website engaging for the audience and easy to navigate.
					</li>
					<li>
						I analyzed 3rd party software plugins and determined the best
						fit based on customer requirements and feedback.
					</li>
				</ul>
				<h4>Google Analytics</h4>
				<ul>
					<li>
						I trained a web developer team and several business area 
						customers in the use of Google Analytics.
					</li>
					<li>
						Worked with technologists in the department to determine the potential
						problems and needs of the applications team that could help facilitate
						a switch to Google Analytics.  I provided a potential solution and then
						assisted in the implementation of that solution.
					</li>
					<li>
						I negotiated the transfer of the first DCF web application 
						off an obsolete and hard to navigate statistics engine to the DCF 
						controlled Google Analytics platform, including 
						introducing the development team to development methods 
						that would provide a tangible increase in the benefit of
						the data collected.
					</li>
				</ul>

				<h4>Other Work</h4>
				<ul>
					<li>
						I built new web forms and pages using an XML data repository to help
						ensure accuracy of submitted data, including noscript failsafes to
						format and include XML documents directly.
					</li>
					<li>
						Handled web testing and publishing responsibilities for the Department.
					</li>
				</ul>
			</article>
		</section>
		<section id='matc' class='projects'>
			<span class='date'>
				IT Web Analyst/Programmer August 2012 - Present
			</span>
			<aside>
				Associates Degree Program<br/>
				Madison College<br/>
				1701 Wright Street<br/>
				Madison, WI 53704
			</aside>
			<article>
				<h4>Classroom Instruction</h4>
				<ul>
					<li>
						The degree program focuses on building modern dynamic
						web applications for a variety of platforms, using current
						best practice approaches such as object orientation.
					</li>
					<li>
						I have had classroom instruction in a variety of programming
						languages including C#, PHP, Oracle SQL, Javascript, Python, HTML, CSS, Ruby, and XML.
					</li>
					<li>
						I have received near perfect marks throughout my
						career at MATC, with an aggregate GPA of 3.875, while
						working full time.
					</li>
					<li>Classroom instruction also included Linux Server, and project management related coursework.</li>
					<li>I will be graduating in May of 2015.</li>
				</ul>
				<p>Joseph Harrison</p>
			</article>
		</section>
		<section id='captel' class='projects'>
			<span class='date'>
				Captioning Assistant November 2011 - November 2013
			</span>
			<aside>
				CapTel Call Center<br/>
				Ultratech Incorporated<br/>
				5801 Research Park Boulevard<br/>
				Madison, WI 53715
			</aside>
			<article>
				<h4>Telephone Captions</h4>
				<ul>
					<li>
						I used Voice Recognition software to caption telephone 
						calls for the hard of hearing in real time.
					</li>
					<li>
						I performed consistently to a high standard of 
						excellence receiving excellent marks on every 
						performance review.
					</li>
				</ul>
				<h4>Independent Study</h4>
				<ul>
					<li>
						While working full time for CapTel, I began a course of
						independent study into programming concepts.
					</li>
					<li>
						Over the course of a year of independent study, I learned
						Java, Scala, and PHP programming languages.
					</li>
					<li>
						I obtained certifications of accomplishment with 
						distinction in Functional Programming with Scala and 
						Natural Language Processing from Coursera, available 
						on request or online at <br/>
						<a href="http://elthelas-josephharrison.rhcloud.com/downloads/NLPcertificate.pdf">
						http://elthelas-josephharrison.rhcloud.com/downloads/NLPcertificate.pdf</a>
						and <br/> <a href="http://elthelas-josephharrison.rhcloud.com/downloads/Scalacertificate.pdf">
						http://elthelas-josephharrison.rhcloud.com/downloads/Scalacertificate.pdf</a>.
					</li>
				</ul>
			</article>
		</section>
		<section id='uw' class='projects'>
			<span class='date'>
				Laboratory Manager November 2009 - November 2011
			</span>
			<aside>
				University of Wisconsin - Madison
				Knowledge and Concepts Laboratory
				1202 West Johnson Street
				Madison, WI 53706
			</aside>
			<article>
				<h4>Semi-Supervised Learning in Humans and Machines</h4>
				<ul>
					<li>
						I performed a variety of experiments exploring the
						similarities and differences between semi-supervised
						learning models and real human learning performance.
					</li>
					<li>
						Research in this area led to three different research
						publications:
						<ul><li>
						<a href='http://papers.nips.cc/paper/3905-humans-learn-using-manifolds-reluctantly'>
						Humans Learn Using Manifolds, Reluctantly</a>; 
						Advances in Neural Information Processing Systems 23, 2010;<br/>
						Tim Rogers, Chuck Kalish, Joseph Harrison, Xiaojin Zhu,
						Bryan R. Gibson.
						</li><li>
						<a href='http://mindmodeling.org/cogsci2010/cogsci10_proceedings.pdf'>
						Semi-supervised learning is observed in a speeded but not an unspeeded 2D categorization task</a>;
						Proceedings of the 32nd Annual Meeting of the Cognitive Science Society, 2010;<br/>
						Bryan R. Gibson, Xiaojin Zhu, Timothy T. Rogers, Charles W. Kalish, and Joseph Harrison.
						</li>
						<li><a href='http://www.icml2010.org/papers/468.pdf'>
						Cognitive Models of Test-Item Eﬀects in Human Category Learning;
						</a>The 27th International Conference On Machine Learning, 2010;<br/>
						Xiaojin Zhu, Bryan R. Gibson, Kwang-Sung Jun, Timothy T. Rogers, Joseph Harrison, and Chuck Kalish.
						</li>
					</ul>
					</li>
				</ul>
				<h4>Human Saliency Detection</h4>
				<ul>
					<li>
						I did several experiments into saliency detection speed comparing
						machine model performance to actual human performance.
					</li>
					<li>
						Part of this work was published as:
						<a href='http://ieeexplore.ieee.org/xpl/login.jsp?reload=true&tp=&arnumber=5757471&url=http%3A%2F%2Fieeexplore.ieee.org%2Fstamp%2Fstamp.jsp%3Ftp%3D%26arnumber%3D5757471'>
						Using machines to improve human saliency detection</a>,
						Conference Record of the Asilomar Conference on Signals, Systems, and Computers, 2010;
						Rao, N.; Harrison, J.; Karrels, T.; Nowak, R.; Rogers, T.T.;
					</li>
				</ul>
				<h4>Train and Assist Undergraduate Researchers</h4>
				<ul>
					<li>
						I trained and assisted a group of 4-5 undergraduates who worked part
						time in the laboratory.
					</li>
					<li>
						I balanced work on undergraduates projects with work on my own
						projects, often with up to 6 or 7 projects in progress at
						one time.
					</li>
				</ul>
			</article>
		</section>
		<section class='projects'>
			<span class='date'>
				Bachelor of Psychology and Philosophy August 2005 - December 2008
			</span>
			<aside>
				University of Wisconsin - Madison<br/>
				College of Letters and Sciences<br/>
				Department of Psychology<br/>
				1202 West Johnson Street<br/>
				Madison, WI 53706<br/>
				Department of Philosophy<br/>
				5185 Helen C White Hall<br/>
				600 N Park Street<br/>
				Madison, WI 53706
			</aside>
			<article>
				<h4>Full Time Student, Part Time Worker</h4>
				<ul>
					<li>
						I worked approximately 20 hours a week throughout my
						career at UW-Madison at various part time jobs
						while taking classes full time.
					</li>
					<li>
						I graduated from my program a semester early with a
						double major.
					</li>
				</ul>
				<h4>Research Focus</h4>
				<p>
					I studied a variety of topics, but my primary areas of interest were the following:
				</p>
				<ul>
					<li>
						Scientific and statistical methods.
					</li>
					<li>
						Conceptual understanding of language.
					</li>
					<li>
						Subjective perception.
					</li>
				</ul>
			</article>
			<h2 class="sectionhead">References Available Upon Request</h2>	
		</section>
		
		</section>

		
	<footer>
		
	</footer>
	</div>
	</body>
</html>
