.logo {
  height: 100%;
  width: auto;
  float: left;
}
.header {
  height: 75px;
  margin-bottom: 5px;
  h1 {
    width: auto;
    float: left;
    a {
      color: black;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  margin-left: -15px;
}
#main {
  margin-bottom: 65px;
}
.gsc-search-button
{
    background-color: #1a4195;
    border-radius: 5px;

}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    background-color: #1a4195 !important;
    background-image: url("http://www.google.com/uds/css/v2/search_box_icon.png") !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 16px !important;
    border-color: #1a4195 !important;
    filter: none;
}

@media screen and (max-width: 550px) {
  .header h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 430px) {
  .header h1 {
    font-size: 18px;
  }
}

#gsc-iw-id1 {
  height: 30px !important;
}

.hidden {
  display: none;
}

.racebutton {
  margin: 8px;
}