  <h4>Abyssal Gate of Marinda</h4>
  <p>
    Marinda was, until recently, a bustling trading hub of the Morrind, until the appearance of an abyssal gate.  The
    city is now an extension of the abyss into the mortal realm, a literal hell on earth.  The gate stands open in what
    was once the center of the city, and demons move freely between this realm and their own.  It is a war that has
    consumed the Morrind for nearly a year now, as they desperately try to contain the demon invasion.  It is also the
    first war in a thousand years that the trollkin have fought on their own behalf, as they have marshalled all of
    their available armies to stem the tide, and keep the demons from reaching their homeland of Degak'Ta.
  </p>