{% extends 'AppBundle:ref:index.html.twig' %}
{% block body %}
	<h3>The Calendar</h3>
<p>The current calendar in use was developed by the Morrind Dwarves shortly after contact with the mainland dwarves was reestablished.  Counting years from first contact, YFC, the calendar spread among their many trading partners until it came into common use throughout the civilized world.  However, the original meaning of YFC has been corrupted over time, and it is now commonly believed(except for among the dwarves) to mean Years since First Civilization, counting the years since society reestablished itself and the first cities were built.  The current year is 1843.</p>
<p>Each year has 360 days split into 8 40 day months.  The months are named after various Gods and are:</p>
<ul>
	<li>Dorunor
		<ul>
			<li>1st of Dorunor is the winter solstice</li>
		</ul>
	</li>
	<li>Trimalan</li>
	<li>Sylvanus
		<ul>
			<li>10th of Sylvanus is the vernal equinox</li>
		</ul>
	</li>
	<li>Gaiana</li>
	<li>Maridia
		<ul>
			<li>20th of Maridia is the Summer Solstice</li>
		</ul>
	</li>
	<li>Moltyr</li>
	<li>Saris
		<ul>
			<li>30th of Saris is the autumnal equinox</li>
		</ul>
	</li>
	<li>Tockra</li>
	<li>Amatherin</li>
</ul>
<p>The Morrind named the days of the week according to several of the unique races of Elthelas.  They are in order from the beginning of the week to the end:</p>
<ul>
	<li>Godsday</li>
	<li>Elvesday</li>
	<li>Gnomesday</li>
	<li>Dragonsday</li>
	<li>Mansday</li>
	<li>Dwarvesday</li>
	<li>Trollsday</li>
	<li>Orcsday</li>
</ul>
<p>There are special festivals held in honor of the Gods on the Godsdays of each Gods named month by their particular worhsippers.  The 10 Gods who do not have a particular month, Alohim, Bahamut, Cora, Dorman, Fanome, Malik, Mat'raktha, Nera, Tiamat, and Trolka have festivals on other days if any.  For example Alohim has a festival on the Summer Solstice.
	<h3>Sylvanus</h3>
	<table id='calendar' class="table table-bordered">
		<tr>
			<th>Godsday</th><th>Elvesday</th><th>Gnomesday</th><th>Dragonsday</th><th>Mansday</th><th>Dwarvesday</th>
			<th>Trollsday</th><th>Orcsday</th>
			
		</tr>
		<tr>
			<td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td>
		</tr>
		<tr>
			<td>9</td>
			<td>
				10
				<br />
				Vernal Equinox
			</td>
			<td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td>
		</tr>
		<tr>
			<td>17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td>
		</tr>
		<tr>
			<td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td><td>32</td>
		</tr>
		<tr>
			<td>33</td><td>34</td><td>35</td><td>36</td><td>37</td><td>38</td><td>39</td><td>40</td>
		</tr>
	</table>
{% endblock %}
