{% extends 'AppBundle:ref:index.html.twig' %}


{% block body %}
  <p>
    There are no custom classes for the Elthelas Campaign Setting for use with 5th Edition at this time.  Please refer to the Player's Handbook for class information.
  </p>
{% endblock %}
