{% extends 'AppBundle:ref:index.html.twig' %}
{% block body %}
	<h2>Planar Cosmology</h2>
		<p>
		The Planes in Elthelas are geographically coexistent, but the actual matter making them up is seperated by barriers of arcane
		force.  Thus, planes being adjacent is simply describing that there is only one barrier between them.  Since cutting through
		multiple planar barriers at once requires exponentially more energy, planar travel typically requires movement through adjacent
		planes, usually the astral plane.
		</p>
      <h2>The Central Planes</h2>
        <h3>Elthelas - The Material Plane</h3>
        <p>
            The material plane sits at the confluence of the other planes, and exists as the primary creation.  The material plane behaves
            as one expects, obeying the standard laws of physics outside of magical intervention.  Gaian keeps her home on the material plane,
            the only God who is permitted by the rules of the Gods Agreement to manifest on the material plane physically, simply because she has
            no other home.  It is theorized that other material planes may exist, but their existence has never been confirmed.
        </p>
        <h3>Ethereal Plane</h3>
        <p>
            The Ethereal Plane is less a plane on it's own, and exists more as the space between the planes.  See the Dungeon Master's Guide (p48-49)
			for a detailed description of the Ethereal Plane.
        </p>
		<div>
			<h3>Astral Plane</h3>
			<p>
				The home of dreams and thoughts. See the Dungeon Master's Guide (p46-48) for a detailed description of the Astral Plane.
			</p>
			<h4>Aurumal, the City of Gold</h4>
			<p>
				Floating freely through the Astral Sea, lies the city of Aurumal, the home of Maris, the God of Trade.  The huge metropolis is the
				final resting place of the devotees of Maris.  From here interplanar ships travel all the known planes (as well as unknown)
				seeking wealth through trade.  The goods they trade in run from the mundane, such as ore and timber, to the unimaginable, such
				as selling the feeling one gets when completing good works to demonic junkies in the abyss.  Maris presides over all of it, smiling
				as his servants continue their noble work through life and death.
			</p>    	
		</div>
        <h3>Shadowfell</h3>
        <p>
            
        </p>
        <h3>Feywild</h3>
        <p>
          
        </p>
        <h3>Dragon Eyrie</h3>
        <p>
          Home of Bahamut and Tiamat
        </p>
      <h2>The Inner Planes</h2>
        <h3>Plane of Air</h3>
        <p>

        </p>
        <h3>Plane of Water</h3>
        <p>
            Home of Trimala
        </p>
        <h3>Plane of Fire</h3>
        <p>
            Home of Molton
        </p>
        <h3>Plane of Earth</h3>
        <p>
          
        </p>
        <h3>Negative and Positive Energy Planes</h3>
        <p>
          Divine energy can be split into two forces, negative and positive energy.  These forces on their own can be used to produce magical effects,
          and are used by clerics for many purposes.  The combination of these energies into a precise mix is the source of consciousness and life.
        </p>
        <h4>Positive Energy Plane</h4>
        <p>
          
        </p>
        <h4>Negative Energy Plane</h4>
        <p>
          
        </p>
        <h4>The Confluence</h4>
        <p>
          The point where the positive and negative energy planes come together is known as the confluence.  At this point sits an imposing palace
          of white and black stone, the home of the Goddess Nera.
        </p>
        
      <h2>The Outer Planes</h2>
        <h3>Kingdom of Celestia</h3>
        <p>
            Lawful Good, Home of Alohim and Dorman.
        </p>
        <div>          
          <h3>Plains of Elysium</h3>
          <p>
            Lawful Good, Neutral Good, Home of Amathera
          </p>
          <h4>Villam Aestas</h4>
          <p>
            Home of Sara
          </p>
        </div>
        <h3>The Beastlands</h3>
        <p>
          Neutral Good, Chaotic Good
        </p>
        <h3>Arborea</h3>
        <p>
          Chaotic Good, Home of Sylvan
        </p>
        <h3>Ysgard</h3>
        <p>
          Chaotic Good, Chaotic Neutral, Home of Cora
        </p>
        <h3>Limbo</h3>
        <p>
          Chaotic Neutral
        </p>
        <h3>Pandemonium</h3>
        <p>
          Chaotic Neutral, Chaotic Evil Home of Malik
        </p>
        <h3>The Abyss</h3>
        <p>
          Chaotic Evil
        </p>
        <h3>Carceri</h3>
        <p>
          Netural Evil, Chaotic Evil, Home of Trolka
        </p>
        <h3>Hades</h3>
        <p>
          Neutral Evil
        </p>
        <h3>Gehenna</h3>
        <p>
          Neutral Evil, Lawful Evil 
        </p>
        <h3>The Nine Hells</h3>
        <p>
          Lawful Evil
        </p>
        <h3>Acheron</h3>
        <p>
          Lawful Neutral, Lawful Evil, Home of Mat'raktha
        </p>
        <h3>Mechanus</h3>
        <p>
          Lawful Neutral, Home of Tock
        </p>
        <h3>Arcadia</h3>
        <p>
            Lawful Good, Lawful Neutral, Home of Dorun
        </p>
      <h2>The Outlands</h2>

        
{% endblock %}
