{% extends 'AppBundle:ref:index.html.twig' %}
{% block body %}
	<h3>Planar Cosmology</h3>
		<p>
		The Planes in Elthelas are geographically coexistent, but the actual matter making them up is seperated by barriers of arcane
		force.  Thus, planes being adjacent is simply describing that there is only one barrier between them.  Since cutting through
		multiple planar barriers at once requires exponentially more energy, planar travel typically requires movement through adjacent
		planes, usually the astral plane.
		</p>
		<h4>Connections Between the Planes</h4>
		<p>
		The material plane is directly adjacent to the Astral Plane, the Ethereal Plane, the Shadow Plane, and Purgatory.  The Astral Plane
		is also adjacent to the Planes of Earth, Fire, Air, and Water, as well as the Positive Energy Plane, the Negative Energy Plane, and
		Purgatory.
		</p>
		<p>
		Purgatory is connected to each of the Outer Planes as well as the Astral Plane.
		</p>
		<p>
		Among the outer planes, the Kingdom of Celestia, The Protected Realms, Dragon Home, and the Paradise of the Noble are connected to
		the Positive Energy Plane as well as Purgatory.
		</p>
{% endblock %}
