{% extends 'AppBundle:ref:index.html.twig' %}
{% block body %}
	<p>
		The beings listed here are incredibly powerful immortal beings, but do not rank among the Gods.  This means they are weaker, lacking the
		omniscience of the Gods, and having far more limited abilities, but allows them to use their abilities more directly in the world per the
		terms of the Gods Agreement.
	</p>
	<h3>Ara</h3>
	<p>
		Alignment: Neutral
	</p>
	<p>
		Queen of the Ocean, Ara is an ancient Fey and a powerful servant of Trimala.  She is often called upon to punish sailors or other mortals
		who disobey or shun the will of the Storm Goddess.
	</p>
	<h3>Aruru</h3>
	<p>
		Alignment: Neutral
	</p>
	<p>
		Aruru is the messenger angel for communications between the Gods, freely allowed in all of the planes and all citadels of the Gods, her
		neutrality is absolute, as is her ability of movement.
	</p>
	<h3>Asmodeus</h3>
	<p>
		Alignment: Lawful Evil
	</p>
	<p>
		The arch-devil, Lord of the Nine Hells, Asmodeus was a major player in the Gods War, allying himself with Mat'raktha and Malik.  Since the
		Gods War, Asmodeus has never again taken such an agressive stance towards the world, his lawful nature forcing him to be bound to the
		agreement he made at the end of the war.  Instead he seeks to gain souls and influence for his kingdom by making deals with other beings.
		He has been known to intervene more directly, however, when others break their agreements with him.
	</p>
	<h3>Azrael</h3>
	<p>
		Alignment: Neutral
	</p>
	<p>
		Also called the Angel of Death, Azrael is a servant of Nera, often representing her darker aspect, but nevertheless maintaining her neutral
		stance in the world.  He is the enforcer who prevents immortality.  Legend has it that Dorman I challenged Azrael to single combat, and gained
		immortality, and later godhood, by defeating him.
	</p>
	<h3>Ba'al</h3>
	<p>
		Alignment: Chaotic Evil
	</p>
	<p>
		The Master of the Abyss, Greatest of Demons, Ba'al.  Ba'al is not truly the leader of the abyss, it is hard to rule a land of pure chaos and
		evil, but he is the closest there is to a single leader, in that no other Demon dares to challenge him.  While technically a party to the
		Gods Agreement, Ba'al routinely ignores it, sending demons into the Material Plane whenever the opportunity presents itself.  This has led
		to several major cataclysmic events on Elthelas, some recorded in history, and others not.
	</p>
	<h3>Barachiel</h3>
	<p>
		Alignment: Neutral Good
	</p>
	<p>
		The Angel Protector, Barachiel is the consort of Amathera, acting in her stead to defend the weak and lift up the downtrodden.
	</p>
	<h3>Bartholomew</h3>
	<p>
		Alignment: Chaotic Neutral
	</p>
	<p>
		Known as the Avatar of Chaos, Bartholomew often appears as a little child.  A 'servant' of the Chaos Gods--Malik, Molton, and Cora--he is
		tasked with disrupting the lawful order of the world (his 'servant' status is more a technicality than anything, tales tell that he rarely follows
		the expressed wishes of these Gods either, they have simply taken responsibility for him among the pantheon, protecting him from more severe
		retribution).  He is involved with everything from starting rebellions to unpredictable natural disasters
		such as earthquakes.  He is often reviled by the leaders of the more law-bent churches, such as those worshipping Alohim, Bahamut, Dorman, or even
		Mat'raktha, as many tales tell of how he has dashed the well laid plans of these Gods quests for order through power.
	</p>
	<p>
		A common way to curse someone is to give them the sign of Bartholomew, a drawing combining the holy symbols of the 3 Gods he serves, a banner all
		but consumed in flames over a compass rose of arrows.
	</p>
	<h3>Castael</h3>
	<p>
		Alignment: Neutral
	</p>
	<p>
		Castael, the watcher, is a servant of Nera, and is responsible for enforcing the Gods Agreement, his sword is rumored to be able to slay
		even a God.  Legend has it that Castael has died many times to many challengers, but he is always reborn.  Certain apocryphal legends
		state that Castael is actually the name of a position, rather than one being, and whoever takes up the Sword of Castael is cursed to
		enforce the will of Nera over the other Gods.
	</p>
	<h3>Dina</h3>
	<p>
		Alignment: Neutral Good
	</p>
	<p>
		The angel of lore and learning, she is credited with teaching the first mortals to read and write.
	</p>
	<h3>Gabriel</h3>
	<p>
		Alignment: Lawful Good
	</p>
	<p>
		The messenger, Gabriel works as a servant of the Gods of Good, Alohim, Amathera, Bahamut, Cora, and Sara.  Gabriel's roll is primarily to
		bring messages of great importance, or that require a certain amount of pomp and circumstance, to followers of the various faiths.
	</p>
	<h3>'Me'</h3>
	<p>
		Alignment: Chaotic Neutral
	</p>
	<p>
		'Me' is a 'planar' being, not to be differentiated from an 'extraplanar' being, but really from beings who are of planes at all.  'Me' could
		probably best be described as a sentient living plane(or potentially demi-plane) of existence.  The existence of 'Me' is only known about
		due to a few magical accidents
		in which wizards of one sort or another found themselves on the plane of 'Me'.  It isn't in fact clear if there is just one such plane, or if
		perhaps there are many.  The name 'Me' stems mostly, it seems, from not having a name, or really understanding the concept of names, while
		still having an individual identity.  The plane, when asked who it is, has been known to express confusion and repeat the statement,
		"I am me."
	</p>
	<h3>Mikael</h3>
	<p>
		Alignment: Chaotic Evil
	</p>
	<p>
		The Angel of Vengeance is more demon than angel.  After being badly wounded in the Gods War, when he was a servant of Alohim, Mikael was
		transformed in personality, and is the being called upon by those seeking vengeance.  Today, he serves no God, and is feared by followers
		of all.
	</p>
	<h3></h3>
{% endblock %}
