{% extends 'AppBundle:ref:index.html.twig' %}
{% block body %}

		<h3>The Forces of Magic</h3>

		<p>
				In our world we are familiar with the 4 fundamental forces.  The strong nuclear force, weak nuclear force, electromagnetic force,
				and gravitational force.  These forces account for everything in our universe.  In the universe of Elthelas and D&amp;D there are
				additional forces that act on the universe, namely, the divine force, and the arcane force.
		</p>
		<h4>The Arcane Force</h4>
		<p>
				The arcane force is emitted by arcanum, a rare material that is in fact a unique subatomic particle that is attracted to itself, and
				reacts to intentionality(a manifestation of the divine force) by emitting forces of its own on standard matter.  Most of the
				universes arcanum is noninteractive, and forms a barrier between the many "planes" of existence.  It is theorized that in ancient
				days the Gods built these walls of Arcanum to create greater order in the universe by seperating arcanum from ordinary matter,
				allowing the divine force to act without causing unpredictable side effects.  However, philosophers have postulated that this theory
				may have a fundamental flaw, as the large collection of divine force necessary to form a God would have created massive chain
				reactions in a universe where Arcanum was more evenly distributed, likely dispersing the divine force in the process.
		</p>
		<p>
				Most accessible arcanum in the universe is found in crystal-like deposits.  Sometimes these deposits are buried in rock, sometimes
				they are free-floating, and on occasion they even fall from space.  Gravity appears to act on the deposits normally, but the other
				forces can have unpredictable results on a deposit of Arcanum.  Wizards have learned how to focus their divine soul to interact with
				arcanum deposits to produce predictable results, usually by scratching runes onto the surface of a crystal that can be read and
				manipulated later, and sometimes by introducing other forms of matter.  The ability to produce increasingly powerful effects
				requires increasingly large deposits of arcanum(although it is not consumed in the process) however, repeated use of an arcanum
				crystal attracts free particles of arcanum, incrementally increasing the size of the crystal, and allowing more powerful magic to be
				cast with it(in game this is represented through a wizard or other arcane casters experience level).  Certain creatures and people
				have arcanum in their blood (such as dragons and sorcerers) this allows them to produce magical effects without an outside source of
				arcanum, but because they cannot inscribe on the arcanum, the number of effects they are able to produce is limited by the power of
				their divine spark.  It is common practice among the bardic colleges to articificially infuse the blood with a small amount of
				arcanum so that the student can produce effects to dazzle and awe their audiences.
		</p>
		<h4>The Divine Force</h4>
		<p>
				The divine force is the manifestation of life itself, and can be generative or destructive, manifested in positive and negative
				energy.  The divine force has a unique ability to interact with organic compounds, causing them to react in a predictable (though
				complex) manner.  Every living thing is endowed with a certain amount of divine force.  The Gods are beings endowed with massive
				amounts of divine force.  The divine force is self-replenishing with time, such that creatures that use the divine force to produce
				some effect are drained for a time, but gain it back.  The divine force can also be granted to others (with training) although this
				weakens the one who grants it slightly.  Most mortals would die if they gave away their divine force, however, Gods give it to their
				chosen clerics and paladins regularly.  Druids and rangers draw divine force in small amounts from living things around them in the
				world, such as plants and animals.
		</p>
		<p>
				Both the negative and positive divine forces can be used to grant or destroy life, however they naturally repel one another.
				Further, it has been found that whether ones soul acts with the negative or positive force is determined by the sorts of things one
				does.  This has created the natural 'good', 'evil' dichotomy in the universe, as those who choose 'evil' acts emit a force that is
				naturally repulsive towards those who commit 'good' acts, however in most cases the force is too weak to act at any distance from
				the individual, and thus this repulsion is undetectable by normal means.
		</p>
		<h3>The Schools of Magic</h3>
		<h4>Abjuration</h4>
		<p>
				Abjuration is the use of the arcane or divine force to create barriers. This includes creating and restoring the barriers between
				the planes, which includes banishment effects.  Dispelling effects and antimagic fields are fields that remove or dampen the effects
				of arcanum or the divine spark, usually by creating a barrier that emits the dampening force that moves outward.
		</p>
		<h4>Conjuration</h4>
		<p>
				Conjuration magic is the use of one of the forces to pierce the planar barriers and, usually, bring something across the gap.  This
				can be anything from energy(such as in an orb of fire spell) to a living creature, to small amounts of divine force(such as in
				healing spells).
		</p>
		<h4>Divination</h4>
		<p>
				Divination magic is the use of the forces to transmit energy over great distances, the energy transmitted can usually only be very
				small, and thus it is typically used for observational purposes.
		</p>
		<h4>Enchantment</h4>
		<p>
				Enchantment is the use of the forces to manipulate the minds of others.  This is a delicate and difficult process, and often can
				only be done in broad strokes.  However, most good societies consider the use of enchantment magic on unwilling individuals to be a
				violation of personal freedom, and additionally it can leave lasting, and sometimes unpredictable, side effects.
		</p>
		<h4>Evocation</h4>
		<p>
				Evocation is the direct application of arcane or divine force, sometimes to create other energy effects, and sometimes to simply
				apply force directly.
		</p>
		<h4>Illusion</h4>
		<p>
				Illusion is the use of arcane or divine force to manipulate sound waves, light, and sometimes even smell.  It is a school that often
				requires a great deal of skill and finesse, but not necessarily a lot of power.
		</p>
		<h4>Necromancy</h4>
		<p>
				Necromancy is the use of the divine force (sometimes manipulated through arcane means) to transfer the divine force from one
				creature to another or to animate non-living creatures.
		</p>
		<h4>Transmutation</h4>
		<p>
				Transmutation is the use of arcane or divine force to actively alter physical forms or infuse them with energy.  It is usually a
				temporary effect as it is very difficult to overcome a living objects morphic resonance (a manifestation of the divine force that
				remembers a natural form, this is why healing spells infuse a person with a small amount of additional divine force, it strengthens
				their morphic resonance allowing them to heal faster).
		</p>
		<h3>Rule Differences</h3>
		<p>
				Prepared Arcane Spells - Arcane casters that would prepare spells with a spellbook in official 3.5 rules instead carry with them a
				piece of arcanum crystal on which they have inscribed their known spells.  They prepare spells by communing with the arcanum crystal
				and creating resonances in the crystal that can be tapped later to cast the spell(usually through a keyword and gesture, but
				sometimes just one or the other, or sometimes also requiring a component of some sort).  Inscribing a spell onto the crystal does
				not cost anything besides the knowledge of how the spell works.  Although scrolls are very expensive.
		</p>
		<p>
				Scrolls - scrolls are documents written with special ink that has been infused with arcanum crystal.  The act of casting the spell
				usually emits enough local energy to cause the paper to catch fire, thus making them impractical to reuse.  However, arcanum crystal
				is very expensive, and scrolls in Elthelas cost double their listed price in the DMG.  There are no divine scrolls, as divine force
				cannot be stored in ink or paper without powerful necromancy.
		</p>
		<p>
				Potions - potions are drinkable liquids that have been infused with arcanum crystal already resonating with a particular spell.
				Potions can only contain arcane spells, and cost double their listed price in the DMG.
		</p>
		<p>
				Wands - wands do not have a maximum number of charges (arcanum cannot be used up), instead all wands in Elthelas are eternal wands
				(see the Magic Item Compendium).  Eternal Wands can be built for any level of spell, with a price equal to 545 * (spell level+1) *
				caster level.  Spells with costly material components cannot be made into wands.  Divine spells cannot be made into wands.
		</p>
		<p>
				Other Magic Items: Other magic items function normally, however, they always have some arcanum crystal inscribed somewhere on them.
				While the spell used for creating a magic item can come from anyone, since it requires the manipulation of arcanum resonances, the
				creation of magic items is strictly the province of arcane casters.
		</p>

	<h3>Wizards</h3>
	<p>
		Wizards don't have a spellbook in the traditional sense, rather they keep an arcanum crystal (which can be integrated into other items
		such as a staff, wand, amulet, ring, or shield) that accumulates free arcanum over time.  Adding a new spell through means besides leveling
		up involves the purchase of arcanum dust, which is then attuned to the new spell by communing with the scroll, crystal, or other arcane
		caster from whom you are learning the spell.  This arcanum dust then fuses with ones existing arcanum crystal.  Only spells whose attuned
		arcanum lies near the surface of the crystal can be cast, meaning changing ones prepared spells involves communing with ones crystal to
		literally rearrange the structure of the crystal.
	</p>
	<p>
		One's arcanum crystal, or whatever it is attached to, acts as your arcane focus.
	</p>
	<p>
		Attuned arcanum crystal glows faintly in colors related to the spells prepared. So a crystal of a wizard with all necromancy spells prepared
		may be a deep black, while one of an evoker might have a red spot for his fireball spell, a white one for his ice storm spell and so on.
	</p>
	<h3>Sorcerers and Bards</h3>
	<p>
		Sorcerers and Bards typically have arcanum crystal that flows through their blood, although some bards have it integrated in colorful ways
		on their instruments instead.  How it got there can vary, certain sorcerers simply inherit such casting ability from their mothers,
		when arcanum crosses the plecental barrier, while others who are seeking sorcerous power simply inject themselves (or are injected) with suspended arcanum
		dust, a risky procedure that often kills the recipient.
	</p>
	<h3>Divine Casters</h3>
	<p>
		Divine casters do not use arcanum, but rather borrow divine force from powerful entities, be them Gods or nature itself.
	</p>
	<h3>Scrolls</h3>
		<p>
				Scrolls are documents written with special ink that has been infused with arcanum crystal.  The act of casting the spell
				usually emits enough local energy to cause the paper to catch fire, thus making them impractical to reuse.  However, arcanum crystal
				is very expensive, and scrolls in Elthelas cost double their listed price in the DMG.  There are no divine scrolls, as divine force
				cannot be stored in ink or paper without powerful necromancy.
		</p>
	<h3>Potions</h3>
		<p>
				Potions are drinkable liquids that have been infused with arcanum crystal already resonating with a particular spell.
				Potions can only contain arcane spells, and cost double their listed price in the DMG.
		</p>
	<h3>Wands</h3>
		<p>
				Wands do not have a maximum number of charges (arcanum cannot be used up), instead all wands in Elthelas are eternal wands
				(see the Magic Item Compendium).  Eternal Wands can be built for any level of spell, with a price equal to 545 * (spell level+1) *
				caster level.  Spells with costly material components cannot be made into wands.  Divine spells cannot be made into wands.
		</p>
	<h3>Other Magic Items</h3>
		<p>
				Other magic items function normally, however, they always have some arcanum crystal inscribed somewhere on them.
				While the spell used for creating a magic item can come from anyone, since it requires the manipulation of arcanum resonances, the
				creation of magic items is strictly the province of arcane casters.
		</p>
		
{% endblock %}
