{% extends 'AppBundle:ref:index.html.twig' %}

{% block body %}
<a href="#aasimar" class="racebutton btn btn-default">Aasimar</a>
<a href="#dragonborn" class="racebutton btn btn-default">Dragonborn</a>
<a href="#dwarves" class="racebutton btn btn-default">Dwarves</a>
<a href="#elves" class="racebutton btn btn-default">Elves</a>
<a href="#faelin" class="racebutton btn btn-default">Faelin</a>
<a href="#feyri" class="racebutton btn btn-default">Fey'ri</a>
<a href="#genasi" class="racebutton btn btn-default">Genasi</a>
<a href="#gnomes" class="racebutton btn btn-default">Gnomes</a>
<a href="#goblins" class="racebutton btn btn-default">Goblins</a>
<a href="#goliaths" class="racebutton btn btn-default">Goliaths</a>
<a href="#halfdwarves" class="racebutton btn btn-default">Half-Dwarves</a>
<a href="#halfelves" class="racebutton btn btn-default">Half-Elves</a>
<a href="#halflings" class="racebutton btn btn-default">Halflings</a>
<a href="#humans" class="racebutton btn btn-default">Humans</a>
<a href="#orcs" class="racebutton btn btn-default">Orcs</a>
<a href="#tieflings" class="racebutton btn btn-default">Tieflings</a>
<a href="#trollkin" class="racebutton btn btn-default">Trollkin</a>
<p>
  Note that for all PC races, starting languages are determined by country of origin, not race, although classes or backgrounds may provide bonus
  languages as specified in their descriptions.
</p>
<div class="racediv" id="aasimar">
  <h2>Aasimar</h2>
  <p>
    Aasimar are the distant descendents of angels and gods. In Elthelas, there are 3 main subgroups of Aasimar, there is the standard Celestial Aasimar, descended
    from angels, planetars, guardinals, or eladrin. There are the descendents of Molton, god of fire and lust, who bears many children with his mortal worshippers.
    Lastly, there are the descendents of the sorceron, who have long since disappeared from the world, but whose mastery over magic lives in in their distant
    descendents.
  </p>
  <h3>Celestial Aasimar</h3> 
  <p>
    Celestial Aasimar are the descendents of the children of unions between good-aligned celestial beings such as angels, planetars, guardinals and eladrin with
    mortal men and women. Celestial Aasimar were once quite common in Elthelas but they have grown increasingly rare in the ages since the God's War, as Celestials
    have largely abandoned Elthelas. Celestials walked the world in that distant age and bred with the various peoples in it. Now Celestial Aasimar mostly appear
    when two families with old Aasimar blood come together.
  </p>
  <h4>D&amp;D 5 Racial Traits</h4>
  <ul>
    <li>
      Ability Score Increase: Your wisdom score increases by 2 and your charisma score increases by 1.
    </li>
    <li>
      Darkvision: 60 ft.
    </li>
    <li>
      6th Sense: Your connection to angelic beings gives you a sense for evil, like an itch at the back of your mind. Whenever someone within 60 ft of you is planning
      an evil deed to happen within the next 10 minutes, you can sense that such thoughts are taking place. However, you cannot tell who is thinking said thoughts or
      what they are planning from this sense alone. You do not need to be able to see or perceive the person thinking those thoughts to get the sense, and you do not
      get these feelings from creatures with an intelligence score of less than 3.
    </li>
    <li>
      Keen senses: You have advantage on perception checks.
    </li>
    <li>
      Godly Connection: You know the light cantrip from the cleric list, and can cast it at will. You also know one first level spell from the cleric list, after you
      cast it, you must complete a short or long rest before you can cast it again. Wisdom is your casting stat for this spell.
    </li>
  </ul>
  <h3>Child of Molton</h3>
  <p>
    Molton, God of Fire and Lust, has long made it a habit of dallying with mortal women from among his worshippers. Those willing worshippers whom he selects are
    invited across the planes into his palace, where they report on returning having the best sex of their lives, returning with enough riches to set them and the
    resulting child up for the rest of their lives. His fertility knows no bounds, and even the most infertile women have found themselves with child after such
    encounters. The resulting children are usually still mostly human (and usually female, although not always), but find themselves infused with the essence of
    fire. They are reknowned for their lustful ways(sometimes unfairly) as well as their affinity for fire, music, and dance. Children of Molton look mostly like
    their mothers parentage, but are born with hair in bright fiery colors of red, orange, yellow, blue or green and golden skin. They are also invariably
    beautiful, their skin without unnatural blemishes, faces well balanced, and a form that is lithe and graceful.
  </p>
  <h4>D&amp;D 5 Racial Traits</h4>
  <ul>
    <li>Ability Score Increase: Your Dexterity score increases by 2 and your Charisma score increases by 2.</li>
    <li>Size: Children of Molton are generally similar to elves or humans in height, weight, and build. Your size is medium.</li>
    <li>Speed: Your base walking speed is 30 ft.</li>
    <li>Darkvision: You have the darkvision ability up to 120 ft.</li>
    <li>Embodiment of Lust: You have advantage on charisma checks involved in a romantic encounter.</li>
    <li>You have resistance to fire damage.</li>
  </ul>  
  <h3>Sorceron Blooded</h3>
  <p>
    the Sorceron were a race of Godly servants that served all Gods. Originally serving the Gods in creating the world Elthelas and the many interconnecting planes
    of existence in an age long since forgotten. In the Gods War they served on both sides, and were the primary combatants, and while most of them died in that
    conflict, some few survivors retreating to other planes of existence besides the material with the Gods. Yet, before that age many Sorceron interbred with the
    races of Elthelas, and every now and then a child will be born with more Sorceron blood than typical. These unusual children show a rare talent for magic and
    are gifted with intelligence and charisma far beyond that of their kin.
  </p>
  <h4>D&amp;D 5 Racial Traits</h4>
  <ul>
    <li>Ability Score Increase: Your Intelligence score increases by 2 and your Charisma score increases by 1.</li>
    <li>Size: The Sorceron-blooded are generally similar to elves or humans in height, weight, and build. Your size is medium.</li>
    <li>Speed: Your base walking speed is 30 ft.</li>
    <li>
      Natural Spellcaster: Choose two cantrips from the wizard spell list, you can cast these cantrips at will using Intelligence as your spellcasting stat.
      Additionally choose one 1st level spell from the wizard spell list, you know that spell inherently, however, once you cast it you must complete a short rest
      before you can cast it again.
    </li>
    <li>Master of the Arcane: You have advantage on Intelligence (Arcana) and Intelligence (History) checks.</li>
  </ul>
</div>
  <div class="racediv" id="dragonborn">
    <h2>Dragonborn</h2>
    <p>
      After the people of Dera were rescued by the Dragon God Bahamut, many dragons came to live among the people of Dera'Dragorim, and it became a matter of honor
      to bear the child of a dragon. While half-dragon children were rarely viable, those that were born proved to be incredibly fertile, and it was considered
      almost as great an honor to bear the child of a half-dragon as a dragon. This led to a large population of people with a quarter or less of dragon blood,
      called Dragonborn or Spellscales. Dragonborn are more draconic in appearance than their spellscale cousins, are larger, and considerably stronger. They have
      scaly hides, draconic like faces, and often have clawed hands and feet or even wings. Outside of Dera'Dragorim and more urban settings, they are often seen
      as monsters.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your strength score increases by 2, and your Charisma scores increases by 1.</li>
      <li>Size: Dragonborn are taller and heavier than humans, standing well over 6 feet tall and averaging almost 250 pounds. Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 feet.</li>
      <li>
        Draconic Ancestry: You have draconic ancestry. Choose one type of dragon from the Draconic Ancestry table. Your breath weapon and damage resistance are
        determined by the dragon type, as shown in the table.
      </li>
      <li>
        Breath Weapon: You can use your action to exhale destructive energy. Your draconic ancestry determines the size, shape, and damage type of an exhalation.
        When you use your breath weapon, each creature in the area of the exhalation must make a saving throw, the type of which is determined by your draconic
        ancestry. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and
        half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level. After you use your breath
        weapon you cannot use it again until after you complete a short or long rest.
      </li>
      <li>Damage Resistence: You have resistence to the damage type associated with your draconic ancestry.</li>
    </ul>
    <table class="datatable">
      <thead>
        <tr>
          <th>Ancestry</th><th>Damage Type</th><th>Area of Effect</th><th>Saving Throw</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Black or Copper</td><td>Acid</td><td>5 by 30 ft line</td><td>Dexterity</td>
        </tr>
        <tr>
          <td>Blue or Bronze</td><td>Lightning</td><td>5 by 30 ft line</td><td>Dexterity</td>
        </tr>
        <tr>
          <td>Brass</td><td>Fire</td><td>5 by 30 ft line</td><td>Dexterity</td>
        </tr>
        <tr>
          <td>Gold or Red</td><td>Fire</td><td>15 ft cone</td><td>Dexterity</td>
        </tr>
        <tr>
          <td>Green</td><td>Poison</td><td>15 ft cone</td><td>Constitution</td>
        </tr>
        <tr>
          <td>Silver or White</td><td>Cold</td><td>15 ft. cone</td><td>Constitution</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="racediv" id="dwarves">
    <h2>Dwarves</h2>
    <p>
      The Dwarves suffered a difficult split at the end of God's War, one large group of them found themselves abandoned on a chain of islands, while the biggest
      group was in the center of the large easter continent, Elathia, and under constant attack by orcs and trolls. Since then those trapped on the islands have
      become the most adept sailors in the world, finding safety and wealth on the sea. The others have found homes in both mountains and plains, and have formed a
      caste-based republic.
    </p>
    <p>
      This has split the dwarves into 4 distinct sub-races, that although they are capable of interbreeding, rarely do.
    </p>
    <h3>Deep Dwarves</h3>
    <p>
      The Deep Dwarves are the ruling caste of dwarven society in Curinor. They rarely(if ever in their lives) see the sun, preferring to stay in the deepest parts
      of the dwarven holds. They travel between holds via underground roads or by palenquin, and almost never associate with plains dwarves, let alone non-dwarves.
      Deep Dwarves have exceedingly pale, almost colorless skin.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your Constitution score increases by 1 and your wisdom score increases by 2.</li>
      <li>Size: Dwarves stand between 4 and 5 feet tall and average about 150 lbs. Your size is medium.</li>
      <li>Speed: Your base walking speed is 25 feet. Your speed is not reduced by wearing heavy armor.</li>
      <li>
        Darkvision: Accustomed to life underground, you have superior vision in dark and dim conditions. You can see in dim light within 90 feet of you as if it
        were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray.
      </li>
      <li>Dwarven Resilience: You have advantage on saving throws against poison, and you have resistance against poison damage.</li>
      <li>Dwarven Combat Training: You have proficiency with the battleaxe, handaxe, throwing hammer, and warhammer.</li>
      <li>Tool Proficiency: You gain proficiency with the artisan's tools of your choice: smith's tools, brewer's supplies, or mason's tools.</li>
      <li>
        Stonecunning: Whenever you make an intelligence(history) check related to the origin of stonework, you are considered proficient in the history skill and
        add double your proficiency bonus to the check, instead of your normal proficiency bonus.
      </li>
      <li>Noble Blood: You gain proficiency in one skill of your choice choosing from persuasion, performance, intimidation, or deception.</li>
    </ul>
    <h3>Hill Dwarves</h3>
    <p>
      The Hill Dwarves of Curinor are the middle glue of society. Most dwarven craftsmen and warriors are hill dwarves, and they do most of the work in the
      lucrative mines and smithies of Curinor (although the deep dwarves still see most of the profits). Hill Dwarves are hardy folk, but are ill-accustomed to
      dealing with non-dwarves. Their skin is fair, but not pale, typically with rose colored undertones.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your Constitution score increases by 2 and your wisdom score increases by 1.</li>
      <li>Size: Dwarves stand between 4 and 5 feet tall and average about 150 lbs. Your size is medium.</li>
      <li>Speed: Your base walking speed is 25 feet. Your speed is not reduced by wearing heavy armor.</li>
      <li>
        Darkvision: Accustomed to life underground, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it
        were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray.
      </li>
      <li>Dwarven Resilience: You have advantage on saving throws against poison, and you have resistance against poison damage.</li>
      <li>Dwarven Combat Training: You have proficiency with the battleaxe, handaxe, throwing hammer, and warhammer.</li>
      <li>Tool Proficiency: You gain proficiency with the artisan's tools of your choice: smith's tools, brewer's supplies, or mason's tools.</li>
      <li>
        Stonecunning: Whenever you make an intelligence(history) check related to the origin of stonework, you are considered proficient in the history skill and
        add double your proficiency bonus to the check, instead of your normal proficiency bonus.
      </li>
      <li>Dwarven Toughness: Your hit point maximum increases by 1 per character level.</li>
    </ul>
    <h3>Morrind Dwarves</h3>
    <p>
      The Morrind Dwarves were seperated from the other dwarves in the God's War, and marooned on a distant island chain. They built a city in which they could
      remember their mountain home(called Morrind) and learned to build ocean worthy ships. They took to the sea, trading with whomever they could find in order to
      supply themselves with whatever they needed. By the time they found the other dwarves, they discovered that they were more comfortable at sea then on land,
      and unwelcome in the caste-system devised by their kin. Morrind dwarves tend to be less hardy but more dextrous compared to their kin, and are very adept at
      shipboard movement.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your Constitution score increases by 2 and your Charisma score increases by 1.</li>
      <li>Size: Dwarves stand between 4 and 5 feet tall and average about 150 lbs. Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 feet. Your speed is not reduced by wearing heavy armor.</li>
      <li>Dwarven Resilience: You have advantage on saving throws against poison, and you have resistance against poison damage.</li>
      <li>Dwarven Combat Training: You have proficiency with the battleaxe, handaxe, throwing hammer, and warhammer.</li>
      <li>Tool Proficiency: You gain proficiency with the artisan's tools of your choice: smith's tools, brewer's supplies, or carpenter's tools.</li>
      <li>
        Seacunning: Whenever you make an intelligence(nature) check related to the sea, you are considered proficient in the history skill and add double your
        proficiency bonus to the check, instead of your normal proficiency bonus.
      </li>
      <li>
        Natural Sailor: You are considered proficient and may add double your proficiency bonus to any acrobatics check on board a ship, a survival check made to
        navigate a sea, or an athletics check made to swim, you also gain proficiency with water based vehicles.
      </li>
    </ul>
    <h3>Plains Dwarves</h3>
    <p>
      Plains Dwarves are the lowest of the low among the dwarves of Curinor. Living primarily on the surface, they are often shunned by other dwarves, however they
      are more accustomed to interacting with other races, as well as hard manual labor. Nevertheless, they are typically poor and ill-educated. Their life on the
      open plain has endowed them with a dark tan tone to their skin (particularly compared to the pale deep dwarves).
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your Constitution score increases by 2 and your Strength score increases by 2.</li>
      <li>Size: Dwarves stand between 4 and 5 feet tall and average about 150 lbs. Your size is medium.</li>
      <li>Speed: Your base walking speed is 25 feet. Your speed is not reduced by wearing heavy armor.</li>
      <li>
        Darkvision: Accustomed to life underground, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it
        were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray.
      </li>
      <li>Dwarven Resilience: You have advantage on saving throws against poison, and you have resistance against poison damage.</li>
      <li>Dwarven Combat Training: You have proficiency with the battleaxe, handaxe, throwing hammer, and warhammer.</li>
      <li>Tool Proficiency: You gain proficiency with the artisan's tools of your choice: smith's tools, brewer's supplies, or mason's tools.</li>
      <li>
        Stonecunning: Whenever you make an intelligence(history) check related to the origin of stonework, you are considered proficient in the history skill and
        add double your proficiency bonus to the check, instead of your normal proficiency bonus.
      </li>
      <li>Dwarven Armor Training: You have proficiency with light and medium armor.</li>
    </ul>
  </div>
  <div class="racediv" id="elves">
    <h2>Elves</h2>
    <p>
      The elves were the first race to recover after the climactic God's War. The Gods and Sorceron did not see the mostly feral elves of the ancient world as
      reliable soldiers and Sylvan, their patron Goddess went to considerable effort to protect her people from harm. However once the war was over, with the other
      races having highly reduced and scattered populations, the elves finally got around to building cities and expanding. They formed the nation of Eldoran, which
      remains probably the most powerful nation on the planet besides Malinval. However, the high elves have often proven arrogant, and their internal conflicts
      with the moon elves finally resulted in cival war. The Moon Elves successfully asserted their independence and formed the nation of Demal Thor.
    </p>
    <p>
      The Elves are split into 4 distinct subraces, the city dwelling high elves, the rural wood elves, the nomadic moon elves, and the still feral wild elves.
    </p>
    <h3>High Elves</h3>
    <p>
      The High Elves make up the majority of the ruling and merchant class of elves in Eldoran, and are the primary residents in the cities. They are relatively few
      compared to the Wood Elves who live throughout the countryside, but because most elven merchants are high elves, they tend to be considered the most
      stereotypical. High Elves are somewhat weaker, but better educated then Wood Elves.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your dexterity score increases by 2 and your intelligence score increases by 1.</li>
      <li>Size: Elves range from under 5 to over 6 feet tall and have slender builds. Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 feet.</li>
      <li>
        Darkvision: Accustomed to twilit forests and the night sky, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of
        you as if it were bright light, and in darkness as if it were dim light. You can't discern color in the darkness, only shades of gray.
      </li>
      <li>Keen Senses: You have proficiency in the perception skill.</li>
      <li>Fey Ancestry: You have advantage on saving throws against being charmed, and magic can't put you to sleep.</li>
      <li>
        Trance: Elves don't need to sleep. Instead they meditate deeply, remaining semiconscious, for 4 hours a day. (The Common word for such meditation is
        "trance") While meditating, you can dream after a fashion; such dreams are actually mental exercises that have become reflexive through years of practice.
        After resting in this way, you gain the same benefit that a human does from 8 hours of sleep.
      </li>
      <li>Elf Weapon Training: You have proficiency with the longsword, shortsword, shortbow, and longbow.</li>
      <li>Cantrip: You know one cantrip of your choice from the wizard spell list. Intelligence is your spellcasting ability for it.</li>
      <li>Extra Language: You can speak, read, and write one extra language of your choice.</li>
    </ul>
    <h3>Moon Elves</h3>
    <p>
      The Moon Elves of Demal Thor are a hardier breed of elves than the High Elves or Wood Elves, but they are gruff loners who generally appear standoffish to
      those outside of their clan. They live in nomadic clans of between 2 and 3 hundred individuals that wander the plains following the herds.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your dexterity score increases by 2 and your constitution score increases by 1.</li>
      <li>Size: Elves range from under 5 to over 6 feet tall and have slender builds. Your size is medium.</li>
      <li>Speed: Your base walking speed is 35 feet.</li>
      <li>Keen Senses: You have proficiency in the perception skill.</li>
      <li>Fey Ancestry: You have advantage on saving throws against being charmed, and magic can't put you to sleep.</li>
      <li>
        Trance: Elves don't need to sleep. Instead they meditate deeply, remaining semiconscious, for 4 hours a day. (The Common word for such meditation is
        "trance") While meditating, you can dream after a fashion; such dreams are actually mental exercises that have become reflexive through years of practice.
        After resting in this way, you gain the same benefit that a human does from 8 hours of sleep.
      </li>
      <li>Elf Weapon Training: You have proficiency with the longsword, shortsword, shortbow, and longbow.</li>
      <li>Nomad: You have proficiency with the survival skill, and add double your proficiency bonus to Wisdom(survival) checks.</li>
    </ul>
    <h3>Wild Elves</h3>
    <p>
      The Wild Elves are as rare as they are reclusive, living in small groups in the deepest jungles of Eldoran and Gnarra. They generally lack education, and are
      often considered feral and uncivilized by other elves.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your dexterity score increases by 2 and your Charisma score increases by 1.</li>
      <li>Size: Elves range from under 5 to over 6 feet tall and have slender builds. Your size is medium.</li>
      <li>Speed: Your base walking speed is 35 feet.</li>
      <li>
        Darkvision: Accustomed to twilit forests and the night sky, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of
        you as if it were bright light, and in darkness as if it were dim light. You can't discern color in the darkness, only shades of gray.
      </li>
      <li>Keen Senses: You have proficiency in the perception skill.</li>
      <li>Fey Ancestry: You have advantage on saving throws against being charmed, and magic can't put you to sleep.</li>
      <li>
        Trance: Elves don't need to sleep. Instead they meditate deeply, remaining semiconscious, for 4 hours a day. (The Common word for such meditation is
        "trance") While meditating, you can dream after a fashion; such dreams are actually mental exercises that have become reflexive through years of practice.
        After resting in this way, you gain the same benefit that a human does from 8 hours of sleep.
      </li>
      <li>Elf Weapon Training: You have proficiency with the longsword, shortsword, shortbow, and longbow.</li>
      <li>Cantrip: You know one cantrip of your choice from the wizard spell list. Charisma is your spellcasting ability for it.</li>
    </ul>
    <h3>Wood Elves</h3>
    <p>
      The Wood Elves of Eldoran are only slightly removed from their feral roots. The Wood Elves are relatively unfamiliar with the learning and education present
      in much of modern civilization, but they are naturally strong, spending their lives as farmers, woodsmen, and craftsmen.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your dexterity score increases by 2 and your wisdom score increases by 1.</li>
      <li>Size: Elves range from under 5 to over 6 feet tall and have slender builds. Your size is medium.</li>
      <li>Speed: Your base walking speed is 35 feet.</li>
      <li>
        Darkvision: Accustomed to twilit forests and the night sky, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of
        you as if it were bright light, and in darkness as if it were dim light. You can't discern color in the darkness, only shades of gray.
      </li>
      <li>Keen Senses: You have proficiency in the perception skill.</li>
      <li>Fey Ancestry: You have advantage on saving throws against being charmed, and magic can't put you to sleep.</li>
      <li>
        Trance: Elves don't need to sleep. Instead they meditate deeply, remaining semiconscious, for 4 hours a day. (The Common word for such meditation is
        "trance") While meditating, you can dream after a fashion; such dreams are actually mental exercises that have become reflexive through years of practice.
        After resting in this way, you gain the same benefit that a human does from 8 hours of sleep.
      </li>
      <li>Elf Weapon Training: You have proficiency with the longsword, shortsword, shortbow, and longbow.</li>
      <li>
        Mask of the Wild: You can attempt to hide even when you are only lightly obscured by foliage, heavy rain, falling snow, mist, and and other natural
        phenomena.
      </li>
    </ul>
  </div>
  <div class="racediv" id="faelin">
    <h2>Faelin</h2>
    <p>
      Faelin are frail, with light green skin and rainbow colored hair. These fey live in family groups in tree houses above the jungles of Gnarra. They are a
      stunningly beautiful and agile people, skilled at climbing any surface, and with latent magical talents, but they are physically weak when caught in single
      combat.
    </p>
    <p>
      The Faelin have no written language and thus no recorded history, their reclusive nature means they are mentioned only in passing in the texts of other
      peoples. However, theological texts claim them as the patron people of the nature goddess Gaian, who brought them to Elthelas to be stewards of the deep
      forests.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your dexterity score and your charisma score each increase by 2.</li>
      <li>Size: Faelin are typically between 2 1/2 and 3 1/2 feet tall, and weight around 50 lbs, your size is Small.</li>
      <li>
        Speed: Your base walking speed is 30 feet, you can also climb up rough surfaces such as trees and rough-hewn walls without making Athletics checks at a
        speed of 20 feet.
      </li>
      <li>
        Fey: Your fey heritage gives you advantage on saving throws against being charmed, and magic cannot put you to sleep.
      </li>
      <li>Cantrip: choose one cantrip from the druid spell list. Charisma is your stat for casting this spell.</li>
    </ul>
  </div>
  <div class="racediv" id="feyri">
    <h2>Fey'ri</h2>
    <p>
      At the time of the demon invasion, Dera was home to the largest elven community outside of Eldoran. Unfortunately for these elves, their community was among
      the first attacked by the demons. Throughout most of the world it is believed that all of the elves were slaughtered, however a small percentage were kept as
      slaves, serving the whims of their demon masters, and subject to their lusts. Many of them died birthing the demonic offspring of these unions, and those who
      did not were rendered infertile. When Bahamut turned his wrath on the demons, forcing them to flee, they left their slaves, and their offspring, behind. These
      elves, trapped between an angry God and demon slavemasters, hid in the sewers of the ruined city, where they have lived since, expanding them as they had need
      of space. Over time they have intermarried and the demonic blood has spread and become diluted throughout their people. Today they rarely leave their
      underground home, but ocassionally one will leave to travel the world. They are typically mistaken for a pointy eared , skinny and winged tiefling, and they
      rarely find a welcoming reception. Most return home.
    </p>
    <p>
      Fey'ri have a naturally evil disposition, and the society as a whole has largely given into the call of their blood. The underworks of Dera where they live is
      a harsh environment where only the strongest are permitted to survive.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your dexterity score increases by 1 and your intelligence score increases by 2.</li>
      <li>Size: Fey'ri range from under 5 to over 6 feet tall and have slender builds. Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 feet. You also have wings and starting at 6th level you have a base fly speed of 40 ft.</li>
      <li>
        Darkvision: Accustomed to hidden dungeons and sewers, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as
        if it were bright light, and in darkness as if it were dim light. You can't discern color in the darkness, only shades of gray.
      </li>
      <li>Fey Ancestry: You have advantage on saving throws against being charmed, and magic can't put you to sleep.</li>
      <li>
        Trance: Fey'ri don't need to sleep. Instead they meditate deeply, remaining semiconscious, for 4 hours a day. (The Common word for such meditation is
        "trance") While meditating, you can dream after a fashion; such dreams are actually mental exercises that have become reflexive through years of practice.
        After resting in this way, you gain the same benefit that a human does from 8 hours of sleep.
      </li>
      <li>Hellish Resistance: You have resistance to fire damage.</li>
    </ul>
  </div>
  <div class="racediv" id="genasi">
    <h2>Genasi</h2>
    <h3>Air Genasi</h3>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Your Constitution score increases by 2 and your Dexterity score increases by 1.</li>
      <li>Size. Genasi are as varied as their mortal parents but are generally built like humans, standing anywhere from 5 feet to over 6 feet tall. Your size is Medium.</li>
      <li>Your base walking speed is 30 feet.</li>
      <li>Unending Breath. You can hold your breath indefinitely while you’re not incapacitated.</li>
      <li>Mingle with the Wind. You can cast the levitate spell once with this trait, requiring no material components, and you regain the ability to cast it this way when you
          finish a long rest. Constitution is your spellcasting ability for this spell.</li>
    </ul>
    <h3>Earth Genasi</h3>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Your Constitution score increases by 2 and your Strength score increases by 1.</li>
      <li>Size. Genasi are as varied as their mortal parents but are generally built like humans, standing anywhere from 5 feet to over 6 feet tall. Your size is Medium.</li>
      <li>Your base walking speed is 30 feet.</li>
      <li>Earth Walk. You can move across difficult terrain made of earth or stone without expending extra movement.</li>
      <li>Merge with Stone. You can cast the pass without trace spell once with this trait, requiring no material components, and you regain the ability to cast it this
          way when you finish a long rest. Constitution is your spellcasting ability for this spell.</li>
    </ul>
    <h3>Fire Genasi</h3>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Your Constitution score increases by 2 and your Intelligence score increases by 1.</li>
      <li>Size. Genasi are as varied as their mortal parents but are generally built like humans, standing anywhere from 5 feet to over 6 feet tall. Your size is Medium.</li>
      <li>Your base walking speed is 30 feet.</li>
      <li>Darkvision. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were
        dim light. Your ties to the Elemental Plane of Fire make your darkvision unusual: everything you see in darkness is in a shade of red.</li>
      <li>Fire Resistance. You have resistance to fire damage.</li>
      <li>Reach to the Blaze. You know the produce flame cantrip. Once you reach 3rd level, you can cast the burning hands spell once with this trait as a 1st-level
        spell, and you regain the ability to cast it this way when you finish a long rest. Constitution is your spellcasting ability for these spells.</li>
    </ul>
    <h3>Water Genasi</h3>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Your Constitution score increases by 2 and your Wisdom score increases by 1.</li>
      <li>Size. Genasi are as varied as their mortal parents but are generally built like humans, standing anywhere from 5 feet to over 6 feet tall. Your size is Medium.</li>
      <li>Your base walking speed is 30 feet.</li>
      <li>Acid Resistance. You have resistance to acid damage.</li>
      <li>Amphibious. You can breathe air and water.</li>
      <li>Swim. You have a swimming speed of 30 feet.</li>
      <li>Call to the Wave. You know the shape water cantrip (see chapter 2). When you reach 3rd level, you can cast the create or destroy water spell as a 2nd-level spell
          once with this trait, and you regain the ability to cast it this way when you finish a long rest. Constitution is your spellcasting ability for these spells.</li>
    </ul>
  </div>
  <div class="racediv" id="gnomes">
    <h2>Gnomes</h2>
    <p>
      The gnomes are a small, hardy folk, usually around 3 feet tall, but broad of shoulder with large featured faces (particularly their noses). Unlike halflings,
      who look like miniature humans with hairy feet, gnomes bodies are thicker and more dominated by the torso(although not to the extent of dwarves). The gnomes
      of Elthelas are split people. The eastern, Elathian Gnomes live in small reclusive communes within the cities of others, primarily the humans of Dormania,
      Kandor, and Gerasalim. Once they had a nation of their own, but it was destroyed and burned to the ground by the Emperor Dorman I, all record of it purged
      from history in the following years. Meanwhile in the west the gnomes of Stagenheim have become masters of technology.
    </p>
    <h3>Elathian Gnomes</h3>
    <p>
      The imperial gnomes are natural tricksters and illusionists, adept at surviving as the bottom rung of society. They tend to prefer city life and the
      excitement it brings over the quiet countryside. Adventuring is a common way that they find excitment, especially when they are relatively young. Once they
      do settle down they tend to have large families and live in communal groups of several large extended families.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your intelligence score increases by 2 and your dexterity score increases by 1.</li>
      <li>Size: Gnomes range between 3 and 4 feet tall, and weight between 60 and 80 lbs. Your size is Small.</li>
      <li>Speed: Your base walking speed is 25 ft.</li>
      <li>Darkvision: 60 feet.</li>
      <li>Gnome Cunning: You have advantage on all Intelligence, Wisdom, and Charisma saving throws against magic.</li>
      <li>Natural Illusionist: You know the minor illusion cantrip. Intelligence is your magic ability for it.</li>
      <li>Speak with Small Beasts: Through sounds and gestures, you can communicate simple ideas with Small or smaller beasts.</li>
    </ul>
    <h3>Stagen Gnomes</h3>
    <p>
      The Gnomes of Stagenheim have a long recorded history, but most of it is esoteric to outsiders, and they have few interactions the other nations beyond the
      defense of their borders. Not that others are typically interested in their mountain home. The Stagen people are lovers of technology above all else, and
      moreso, they are creators of technology and magical items without peer. The designs for their fabled airships are jealously guarded, as is the design and
      construction of their magical crystals, immune to antimagic effects, and with limitless charges. Those outsiders who know of them often claim that the
      crystals are the result of the gnomes directly tapping the power of Gods, but such rumors are probably unfounded.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your intelligence score increases by 2 and constitution score increases by 1.</li>
      <li>Size: Gnomes range between 3 and 4 feet tall, and weight between 60 and 80 lbs. Your size is Small.</li>
      <li>Speed: Your base walking speed is 25 ft.</li>
      <li>Gnome Cunning: You have advantage on all Intelligence, Wisdom, and Charisma saving throws against magic.</li>
      <li>Artificer's Lore: You have advantage on Intelligence checks related to alchemy, magic items, and technological devices.</li>
      <li>
        Tinker: You have artisan's tools. Using those tools, you can spend 10 minutes to construct a Tiny clockwork device (AC 5, 1 hp). The device ceases to
        function after 24 hours. You can have up to three such devices active at a time. When you create a device, choose one of the following options:
        <ul>
          <li>
            Clockwork Toy: This toy is a clockwork animal or person, such as a frog, mouse, bird, or soldier. When placed on the ground, the toy moves 5 feet across
            the ground on each of your turns in a random direction. It makes noise as appropriate to the creature it represents.
          </li>
          <li>
            Fire Starter: The device produces a miniature flame, which you can use to light something like a candle, torch, or campfire. Using the device requires
            your action.
          </li>
          <li>
            Music Box: When opened, this music box plays a single song at a moderate volume. The box stops playing when it reaches the song's end or when it is
            closed.
          </li>
        </ul>
      </li>
      <li>Artificer's proficiency: You are proficient with one type of tools of your choice.</li>
    </ul>
  </div>
  <div class="racediv" id="goblins">
    <h2>Goblins</h2>
    <p>
      Goblins are small gangly humanoids between 3-3 1/2 feet of height, they have skin ranging in color from an olive brown to a verdant green, smashed upturned
      noses, and large ears similar to those of elves. Their limbs, particularly their arms, are long compared to their torso, and they often grow large amounts of
      body hair. Most Goblins in the world are tribal, cruel, and generally bullies wherever they can be. Nevertheless most goblins live their lives as slaves to
      orcs and hobgoblins. Goblins are unusually strong for their size, having about the srength of the average adult human in a body less than half that size.
      Their small size and gangly form makes them very nimble as well, nevertheless they are typically considered ugly and have a perpetually sour disposition.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your strength score increases by 1 and your dexterity increases by 2.</li>
      <li>Size: Goblins are between 3 and 4 feet tall and weight between 70 and 90 lbs. Your size is Small.</li>
      <li>Speed: Your base walking speed is 30 feet.</li>
      <li>Powerful Build: You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift.</li>
      <li>Big Weapons: You can wield heavy weapons without penalty, and otherwise wield weapons as a medium size character.</li>
      <li>
        Darkvision: You can see in dim light for 60 feet in front of you as if it were bright light, and in darkness as if it were dim light. You cannot see color
        in darkness, only shades of gray.
      </li>
      <li>Nimble Escape: The goblin can take the Disengage or Hide action as a bonus action on each of its turns.</li>
    </ul>
  </div>
  <div class="racediv" id="goliaths">
    <h2>Goliaths</h2>
    <p>
      Goliaths are a tall, gangly, rocky skinned and tribal people. They love sport and competition, and are exceptionally strong and hardy. Their incredible
      height, strength, and large limbs allow them to weild weapons and perform feats of strength much better than most creatures of a relatively similar size. The
      Goliaths of Elthelas live in wandering tribes in high mountainous areas. They have never formed any centralized nation, and there have never been enough of
      them for any existing nation to try to force them under the national banner. The largest concentrations of Goliath tribes live in Stagenheim and Curinor, and
      they trade regularly with the local gnomes and dwarves respectively.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your strength increases by 2 and your constitution increases by 1.</li>
      <li>Size: Goliaths are between 7 and 8 feet tall and weigh between 280 and 340 pounds. Your size is Medium.</li>
      <li>Speed: Your base walking speed is 30 feet.</li>
      <li>Natural Athlete: You have proficiency in the athletics skill.</li>
      <li>
        Stone's Endurance: You can focus yourself to occasionally shrug off injury. When you take damage, you can use your reaction to roll a d12. Add your
        Constitution modifier to the number rolled, and reduce the damage by that total. After you use this trait, you can’t use it again until you finish a short
        or long rest.
      </li>
      <li>Powerful Build: You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift.</li>
      <li>
        Mountain Born: You’re acclimated to high altitude, including elevations above 20,000 feet. You’re also naturally adapted to cold climates, as described
        in chapter 5 of the Dungeon Master’s Guide.
      </li>
    </ul>
  </div>
  <div class="racediv" id="halfdwarves">
    <h2>Half-Dwarves</h2>
    <p>
      The rare offspring of a dwarf and a human, Half-Dwarves look like thick, powerful somewhat shorter than average humans or very tall, somewhat gangly dwarves.
      While they are almost unheard of in most lands, there is a small but vibrant community of half-dwarves in the border region between Curinor and Gerasalim.
      Half-Dwarves are not so insular as other dwarves, but they tend to be ponderous and slow to react.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your Constitution score increases by 1 and one other ability score increases by 1.</li>
      <li>Size: Half-Dwarves stand between 4.5 and 5.5 feet tall and average about 150 lbs. Your size is medium.</li>
      <li>Speed: Your base walking speed is 25 feet. Your speed is not reduced by wearing heavy armor.</li>
      <li>
        Darkvision: Accustomed to life underground, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it
        were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray.
      </li>
      <li>Dwarven Resilience: You have advantage on saving throws against poison, and you have resistance against poison damage.</li>
      <li>Feat: You gain one feat of your choice.</li>
    </ul>
  </div>
  <div class="racediv" id="halfelves">
    <h2>Half-Elves</h2>
    <p>
      Half-Elves are incredibly rare in most of the world, but in the eastern areas of Eldoran and southwest Gerasalim, where elves and humans have lived side by
      side for generations, it sometimes seems as if every other person is a half-elf. Half-elves share some of the chiseled facial features of their elven
      parentage, while retaining some of the versatility and adaptability of their human forbears.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your Charisma score increases by 2 and two other ability scores of your choice increase by 1.</li>
      <li>Size: Half-elves are about the same size as humans, ranging from 5 to 6 feet tall. Your size is medium.</li>
      <li>
        Darkvision: Thanks to your elf blood, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were
        bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray.
      </li>
      <li>Fey Ancestry: You have advantage on saving throws against being charmed, and magic can't put you to sleep.</li>
      <li>Skill Versatility: You gain proficiency in two skills of your choice.</li>
    </ul>
  </div>
  <div class="racediv" id="halflings">
    <h2>Halflings</h2>
    <p>
      Halflings are small, gentle folk, who look almost like half-scale models of humans(except for their large hairy feet.) They are found almost everywhere and
      among every people, although their numbers dwindle as you grow closer to major war zones. They live in the cities, as well as building villages of their own
      in more remote locations, and try to profit however they can. They enjoy good food and good humor, and few halflings seek adventure. There are two different
      varieties of halflings in the world, as well the 'tallfellows', descendents of halflings who have interbred with humans or elves. The Lightfoot halflings
      predominate in Elathia, while the Strongheart Halflings are more common in Atyrea.
    </p>
    <h3>Lightfoot Halflings</h3>
    <p>
      Lightfoot halflings tend to be happy-go-lucky sorts. They are most prevalent on the eastern continent of Elathia, where they live among the humans, elves, and
      dwarves primarily, with some small communities in orcish cities of the south. Lightfoot halflings are more slight of build compared to their cousins the
      Strongheart halflings.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: your dexterity score increases by 2 and your charisma score increases by 1.</li>
      <li>Size: Halflings average about 3 feet tall and weigh about 40 pounds. Your size is Small.</li>
      <li>Speed: Your base walking speed is 25 feet.</li>
      <li>Lucky: When you roll a 1 on an attack roll, ability check, or saving throw, you can reroll the die and must use the new roll.</li>
      <li>Brave: You have advantage on saving throws against being frightened.</li>
      <li>
        Hafling Nimbleness: You can move through the space of any creature of a size larger than yours. You can attempt to hide even when you are obscured only
        by a creature that is at least one size larger than you.
      </li>
    </ul>
    <h3>Strongheart Halflings</h3>
    <p>
      Strongheart halflings are somewhat more serious of nature than their lightfoot cousins. They live primarily in the western continent of Atyrea. Strongheart
      halflings lack the unusual luck of their eastern brethren, but are more adept in combat and war.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: your dexterity score increases by 2 and your constitution score increases by 1.</li>
      <li>Size: Halflings average about 3 feet tall and weigh about 40 pounds. Your size is Small.</li>
      <li>Speed: Your base walking speed is 25 feet.</li>
      <li>Lucky: When you roll a 1 on an attack roll, ability check, or saving throw, you can reroll the die and must use the new roll.</li>
      <li>Brave: You have advantage on saving throws against being frightened.</li>
      <li>
        Hafling Nimbleness: You can move through the space of any creature of a size larger than yours. You have advantage on saving throws against poison, and you
        have resistance against poison damage.
      </li>
    </ul>
    <h3>Tallfellow Halflings</h3>
    <p>
      Tallfellow halflings are the descendents of halflings and humans or halflings and elves. Considerably taller than your typical halfling (averaging between
      4 1/2 and 5 feet) they are still considerably shorter than humans and most elves. Nevertheless they are able to weild human sized weapons, and ride full size
      mounts. They also make bigger targets.
    </p>
    <p>
      Tallfellow halflings are rare, but are more common in more cosmopolitan cities. In more rural halfling communities they are often outcast as half-breeds,
      while in human and elven communities they are looked down on for their small stature.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: your strength score increases by 1 your dexterity score increases by 2 and your charisma score increases by 1.</li>
      <li>Size: Tallfellow Halflings average about 4.5 feet tall and weigh about 80 pounds. Your size is Medium.</li>
      <li>Speed: Your base walking speed is 30 feet.</li>
      <li>Lucky: When you roll a 1 on an attack roll, ability check, or saving throw, you can reroll the die and must use the new roll.</li>
      <li>Brave: You have advantage on saving throws against being frightened.</li>
    </ul>
  </div>
  <div class="racediv" id="humans">
    <h2>Humans</h2>
    <p>
      Humans are the most populous race on the planet, but also the most fragmented and spread out.  They are known among other races for their adaptability and
      diversity.  Humans have established a number of empires and nations in the history of Elthelas, yet most have fallen apart due to internal corruption, or
      were destroyed by external forces.
    </p>
    <p>
      There are 5 subraces of humans in Elthelas, loosely grouped by the empires to which they belonged.  3 subraces originate from the western continents of
      Riftlan and Atyrea, and 2 originate from the eastern continent, Elathia, and the sub-continent, Nerim.
    </p>
    <h3>Deran Humans</h3>
    <p>
      The Deran people once had a great empire on the northeast coast of Riftlan. Their capital, Dera, was at the time the most beautiful city in the world,
      surpassing even Loridesa of Eldoran. then disaster struck in the form of demon invasion. They were saved from annihilation by the Dragon God Bahamut and
      relocated to a chain of islands off the coast, where the founded the nation of Dera'Dragorim. They have been close allies with dragon kind, particularly
      metallic dragons, ever since, and to this day they consider demons to be their most hated enemies (with devils not far behind).
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Three different ability scores of your choice each increase by 1.</li>
      <li>Size: Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 ft.</li>
      <li>Skills: You gain proficiency in one skill of your choice.</li>
      <li>Draconic Heritage: You gain resistance to damage of one type: electric, fire, or cold.</li>
      <li>Trust of Dragons: You have a +5 bonus to Charisma checks made against a dragon.</li>
    </ul>
    <h3>Hisru Humans</h3>
    <p>
      The Hisru people live primarily in the nations of Zelfir and Hisru'de'tan, and are the descendents of those humans in ancient times who were enslaved by the Sorceron now imprisoned northwest of Zelfir. Over the course of their slavery they were exposed to repeated compulsion spells, and over time built up a resistence to such effects. This resistence manifests itself in person as an incredible strength of will (what some would just call stubbornness). They also have a great tradition of horsemanship and herding, particularly in Hisru'de'tan where it is their entire way of life.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Two different ability scores of your choice each increase by 1.</li>
      <li>Size: Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 ft.</li>
      <li>Skills: You gain proficiency in Animal Handling. You have advantage on Animal Handling checks made to ride or train mounts.</li>
      <li>
        Enchantment Resistance: The hisru people, after centuries of living under the effects of enchantment, have developed a natural resistance to magic of the
        enchantment school.  You have advantage on saving throws against enchantment spells.
      </li>
      <li>
        Feat: You gain one feat of your choice from the following list: Athlete, Charger, Heavy Armor Master, Mageslayer, Magic Initiate, Medium Armor Master,
        Mobile, Polearm Master, Savage Attacker, Sharpshooter, Skilled, Tough, War Caster, or Weapon Master.
      </li>
    </ul>
    <h3>Imperial Humans</h3>
    <p>
      The imperials are descended from the scattered human nations on the eastern continent that were eventually united under the Dormanian Empire. Although the
      empire has since split into the nations of Gerasalim, Kandor, and Dormania, movement of people and continuous trade has resulted in a shared culture and
      heritage. Before the empire, the 15-odd nations that dotted the human portions of the continent each had their own rich and varied history, much of which was
      lost or destroyed when Emperor Dorman the 1st led his soldiers in conquest. Only the most studied of scholars today knows anything of the history of the
      varied parts of the empire before then.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your ability scores each increase by 1.</li>
      <li>Size: Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 ft.</li>
    </ul>
    <h3>Neran Humans</h3>
    <p>
      The Neran people descend from the old kingdom of Nerim, once a great player in world politics, and the center of Nera's cult. After the magical disaster that
      left over 90% of the population as roaming, mindless undead, those who remained fled north and west, taking up residence where they could, in lands that now
      make up the nations of Terron, Arad, Seran, and Shendarel. Their history has left this people changed in oddly contradictory ways. Having been touched by the
      Death Goddess herself, they are naturally skilled at necromancy, but highly distrustful of those who use such magic. This touch also often makes them sickly.
      Their history of warfare with the undead has forced their clerics to train more than others in the art of channelling energy to turn undead, and their
      warriors more skilled at fighting them. Their natural distrust of others makes them poor diplomats, but they also have an unusual ability to recognize and
      avoid evil.
    </p>


    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Three different ability scores of your choice each increase by 1.</li>
      <li>Size: Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 ft.</li>
      <li>
        Affinity for the Dead: +1 to the saving throw DC of all necromancy spells you cast, you always add your proficiency bonus to the saving throw DC and attack
        rolls for necromancy spells, even if you do not have your spell focus.
      </li>
      <li>Skills: You gain proficiency in one skill of your choice.</li>
      <li>
        Extra Channel Divinity: Clerics and paladins gain 1 extra use of channel divinity before they need to rest.  
      </li>
      <li>
        Undead Fighting Training: You have advantage on attack rolls, skill checks, and saving throws, made against or relating to the undead.
      </li>
    </ul>
    <h3>Staelic Humans</h3>
    <p>
      Often forgotten by the rest of the world outside of their immediate neighbors, the Staelic people inhabit the merchant kingdom of Alfadir, as well as their
      ancestral homeland of Staelia. They are masters of combat in medium and heavy armor, as well as tactical and mounted combat, and have developed an inherent
      resistence to the cold southern lands of their home. Historically their growth as a people has been checked by the endless war between them and the trolls,
      giants, and ogres who regularly sweep down from the Gorgro Plateau, and the strange and varied ice monsters that sweep northward from the ice wastes.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Two different ability scores of your choice each increase by 1.</li>
      <li>Size: Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 ft.</li>
      <li>Skills: You gain proficiency in one skill of your choice.</li>
      <li>Feat: You gain one feat of your choice.</li>
    </ul>
  </div>
  <div class="racediv" id="orcs">
    <h2>Orcs</h2>
    <p>
      Orcs are primarily characterized by their great strength. They are slightly taller than humans, and much more muscular, with green to mottled brown skin,
      large noses, a prominant brow-ridge and an underbite featuring tusks. While they are stereotyped as being stupid, evil, and cruel, only the last 2 are
      usually true. They are also the most populous race in the world save humans, and had they the same room to expand, they probably would have outbred humans
      long ago.
    </p>
    <p>
      Orcs are also generally tribal, and orcish society revolves around rule by the strongest. Unfortunately this does not lead to stable societies, but rather
      warlords who rise and fall, usually within a few years, and who war amongst themselves. These warlords are generally High Orcs, a breed that has long
      seperated itself from their kin, favoring skill in leadership or sorcerous magic over pure brute strength. Far to the south, in Nerim, the Sand Orc tribes
      roam.
    </p>
    <h3>Grunt Orcs</h3>
    <p>
      The grunt orcs have never really been able to rule themselves in any organized or permanent manner. When they haven't been ruled by outsiders or their high
      orc brethren, they have generally been little more than tribal, ruled by whatever warlord happened to be the strongest. Grunt Orcs are the strongest of the
      orc breeds, and make up the bulk of the orc armies. When not at war they often compete in feats of strength, including blood sports.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your strength score increases by 2 and your constitution score increases by 1.</li>
      <li>Size: Orcs are somewhat larger and bulkier than humans, and they range from 5 to well over 6 feet tall. Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 ft.</li>
      <li>Darkvision: 60 ft.</li>
      <li>Menacing: You gain proficiency in the intimidation skill.</li>
      <li>
        Relentless Endurance: When you are reduced to 0 hit points but not killed outright, you can drop to 1 hit point instead. You can't use this feature again
        until you finish a long rest.
      </li>
      <li>
        Savage Attacks: When you score a critical hit with a melee weapon attack, you can roll one of the weapon's damage dice one additional time and add it to
        the extra damage of the critical hit.
      </li>
      <li>
        Blood Scent: When an opponent is reduced to half or fewer hitpoints, the scent of the blood can send you into a sort of frenzy. Attacks against foes with
        half or fewer hit points do an extra 2 damage.
      </li>
    </ul>
    <h3>High Orcs</h3>
    <p>
      The high orcs are less strong, and slightly smaller than grunt orcs, and more than a bit lazy, but they make up for it with greater social skills and
      diplomatic nature. They tend to be the rulers in Orc society, playing others off each other to rise to the top in orcish politics, befriending the strongest
      grunt orcs, and using them as champions as they rise to the top of society. Many of the high orcs live apart from their kin, on the island nation of Olda,
      where they keep vast hordes of slaves to do their bidding, watched over by highly paid mercenaries.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your strength score increases by 2 and your charisma score increases by 1.</li>
      <li>Size: Orcs are somewhat larger and bulkier than humans, and they range from 5 to well over 6 feet tall. Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 ft.</li>
      <li>Darkvision: 60 ft.</li>
      <li>Menacing: You gain proficiency in the intimidation skill.</li>
      <li>
        Relentless Endurance: When you are reduced to 0 hit points but not killed outright, you can drop to 1 hit point instead. You can't use this feature again
        until you finish a long rest.
      </li>
      <li>Commanding Presence: You have been born and bred for leadership. You have advantage on all Charisma (Persuasion) and Charisma (Intimidation) checks.</li>
    </ul>
    <h3>Sand Orcs</h3>
    <p>
      The Sand Orcs are an offshoot of Grunt Orcs that have taken up a nomadic lifestyle in the deserts of Nerim. They are a hardy people, and excellent riders,
      making use of powerful riding lizards for travel. They move from oasis to oasis in wandering tribes, and have little contact with the outside world.
    </p>
    <p>
      Sand Orcs are leaner compared to their Grunt Orc and High Orc cousins, and their skin more brown and tan than green.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your strength score increases by 2 and your Constitution score increases by 2.</li>
      <li>Size: Orcs are somewhat larger and bulkier than humans, and they range from 5 to well over 6 feet tall. Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 ft.</li>
      <li>Darkvision: 60 ft.</li>
      <li>Menacing: You gain proficiency in the intimidation skill.</li>
      <li>
        Relentless Endurance: When you are reduced to 0 hit points but not killed outright, you can drop to 1 hit point instead. You can't use this feature again
        until you finish a long rest.
      </li>
      <li>Fire Resistance: You have resistance to fire damage.</li>
    </ul>
  </div>
  <div class="racediv" id="tieflings">
    <h2>Tieflings</h2>
    <p>
      Tieflings are the descendents of humans that have mated with demons or devils, they bear the mark of this touch in their appearance and nature. They often
      bear demonic traits, such as horns, forked tails or tongue, or reddish skin or eyes. They also tend towards evil more than the average person, and although
      this is far from a given, it is common enough that the distrust that follows them everywhere is justified.
    </p>
    <p>
      Tieflings are not quite as rare as Aasimar (given demons' proclivity for lust), although they are still rare enough to cause a stir in any town they show up
      in, especially given their heritage. Tieflings are more common in the west, where demons, and demon attacks, are also more common. Tieflings of a good or
      neutral persuasion can usually find shelter in Dera'Dragorim or Zelfir, the second as a service to Amathera as a pity of their natural plight, and the first
      in recognition of a shared victimization at the hands of aggressive demon invaders.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your intelligence score increases by 1 and your charisma score increases by 2.</li>
      <li>Size: Tieflings have about the same size and build as humans. Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 feet.</li>
      <li>Darkvision: 60 ft.</li>
      <li>Hellish Resistance: You have resistance to fire damage.</li>
      <li>
        Infernal Legacy: You know the thaumatergy cantrip. Once you reach 3rd level, you can cast the hellish rebuke spell once per day as a 2nd-level spell. Once
        you reach 5th level you can cast the darkness spell once per day. Charisma is your spellcasting ability for these spells.
      </li>
    </ul>
  </div>
  <div class="racediv" id="trollkin">
    <h2>Trollkin</h2>
    <p>
      Oft described by those who meet them as 'damn ugly, but damn efficient killers', trollkin are gangly, thick chested humanoids with disgustingly angular
      faces, long pointed noses, and grey-green to brown skin. Strong and hardy, they are somewhat larger than an orc, and have clawed hands.
    </p>
    <p>
      The trollkin were originally craeted during the dawning years of the world as a magical experiment in interracial breeding. The end result was something akin
      to a fast maturing, highly stunted troll, and was cast out by its Sorceron creators as a failure and released into the wild. Yet the trollkin's improved
      intellect in comparison to their troll progenitors, ability to breed quickly, and fit into other societies (with a bit of care and luck), enabled the Trollkin
      to thrive where trolls were hunted and killed. During the God's War, the trollkin were conscripted as foot soldiers into the armies of every side, and by the
      end of the war, only a few hundred remained alive. Nevertheless, these few hundred managed to find a land of their own on a large island that they named
      Degak'Ta, and from there they have spread out to various lands once again.
    </p>
    <p>
      The trollkin, unlike every other major race on Elthelas, are naturally antitheistic. They generally feel the Gods betrayed their people in the God's War,
      using them as pawns, sending them to their deaths, and in the end, providing no reward. Politically, they tend to discount charisma as useless, rewarding
      strength and cunning. In their homeland of Degak'Ta they are ruled by a warlord, who gains office through contests of strength and tactics. In foreign affairs
      they are generally aloof, not taking sides in conflicts as a people, and instead hire out individually or in small groups as mercenaries to either or any
      side, and they are highly valued as such.
    </p>
    <h4>D&amp;D 5 Racial Traits</h4>
    <ul>
      <li>Ability Score Increase: Your Strength score increases by 1 and your Constitution Score increases by 2.</li>
      <li>Size: Trollkin range from 7 feet to 8.5 feet tall, and typically weigh between 250 and 350 lbs.  Your size is medium.</li>
      <li>Speed: Your base walking speed is 30 ft.</li>
      <li>Styptic Skin: You have advantage on checks to become stable when you are at 0 hit points.</li>
      <li>Tough as Nails: Your hit point maximum increases by 1 per character level.</li>
      <li>
        Face of a Troll: Trollkin have disadvantage on any charisma check except intimidation checks made to influence an NPC who is not a
        Trollkin or Troll.
      </li>
      <li>Clawed Hands: Your unarmed strikes naturally do 1d4 slashing damage.</li>
      <li>Powerful Build: You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift.</li>
      <li>
        Trollkin Weaponry: You start with one of the following weapons: Greatclub, Mace, Spear, Battleaxe, Flail, Longsword, Morningstar, War pick, or Warhammer.
        This weapon is too big for most medium creatures to wield, but for you can be treated as a medium size weapon.  It does an extra damage die of damage, so
        if it would do 1d6 damage, it instead does 2d6, and if it would do 1d8 it instead does 2d8 damage.  You cannot wield large weapons created for truly large
        creatures, but it is possible to obtain a new Trollkin weapon (of a type listed above) from a smith trained in making them, or any trollkin weapon smith.
        A trollkin weapon costs and weighs twice as much as a medium sized weapon of that type.
      </li>
    </ul>
  </div>

	<h3>Age</h3>
	<p>
		Age in Elthelas differs from default D&amp;D, particularly in that none of the major races differ from humans in max age by more than an order
		of magnitude.  Only dragons, outsiders, fae, and a few other animals and monsters live longer than 200 years without divine
		or magical intervention.  Such intervention usually draws the ire of the Gods (specifically Nera, goddess of death and rebirth, but the other
		Gods usually frown on it as well).
	</p>
	<p>
		Typical ages of various life stages for each of the major races.  Note "max age" is not a strict maximum age, but rather the age when 95%
		of any particular cohort has died.  Start of Puberty and Sexual Maturity are given in exact median age(any individual is usually +/- 2), all
		others are rounded to the nearest multiple of 5.
	</p>
	<table class="table datatable">
    <thead>
      <tr>
        <th>Race</th><th>Start of Puberty</th><th>Sexual Maturity</th><th>Mental Maturity</th><th>Middle Age</th><th>Old Age</th>
        <th>Average Lifespan</th><th>Maximum Age</th>
      </tr>
    </thead>
		<tbody>
		<tr>
			<th>Aasimar</th><td>18</td><td>22</td><td>35</td><td>60</td><td>80</td><td>110</td><td>140</td>
		</tr>
		<tr>
			<th>Dragonborn</th><td>19</td><td>24</td><td>40</td><td>65</td><td>90</td><td>120</td><td>150</td>
		</tr>
		<tr>
			<th>Dwarf</th><td>15</td><td>19</td><td>30</td><td>50</td><td>70</td><td>95</td><td>120</td>
		</tr>
		<tr>
			<th>Elf</th><td>18</td><td>22</td><td>35</td><td>60</td><td>80</td><td>110</td><td>140</td>
		</tr>
		<tr>
			<th>Faelin</th><td>24</td><td>30</td><td>50</td><td>80</td><td>110</td><td>150</td><td>190</td>
		</tr>
		<tr>
			<th>Fey'ri</th><td>11</td><td>14</td><td>25</td><td>35</td><td>50</td><td>70</td><td>90</td>
		</tr>
		<tr>
			<th>Genasi</th><td>14</td><td>17</td><td>30</td><td>45</td><td>60</td><td>85</td><td>110</td>
		</tr>
		<tr>
			<th>Gnome</th><td>10</td><td>13</td><td>20</td><td>35</td><td>50</td><td>65</td><td>80</td>
		</tr>
		<tr>
			<th>Goblin</th><td>8</td><td>10</td><td>15</td><td>25</td><td>35</td><td>50</td><td>65</td>
		</tr>
		<tr>
			<th>Goliath</th><td>12</td><td>15</td><td>25</td><td>40</td><td>55</td><td>75</td><td>95</td>
		</tr>
		<tr>
			<th>Half-Dwarf</th><td>14</td><td>17</td><td>30</td><td>45</td><td>60</td><td>85</td><td>110</td>
		</tr>
		<tr>
			<th>Half-Elf</th><td>15</td><td>19</td><td>30</td><td>50</td><td>70</td><td>95</td><td>120</td>
		</tr>
		<tr>
			<th>Halfling</th><td>13</td><td>16</td><td>25</td><td>45</td><td>60</td><td>80</td><td>100</td>
		</tr>
		<tr>
			<th>Hobgoblin</th><td>12</td><td>15</td><td>25</td><td>40</td><td>55</td><td>75</td><td>95</td>
		</tr>
		<tr>
			<th>Human</th><td>12</td><td>15</td><td>25</td><td>40</td><td>55</td><td>75</td><td>95</td>
		</tr>
		<tr>
			<th>Kobold</th><td>10</td><td>12</td><td>20</td><td>30</td><td>45</td><td>60</td><td>75</td>
		</tr>
		<tr>
			<th>Orcs</th><td>9</td><td>11</td><td>20</td><td>30</td><td>40</td><td>55</td><td>70</td>
		</tr>
		<tr>
			<th>Tiefling</th><td>8</td><td>10</td><td>15</td><td>25</td><td>35</td><td>50</td><td>65</td>
		</tr>
		<tr>
			<th>Trollkin</th><td>21</td><td>26</td><td>45</td><td>70</td><td>95</td><td>130</td><td>165</td>
		</tr>
	</tbody></table>
	<h3>Height and Weight</h3>
	<table class="table datatable">
    <thead>
      <tr>
        <th>Race</th><th>Average Male Height</th><th>Average Male Weight</th><th>Male Weight Roll</th><th>Male Height Roll</th>
        <th>Average Female Weight</th><th>Average Female Height</th><th>Female Weight Roll</th><th>Female Height Roll</th>
      </tr>
    </thead>
		<tbody>
		<tr>
			<th>Celestial Aasimar</th><td>6'1"</td><td>170 lbs</td><td>height(inches) * 2 + 4d10 lbs</td><td>5' + 2d12 inches</td>
                                <td>5'10"</td><td>160 lbs</td><td>height(inches) * 2 + 4d10 lbs</td><td>4'11" + 2d10 inches</td>
		</tr>
		<tr>
			<th>Child of Molton</th><td>6'0"</td><td>165 lbs</td><td>height(inches) * 2 + 4d10 lbs</td><td>5'3" + 2d8 inches</td>
                              <td>5'9"</td><td>155 lbs</td><td>height(inches) * 2 + 4d8 lbs</td><td></td>
		</tr>
		<tr>
			<th>Sorceron Blooded</th><td>5'9"</td><td>145 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Dragonborn</th><td>6'6"</td><td>220 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Hill Dwarf</th><td>4'10"</td><td>160 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Deep Dwarf</th><td>4'8"</td><td>150 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Plains Dwarf</th><td>5'0"</td><td>170 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Morrind Dwarf</th><td>5'1"</td><td>175 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>High Elf</th><td>5'7"</td><td>135 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Moon Elf</th><td>5'8"</td><td>140 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Wild Elf</th><td>5'5"</td><td>125 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Wood Elf</th><td>5'6"</td><td>130 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Faelin</th><td>3'3"</td><td>40 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Fey'ri</th><td>5'6"</td><td>135 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Water Genasi</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Air Genasi</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Earth Genasi</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Fire Genasi</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Imperial Gnome</th><td>3'6"</td><td>65 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Stagen Gnome</th><td>3'5"</td><td>60 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Goblin</th><td>3'10"</td><td>80 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Goliath</th><td>7'6"</td><td>260 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Half-Dwarf</th><td>5'4"</td><td>170 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Half-Elf</th><td>5'8"</td><td>145 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Lightfoot Halfling</th><td>3'7"</td><td>55 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Strongheart Halfling</th><td>3'5"</td><td>50 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Tallfellow Halfling</th><td>5'0"</td><td>110 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Hobgoblin</th><td>6'0"</td><td>170 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Deran Human</th><td>5'11"</td><td>160 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Hisru Human</th><td>5'9"</td><td>150 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Imperial Human</th><td>5'10"</td><td>155 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Neran Human</th><td>5'9"</td><td>150 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Staelic Human</th><td>6'0"</td><td>165 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Kobold</th><td>2'11"</td><td>30 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Grunt Orc</th><td>6'7"</td><td>215 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>High Orc</th><td>6'4"</td><td>195 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Sand Orc</th><td>6'5"</td><td>200 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Tiefling</th><td>5'10"</td><td>155 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<th>Trollkin</th><td>7'2"</td><td>245 lbs</td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
	</tbody></table>
	
{% endblock %}
