{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }}
      method="POST" class="fos_user_change_password">
{{ form_widget(form) }}
<div>
<input type="submit" value="Change Password Now" />
</div>
</form>