{% extends 'base.html.twig' %}

{% block sidebar %}
    <nav class="sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{path("init_roller")}}">Initiative Roll Tool</a></li>
      {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a href="#">Creature Creator</a></li>
        <li><a href="#">DM Dashboard</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="{{path('logout')}}">Log Out</a></li>
      {% else %}
        <li><a href="{{path('account_register')}}">Sign Up</a></li>
        <li><a href="{{path('login_route')}}">Sign In</a></li>
      {% endif %}
      {% if app.user and is_granted('ROLE_ADMIN') %}
        <li><a href="">User Administration</a></li>
      {% endif %}
      </ul>
    </nav>

{% endblock %}