{% extends 'AppBundle:dm:index.html.twig' %}

{% block title %} {{pagetitle}} {% endblock %}
{% block body%}
  <form action="" method="post">
    <table class="datatable table table-hover table-responsive table-striped">
      <thead>
        <tr><th>Character Name</th><th>Initiative Mod</th><th>Initiative Score</th></tr>
      </thead>
      <tbody id="chartablebody">
        {% for char in chars %}
          <tr name="char{{char['id']}}" id="char{{char['id']}}">
            <td><input type="text" name="char{{char['id']}}name" id="char{{char['id']}}name" value="{{char['name']}}" /></td>
            <td><input type="number" name="char{{char['id']}}init" id="char{{char['id']}}init" value="{{char['init']}}" /></td>
            <td>{{char['initcalc']}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="button" value="Add Character" id="addCharButton" />
    <input type="submit" value="roll initiative" />
  </form>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('angularjs/1.3.14/angular.min.js', 'cdn')}}"></script>
    <script src="{{asset('jquery/2.1.3/jquery.min.js', 'cdn')}}"></script>
    <script src="{{asset('jqueryui/1.11.3/jquery-ui.min.js', 'cdn')}}"></script>
    {% javascripts '@AppBundle/libraries/*'
                    '@AppBundle/js/initiative.js'
                   output='js/script-initiative.js'%}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


