{% extends 'base.html.twig' %}
{% block sidebar %}
    <nav class="sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#" id="allianceof6nations" class="orglink" >Alliance of 6 Nations</a></li>
        <li><a href="#" id="blacksun" class="orglink" >Black Sun</a></li>
        <li><a href="#" id="blackwolfirregulars" class="orglink">Black Wolf Irregulars</a></li>
        <li><a href="#" id="championsofcora" class="orglink" >Champions of Cora</a></li>
        <li><a href="#" id="gerasalinealliance" class="orglink" >Gerasaline Alliance</a></li>
        <li><a href="#" id="illustriousguildmerchants" class="orglink" >Illustrius Guild of Merchants and Fine Artisans</a></li>
        <li><a href="#" id="morrindbrewers" class="orglink" >Morrind Brewers Club</a></li>
      </ul>
    </nav>
{% endblock %}
{% block body %}
		<p>
			There are a variety of multi-national or non-national organizations in Elthelas, both historical and contemporary.  Choose one in the sidebar on the left to
      read more about it below.
		</p>
    <div id="orgdiv"></div>


  
{% endblock %}
    {% block javascripts %}
      {% include "::javascripts.html.twig" %}
      <script>
        var loc = "{{ path('locdata', {"type": "organizations", "location": "blacksun"}) }}";
        {% if org is defined %}
            var thisloc = loc.slice(0,-8) + "{{org}}";
            $.get(thisloc, function(data) {
                $("#orgdiv").html(data);
            });
        {% endif %}
            $(".orglink").click(function() {
              var orgname = $(this).attr("id");
              var thisloc = loc.slice(0,-8) + orgname;
              $.get(thisloc, function(data) {
                $("#orgdiv").html(data);
                ga('send', 'pageview', thisloc);
              });
            });
      </script>
    {% endblock %}