<h4>Amatheran Ocean</h4>
<p>
  While some have theorized that the ocean west of Riftlan is the same as the ocean east of Dormania, no one has yet been able to prove that fact.  As such, they
  still maintain different names on the two continents.  Nations that border the Amatheran Ocean are:
</p>
<ul>
  <li>Alfadir</li>
  <li>Zelfir</li>
</ul>
