<h4>Ice Ocean</h4>
<p>
  The far north of the world is covered in polar ice, spreading in the winter to block the northern ports of Kaland and Farengar, and receding in the summer.  This
  landless ocean has never been crossed.  Nations that border the Ice Ocean include:
</p>
<ul>
  <li>Curinor</li>
  <li>Dormania</li>
  <li>Eldoran</li>
  <li>Kandor</li>
  
</ul>