	<h4>Ice Wastes</h4>
	<p>
	  The Ice Wastes are a flat frozen tundra on the southern edge of Atyrea, south of the Gorgro plateau and Staelia. It has never been fully explored, but it is believed to terminate at the
	  southern ice cap.  The ice wastes are full of strange and unusual creatures and monsters found nowhere else in the
	  world.  It is also the home of the white dragons.
	</p>