<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Spotify Artist Search</title>
        <!--I want to build a clean looking page without integrating a lot of custom CSS or unnecessary files, so I am going to use bootstraps cdn.-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!--This is asking for something very single-page-app like, so I'm going to use Angular to make the front-end process simpler-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="spotifySearch.js"></script>
    </head>
    <body data-ng-app="spotify">
        <div class="container-fluid" data-ng-controller="spotify-search">
            <h1>
                Search for Your Favorite Artists
            </h1>
            <form class="form">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Search <input data-ng-model="query" type="text" name="q" class="form-control" /></label>
                        <input type="button" value="submit" class="btn btn-primary" data-ng-click="searchSpotify()" />  
                    </div>
                </div>
                <div class="row" data-ng-if="artists.length !== 0">
                    <div class="col-sm-12">
                        <input type="button" class="btn btn-success" data-ng-click="nameSort()" value="Sort Artists by Name" />
                        <input type="button" class="btn btn-success" data-ng-click="popularitySort()" value="Sort Artists by Popularity" />
                    </div>
                </div>

            </form>
            <div class="artistContainer" data-ng-if="artists.length !== 0">
                <div class="row" style="margin-top: 10px;" data-ng-repeat="artist in artists">
                    <div class="col-sm-12">
                    <div style="float:left; margin-right: 10px;">
                        <img style="max-width:75px;height:auto;" data-ng-src="{{artist.image}}" alt="{{artist.name}}" />
                    </div>
                    <div style="float:left;">
                        <h4><a href="{{artist.url}}">{{artist.name}}</a></h4>
                        <p>Spotify URL <a href="{{artist.url}}">{{artist.url}}</a></p>
                    </div>
                    </div>
                </div>
                <div class="row">
                    Genres Represented(name: count): <br /><span class="btn btn-default" style="margin:5px" data-ng-repeat="genre in genres">{{genre.name}}: <strong>{{genre.count}}</strong></span>
                </div>
            </div>
            <div data-ng-if="artists.length === 0">
                <p>
                    No query entered or no artists match your query.
                </p>
            </div>
        </div>
    </body>
</html>