{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
  	<p>
		<strong>Current Campaign Date: </strong> 1844 YFC 2nd of Moltyr (August - Early September equivalent).
	</p>
	<h3>Summary Letter to The Dragon Emperor of Dera'Dragorim</h3>
	<p>
		Things have not been looking up for the good-aligned peoples of the world recently.  The Alliance of 6 Nations, successful in
		repelling orcish invasion and maintaining peace among the good aligned peoples on Elathia for 50 years, is fracturing.  It started
		with a theft believed to be impossible.
	</p>
	<p>
		The Fortress of Light, the pinnacle achievement of the alliance, and the dividing line between Malinval and the alliance nations,
		was protected from magical attack by a massive arcanium crystal that absorbed all magic attacks directed towards the fortress, while
		enabling Mage's from within the fortress to cast magic outward.  Combined with formidable walls, and well protected, magical
		emergency supply lines, the fortress was considered impenetrable until a ragtag group of elven and half elven recruits, with some
		human tag alongs stole the arcanium crystal from its place, floating high above the fortress.  Where they came upon the device they
		used is unknown, but they were caught in possession of a device capable of removing the crystal from its place, the only such device
		ever discovered.  
	</p>
	<p>
		They were tried, but nothing more than circumstantial evidence could be obtained, and their sentence was reduced to a term of
		imprisonment followed by banishment, but the night following the trial they escaped by unknown means, taking with them a
		considerable amount of alliance equipment.  Sir Briarwick, a renowned Paladin from Desadorel was dispatched to retrieve them.
	</p>
	<p>
		They were not sighted again until the ruins of Parshiva, where Briarwick had learned from a great seer they would be on a certain
		date.  There they were sighted in the company of a group of gnomish thieves, who promptly fled in a strange flying ship bearing the
		crystal.  However, the original recruits were captured by Briarwick, who thought it most prudent to pursue the crystal rather than
		return with the fugitives immediately.  Instead he sent his mage advisor to return with the most dangerous of the fugitives, the
		wizard Soren, who was known to have murdered a fellow soldier.  However, before the mage was able to make it back, Soren attempted
		to escape, and he was forced to kill the murderous traitor.
	</p>
	<p>
		On the island city of <a href='#'>Marinda</a>, the fugitives again escaped, and to continue their reign of havoc, somehow opened a portal to the
		Abyss itself, leading in short order to the destruction of that city, the death of Briarwick's crew.  Briarwick himself was captured
		by the fugitives, who teleported with him to the Dwarven city of Morrind.
	</p>
	<p>
		There they once again met with their Gnomish compatriots, and following a brief argument during a raid they performed on the local
		mage's guild, there was an explosion aboard the Gnomish flying ship, and the ship, the crystal, and many of those aboard were
		destroyed.  Briarwick escaped however, and returned to the Alliance to tell of the misfortune that had befallen, although he
		suffered from Stockholm syndrome following his captivity, and seemed convinced of the fugitives' innocence, despite all evidence to
		the contrary.  He was placed in an asylum until he recovers from his delusions.
	</p>
	<p>
		Meanwhile, it was confirmed that the dark Sorceron known as the Prince of Fiends was once again walking the world, and had united
		the orcs under his banner.  It was not long after the theft of the crystal that his armies marched on the Fortress of Light, which
		has held its ground against constant siege only at great cost of life.
	</p>
	<p>
		The dwarves blamed the elves for the theft, an accusation which Eldoran and Demal Thor both vehemently deny.  It is true that Demal
		Thor's agents are unlikely to be responsible for this tragedy, as they stood the most to lose from the loss of the Fortress of
		Light's defences, as the recent destruction of their capital, <a href='#'>Aridhem</a>, attests, however Eldoran stands apart from the fighting, and
		would have much to gain from the destruction of the 'rebel province' Demal Thor, and their ancient enemies, the dwarves, by orcish
		hands.  Their recent refusal to send reinforcements to the front lines near the Golden Pass, citing a 'hostile environment and
		likelihood of treachery' only reinforces this opinion.
	</p>
	<p>
		Meanwhile, sightings of orcs deep within the territories of Demal Thor, Curinor, and Gerasalim are increasing, raids on villages and
		towns are becoming more common and more brazen, and reinforcements grow scarce, while the imperial court in Dormania continues to
		squabble over who should assume the thrown after the recent demise of their "great" Emperor, Dorman XXII.
	</p>
	<p>
		I fear that our only recourse at this point is to hope for the emergence of new heroes, for the old edifices of power are crumbling.
	</p>
	<p>
		-	Matteas Brand<br>
		Master Spy, Dormanian Unit

	</p>
	<h2>Brief Summaries of Recent Major Events</h2>
	<h3>Rising of the Prince of Fiends</h3>
	<p>
		The Prince of Fiends, an ancient Sorceron wizard and right hand of Mat'Raktha during the Gods' War has recently reappeared.  He has
		united the Orc Clans of Malinval under his rule in a surprisingly short time, and his armies have so far taken the Alliance of 6
		Nations completely off guard.
	</p>
	<h3>Theft of the Crystal of Light</h3>
	<p>
		The arcanum crystal that defended the Fortress of Light from magical attack was stolen recently in a string of events that eventually
		led to the destruction of said crystal.  Who exactly was responsible for that theft and destruction is still debated, but the most
		common belief is that it was an inside job, a collaboration between a group of gnomish thieves, and recruits of the Black Wolf
		Irregulars.
	</p>
	<h3>The Abyssal Gate of <a href='#'>Marinda</a></h3>
	<p>
		Recently a large, and apparently permanent, planar gateway to the Abyss opened in the middle of the Morrind city of <a href='/world/cities/marinda.php'>Marinda</a>.  That
		island is now under quarentine by the Morrind fleet, but it is believed that more demons are entering the material plane every
		day, a threat that may eventually dwarf the Prince of Fiends himself.
	</p>
	<h3>Sacking of Aridhem</h3>
	<p>
		The Moon Elf capitol, <a href='#'>Aridhem</a>, which lies at the foot of the Golden Pass, was sacked by orcs and is currently an occupied city.  The
		Moon Elf tribes are scattered and disorganized, and are offering little resistence to the marauding orc armies.
	</p>
	<h3>Recapture of Aridhem</h3>
	<p>
		A rebellion within the Orc armies weakened the forces controlling Aridhem such that the armies of the alliance have been able to retake the city, although it
		remains largely depopulated.  Recapture of the fortresses in the Golden Pass and resumption of mining is still unlikely in the near future.
	</p>
	<h3>Awakening of Gaian</h3>
	<p>
		Rumors have been spreading that the sleeping Goddess, Gaian, has awoken.  Druids the world over have come out of their forests
		preaching of their Awakened God and the coming tide of nature's retribution.
	</p>
	<h3>Death of Dorman XXII</h3>
	<p>
		Dorman XXII, heir to the celestial throne, has perished after accidentally falling from the window of the tallest tower in his palace.
		His tragic death has led to renewed squabbling between the Great Houses over who will lead the empire.  So far there has been no sign
		of consensus, and it may yet lead to civil war between potential heirs.
	</p>
	<h3>Disappearance of the Dragon Emperor</h3>
	<p>
		The Dragon Emperor Valraxa has not been seen in public for three years, and rumors that the ancient dragon has died are growing more
		persistent by the day.
	</p>
	<h3>Raid on the Temple of Amathera</h3>
	<p>
		Rumors have reached Elathia that the great temple of Amathera in Zelfin was raided.  Details vary, but most accounts say a single
		orc sorcerer attacked the temple and succeeded in stealing several important artifacts that had been under guard and killed several
		important and powerful clergymen.
	</p>
	<h3>Morda'serek'hai burns</h3>
	<p>
		Rumors continue to grow of the repercussions in Malinval of defying the will of the Prince of Fiends.  One such rumor has it that
		he burned the entire city of Morda'serek'hai to the ground after its chief warlord refused to send his soldiers to join the armies
		attacking the Fortress of Light.  Morrind merchants report that rebuilding is underway, but it may be generations before the city
		recovers completely.
	</p>
{% endblock %}