{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
  <p>
		<b>History and Description:</b> Dera was the first truly powerful nation to arise after the end of the God's War. Bringing together
		the many disparate groups who found themselves in Riftlan. It is said that only a few cities have ever rivalled Dera in splendor and
		wealth. At its peak at the beginning of the 7th century YFC the empire stretched from the Demon Peaks to the south and west to the
		northern shores of Riftlan. Yet the empire was mostly peaceful, with few enemies besides ocassional monsters drifting through the
		weak planar boundaries and it was unprepared for the cataclysm to come.
	</p>
	<p>
		In the early morning on a fateful day in 642, a planar gate opened. It is unknown whether this gate was opened by some enterprising
		young mage with little thought for protective spells, or if it simply ocurred as one of the random planar fluxes of Riftlan, but for
		some time the gate sat undisturbed, alone, high in the mountains of northern Dera. Then one day demons began pouring through it, led
		by powerful demon lords. The demons fell on the unsuspecting citizens of Dera burning and slaughtering everyone in their wake. Few
		escaped to bring warning to those further out, and at first no one believed their tales of an army of demons on the march. Until
		that army arrived at the gates of the Great City itself. The walls of Dera had not been built to withstand sieges, but rather for
		beauty and the regulation of trade. Thus when the demons came there was little hope for the city but to try and get as many people
		away as possible. The college of mages organized an effort to teleport as many people away as they could before the Demons fell on
		the city. Less than 2000 of the nearly one million inhabitants escaped. But it was enough.
	</p>
	<p>
		Those who lived yet further out from the invasion had warning, and fled to the coast. There they prepared to make their stand
		forging from amongst themselves a ragtag army, every able man and woman taking up arms of some sort, and as the demons approached,
		salvation came. From the clouds swooped in dragons of every size and stripe, at their head a massive dragon covered in glistening
		scales of platinum. Inspired by the bravery of the people of Dera, Bahamut had sent his avatar and his people to intervene. The
		demons were routed and fled and many of their demon lords were slain. Those that survived were harried into the Demon Peaks, where
		they hid from Bahamut's retribution. The demonic gate was sealed by ancient dragon sorcerers, and as a final act of mercy, the
		dragons carried the people of Dera to a new land, islands far off the coast of Riftlan, and one of their number, a great gold
		dragon, was left behind to serve as a benevolent king. Their new kingdom was Dera'Dragorim and the twin cities that formed its
		capital named after great dragons who fell in the defense of the people, Vasha and Vashna.
	</p>
{% endblock %}