{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
  	<p>
		<b>History and Description:</b> The God's War refers to a period of unknown length before recorded history in which the Gods walked
		Elthelas freely among their greatest creation and servants, the Sorceron. Sorceron magi, wizards. Theologians (at least outside of
		groups that worship Mat'raktha) blame the war on a a coup by Mat'raktha in which he sought to claim the world for himself. Malik,
		the God of Chaos and War joined his coup because he thought it interesting, and they further allied themselves with the forces of
		the hells and the abyss. If true it is in fact the only time that any of these factions have actively aided one another. Certain
		apographal theoligans claim that the war was actually started by Alohim in a quest to rid the world of all evil influences, but such
		ideas are frowned upon. This unholy alliance took the other Gods by surprise and the war raged continuously until nearly every
		Sorceron alive was dead, as well as many angels, archangels, powerful demons and devils, and even several minor Gods.
	</p>
	<p>
		The war finally ended with Mat'raktha banned from intervening in the world except through mortal clerics after Malik agreed to
		withdraw from the war. What Malik got in return for this betrayal is unknown, but perhaps he saw an end to all future chaos and wars
		with the potential destruction of all mortal races. Despite all of this it was Nera, the goddess of Death and Rebirth, who refused
		to take a side in the war, who ensured that the God's War would not happen again. She used her power to declare death to any God who
		walked the world himself with no hope of Rebirth.
	</p>
{% endblock %}