{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
  	<p>
		<strong>History and Description:</strong> The Dormanian Empire waned quickly after its meteoric rise. Dorman I was followed immediately by a
		secession of rather witless yet long lived emperors who lost territory to the orcs, wasted resources on expensive and relatively
		pointless projects, and lavished themselves in all the riches a continent spanning empire provides. Finally during the reign of
		Dorman V things came to a bloody head. Towards the middle of his reign, in 1553, he pulled several of the legions out of southern
		Gerasalim in order to quell minor rebellions near the capital over exorbitant taxes (levied to pay back wages for laborers and mages
		involved in the construction of the Great Ramp 6 years before).
	</p>
	<p>
		The very same year, several of the more powerful warlords took it on themselves to move northward across the mountains into
		Gerasalim. The weakened garrisons were overwhelmed, and by the time the legions returned in early 1554 the orcs had swept as far
		north as the southern shores of Lake Saria. The legion commanders, local men themselves, along with most of their men, immediately
		fought back, but also published a letter of support for independence from the empire. The local nobility, unable to agree on one man
		to lead such a kingdom did something truly unique for that time and place. They put it to a vote of the commons. Dominic Patraeus
		Orsellus, Commander of the 33rd Legion, was thus elected the first king of Gerasalim, Lord of Eastguard, and defender of the
		Blighted Gap. Dorman V, incompetent to the last, sent orders to Dominic to put down the rebellion, only to find them ignored and
		Northport placed under seige. Before the year was out there was not a soldier loyal to the empire left in Gerasalim.
	</p>
	<p>
		Yet the fractures only began there. Two years later, in 1556, the local lords of Kandor, feeling themselves over taxed and ignored
		by the empire, threatened to rebel as well unless they were granted independence and a king of their own. Dorman V, thoroughly
		discouraged by his utter failure in dealing with the first rebellion, granted their petition, and appointed the first King of Kandor
		that fall. That winter Dorman V died of heart failure, his physician said of a broken heart, while his eldest son, a reknowned
		expert in esoteric poisons, ascended as The Esteemed Emperor of Dormania, Dorman VI.
	</p>
{% endblock %}