{% extends "base.html.twig" %}


{% block sidebar %}
    <nav class="sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('history_index') }}">History Home</a></li>
        <li><a href="{{ path('history_current')}}">Current Events</a></li>
        <li><a href="{{ path('history_timeline')}}">Timeline of Major Events</a></li>
				<li><a href="{{ path('history_major') }}">Major Historical Events</a></li>
				<li class="divider"></li>
				<li><a href="{{path('history_gods_war')}}">God's War</a></li>
				<li><a href="{{path('history_mithril_wars')}}">Mithril Wars</a></li>
				<li><a href="{{path('history_moon_elf_rebellion')}}">Moon Elf Rebellion</a></li>
				<li><a href="{{path('history_unification_wars')}}">Unification Wars</a></li>
				<li><a href="{{path('history_imperial_schism')}}">Imperial Schism</a></li>
				<li><a href="{{path('history_fall_of_dera')}}">Fall of Dera</a></li>
				<li><a href="{{path('history_nerim_cataclysm')}}">Nerim Cataclysm</a></li>
      </ul>
    </nav>

{% endblock %}

{% block body %}
	<p>
		Select a category to browse the history of Elthelas.
	</p>
	<ul>
		<li><a href='{{ path('history_current') }}'>Current Events</a></li>
		<li><a href='majorevents.php'>Major Historical Events</a></li>
		<li><a href='{{ path('history_timeline') }}'>See the timeline</a></li>
	</ul>
{% endblock %}