{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
	<article>

		<article>
		<h3>Major Historical Events</h3>
		<ul>
			<li><a href="#">God's War</a></li>
			<li><a href="#">Mithril Wars</a></li>
			<li><a href="#">Moon Elf Rebellion</a></li>
			<li><a href="#">Unification Wars</a></li>
			<li><a href="#">Imperial Schism</a></li>
			<li><a href="#">Fall of Dera</a></li>
			<li><a href="#">Nerim Cataclysm</a></li>
		</ul>
	</article>

{% endblock %}
