{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
  	<p>
		<b>History and Description:</b> The Mithril Wars were a series of wars between the elves and dwarves over a small area known as the
		Mithril Hills. These hills, unsurprisingly rich in Mithril ore have remained largely untapped until the last 10 or so years because
		neither side could hold onto them for any appreciable period of time. The border has shifted back and forth repeatedly over the
		years and still runs almost directly through the region, however the dwarves have little remaining stake in the hills because their
		holds were almost completely depopulated in the last war. While the near extermination tactic employed by the elves is deplorable at
		best, the end to the wars that it caused allowed for the creation of the Alliance of 6 Nations and probably the best hope yet of
		resisting the ever increasing aggression of Malinval.
	</p>
	<h3>The First War</h3>
	<p>
		The Mithril Wars got their start almost as soon as the elves founded their first settlement in the hills, a small village whose name
		is lost to time.  The dwarves, who considered the entire area Dwarven territory, saw it as an outward aggressive act, and burned the
		village to the ground.  The elves sent a warning to the dwarves not to interfere with elven settlement plans, as well as troops to
		guard any future settlements.
	</p>
	<p>
		Curinor responded by sending settlement parties of their own to begin building holds and mining the hills.  The settlers faced
		off in a tense stalemate for 90 years before a hotblooded young dwarf, Magar Mithrilaxe, managed to get himself elected under-king.
	</p>
	<p>
		Eldoran had warned against electing someone who favored invasion, and within a week of his election, Eldoran had sent a formal
		declaration of war to <a href="{{path('location', {"type": "cities", "location": "curinkeep"})}}">Curin Keep</a>, and dispatched an army to
		protect settlers in the hills.  However, before the elven army reached
		what Eldoran considered the front line, the dwarves, with the help of their Morrind kin, had landed a massive invasion force on the
		subcontinent itself.
	</p>
	<p>
		For three weeks the dwarven army burned and pillaged its way through the elven countryside before the elven armies were able to
		respond effectively.  When the armies finally met, the weather conditions made it impossible for either commander to control their
		forces.  The slaughter continued for 3 days before everyone on both sides had either been killed or fled.  The under-king himself
		was killed on the field of battle, as well as the Crown Prince of Eldoran.
	</p>
	<p>
		No peace treaty or truce was ever declared, but both sides ability to wage war had been destroyed, and the war for all intents and
		purposes was over for the time being.  Indeed no leader on either side managed to rouse the spirit of war in their people again for
		60 years, and the settlements in the hills were all but abandoned.
	</p>
	<h3>The Second War</h3>
	<p>
		The next 200 years saw just enough fighting between the elves and dwarves to keep the hills effectively abandoned,
		and relations tense.  Then, in 1067 YFC, flames erupted over an unusual family.  Born of two backwater miners,
		the half-elf half-dwarf children came to the attention of the elven authorities after their parents were killed by bugbears.  The
		then king of Eldoran declared that the children were the product of rape, as no elven woman could possibly fall in love with a
		dwarf, and immediately declared all dwarves outlaws in Eldoran.  The resulting imprisonment and execution of nearly 2000 dwarves
		pushed public opinion in Curinor over the edge, and calls began for punishment of the 'pointy eared dogs'.
	</p>
	<p>
		Dwarf armies were assembled, but this time the elves pushed first.  Elf armies marched from Estapor to Granite Bluff, placing the
		hold under siege, a siege that became farcical in its length.  No large dwarf hold has ever fallen to siege or assault, and this was
		no different.  For 60 years the elven army stood outside the gates, and for 60 years the dwarves patiently let them, conducting trade
		and resupply through the underground tunnel networks that connect all the major holds of Curinor.
	</p>
	<p>
		The elven public was fully aware of the ridiculousness of the siege, the siege camp had become like a city outside the city, with
		semi-permanent dwellings.  As public opinion in Eldoran shifted towards recuperation, eventually support for the war waned, and
		in the first declared truce, the siege was lifted, the dwarves agreed not to invade, and the law forbidding dwarves entrance to
		Eldoran was repealed.
	</p>
	<h3>The Third, Fourth, and Fifth Wars</h3>
	<p>
		The next three wars, in 1211, 1345, and 1497 each saw settlers from one side or the other try to build in the hills, followed by
		destruction of the settlements by the other side, followed by small armies fighting pitched battles in rough terrain, and new
		truces declared, each time drawing new borders that neither side really recognized.
	</p>
	<h3>The Last Mithril War</h3>
	<p>
		The Last Mithril War started after both sides began new settlement campaigns in the hills starting in 1770 YFC.  Eldoran, trying to
		open new markets in the west, wanted access to the mithril to sell abroad, while Curinor, fighting a war with Kandor over a series of
		border holds, wanted the Mithril to arm their soldiers.  Eldoran, realizing that their ancient foes were distracted, declared war and
		sent a huge army into the hills in small groups, targeting civilian populations and settlers.  The dwarf miners were wiped out before
		the dwarf army could respond, and seeing themselves outmanned and pinned between two foes, the dwarves agreed to negotiate a peace
		in 1776 that ceded the largest mithril deposits to Eldoran.
	</p>
{% endblock %}