{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
  	<p>
		<b>History and Description:</b> Nerim was one of the two early human empires (along with Dera) and was by far the longest lived. Nevertheless it only ever had one emperor.
	</p>
	<p>
		Nerim, as a nation worshipped Nera, the goddess of death and rebirth, who could grant her followers long life. If she so chose. The Emperor of Nerim, Immanuel Exorsa, was one of her greatest disciples, and considered by the church of Nerim to be her prophet (towards the end of his reign this title was disputed in the colony known as Arad, where they believed the emperor to be apostate.) Yet, after 1000 years of life, Nera told Immanuel it was time for him to prepare for death, as it must eventually come to all. But Immanuel feared death, and concocted a plan with his wizards and priests to gain immortality, not only for himself, but for all the peoples of the empire. Years of work went into preparing the ritual that would be required, but when it was complete, the people discovered that they had been decieved. Or more accurately, those not within approximately 500 miles of the capital, for the ritual killed everyone in that area, and immediately brought them back as undead servants to their newly reborn Lich King Exorsa.
	</p>
	<p>
		Those left on the fringes of the empire found themselves immediately under seige with undead pouring out of the empires heartland led by fell undead necromancers. Slaughtering all they could and raising them to join their endless armies. Some found refuge, such as the Sand Orcs. Most fled. Soon refugees began pouring into every kingdom that could be reached by ship, with more begging passage than could possibly be accomodated. Yet the nations, as they took in the refugees, still did not understand the scope of the problem, and only a few brave souls, protected by the Gods resisted that first year. The Goddess Cora immediately took up the cause of the disheartened refugees, sending her mighty Champions to protect them. Yet they fought a losing battle, and it was not until the undead built ships of their own, and the first undead invasion forces landed in southern Dormania that the nations fought back. The war that followed was massive, uniting an entire continent, bringing together dwarves and elves and humans and orcs, gnomes and halflings in a way not seen before or since. The Lich King himself was reputed to be slain at the hands of one of Cora's Champions.
	</p>
	<p>
		The undead were pushed back, and the Gods came to agreement, for the alliance could not last, and the undead could not all be destroyed. They put aside the Gods' Agreement, and together made the first changes to the face of the world since the God's War. Great mountains were brought up around Nerim, and the land was cursed with eternal heat by Molton. The undead have remained trapped and leaderless since.
	</p>
{% endblock %}