{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
  	<h3>Historical Timeline</h3>
<ul>
	<li>
		1844 YFC 22nd of Trimalan - Moon Elf armies, led by the sun tribe, attempt to retake <a href='#'>Aridhem</a>, but are outmaneuvered.  Few survivors
		escape from the battle.
	</li>
	<li>
		1844 YFC 10th of Dorunor - <a href='#'>Aridhem</a> falls to Orcish assault, the city is burned and occupied.
	</li>
	<li>
		1843 YFC 29th of Amatheran - Orcish armies begin siege of <a href='#'>Aridhem</a>.
	</li>
	<li>
		1843 YFC 20th of Moltyr - Orcish armies begin advance through the Golden Pass, fighting is slow, but the orcs make steady progress
		taking fortress after fortress.
	</li>
	<li>
		1843 YFC 30th of Mardia - Theoligans report the awakening of Gaian the sleeping Goddess.
	</li>
	<li>
		1843 YFC 22nd of Maridia  - the once thought dead Sorceron known as the Prince of Fiends is sighted amongst the armies sieging the
		Fortress of Light.
	</li>
	<li>
		1843 YFC 11th of Gaiana - The Morrind colony of <a href='#'>Marinda</a> is invaded by demons through a permanent planar gate to the abyss.
		Survivors report fighting in the streets between demons and devils, but in the weeks following the devils are not seen.
	</li>
	<li>
		1843 YFC 21st of Sylvanus - The largest single orc army seen in 500 years lays siege to the Fortress of Light.  
	</li>
	<li>1843 YFC 17th of Sylvanus - The magical crystal protecting the Fortress of Light is stolen.</li>
	<li>1789 YFC - Construction of Fortress of Light Completed</li>
	<li>1784 YFC - Construction of Fortress of Light Begins</li>
	<li>1782 YFC - Alliance of 6 Nations formed at conference in Strovenguard</li>
	<li>1776 YFC - Eldoran and Curinor declare the mithril wars officially ended, drawing an official border through the mithril hills.</li>
	<li>
		1774 YFC - Eldoran takes advantage of a war between Kandor and Curinor to engage in a genocidal campaign in the mithril hills,
		depopulating the dwarven holds in the area.
	</li>
	<li>1692 YFC - Moon Elf Rebellion occurs, Demal Thor founded</li>
	<li>
		1649 YFC - People of Dera'Dragorim found Portsmith, their first colony on the Riftland continent since the fall, more than 1000
		years before.
	</li>
	<li>1556 YFC - First King of Kandor appointed by Dorman V</li>
	<li>1554 YFC - Gerasalim elects its own king, formally declaring independence from Dormania</li>
	<li>1547 YFC - Great Ramp completed</li>
	<li>1543 YFC - Construction of Great ramp between Poron and Malidal begins</li>
	<li>
		1524 YFC - Emperor of Nerim killed in single combat by the champion of cora, the Gods agree to put aside the Gods' Agreement to deal
		with the issue personally, and trap the remaining undead behind massive mountains.
	</li>
	<li>
		1523 YFC - First attacks by undead on Dormania lead the empire to turn its full weight to deal with the Nerim Cataclysm.  It is not
		until late in 1523 that the full scale of what has happened is understood by the rest of the world.  Refugees begin arriving in
		Shendarel.
	</li>
	<li>
		1522 YFC - Most of the population of Nerim becomes undead, refugees begin arriving in farther flung areas of the empire such as Arad
		and Terron.
	</li>
	<li>1497 YFC - Fifth Mithril War</li>
	<li>1418 YFC - Ascension of Dorman I confirmed by imperial theologists.</li>
	<li>
		1412 YFC - Dorman I ends campaign in Malinval.  He abdicates his throne in favor of his young son, Dorman II, and begins a quest
		seeking Ascension to godhood.
	</li>
	<li>1410 YFC - Black Shard Pass constructed</li>
	<li>1409 YFC - Dorman I betrays the Gerasaline Alliance and lays waste to its kingdoms.  Strovenguard Keep is built.</li>
	<li>1408 YFC - Dorman I gives up siege of <a href="#">Curin Keep</a></li>
	<li>1401 YFC - Dorman I lays siege to <a href="#">Curin Keep</a></li>
	<li>1388 YFC - Dorman I declares war on Falak, beginning the first of the Unification Wars</li>
	<li>1345 YFC - Fourth Mithril War</li>
	<li>1330 YFC - Orc colonists arrive in the largely uninhabited southern part of Nerim.</li>
	<li>1329 YFC - Arad colonized by Nerim</li>
	<li>1276 YFC - Terron colonized by Nerim</li>
	<li>1211 YFC - Third Mithril War</li>
	<li>1236 YFC - Alfadir declares independence from Staelia in a bloodless revolution</li>
	<li>1129 YFC - After more than 60 years the elves give up the siege of Granite Bluff, </li>
	<li>1067 YFC - Second Mithril War begins after dwarves declared outlaws in Eldoran.  Elves lay siege to Granite Bluff</li>
	<li>927 YFC - Alfadir colonized</li>
	<li>
		863 YFC - In the first all-out war of the Mithril Wars, the dwarves of Curinor enlist the Morrind to ferry the bulk of their army to
		Eldoran proper.  The invasion force burns and pillages along the coastline and inland for 50 miles, reaching the God Spire before
		the elves manage to get their army to the area.  The resulting battle leads to the death of nearly 3/4 of all involved.  The dwarves
		come out the victors, but so bloodied that they must return to Curinor.  The area from the coast to the God Spire is never inhabited
		again, and is purported to be haunted, today known as the Undead Woods.
	</li>
	<li>773 YFC - First border skirmishes of the Mithril Wars</li>
	<li>760 YFC - Colonists from near Kaland arrive in Shendarel.</li>
	<li>731 YFC - Elven colonists arrive at Vasha Vashna, making first contact with Dera'Dragorim by Elathian people.</li>
	<li>729 YFC - Colonization of Shendarel by Eldoran.</li>
	<li>642 YFC - Demonic invasion begins the fall of Dera</li>
	<li>432 YFC - Eldoran founds first colonies on Elathia</li>
	<li>266 YFC - Last Sorceron imprisoned near Zelfir within the Sorcerer's Prison.  Zelfir and Hisru'de'tan founded.</li>
	<li>0 YFC - First contact between dwarves of Curinor and Morrindim</li>
	<li> ~ -200 YFC - Nation of Dera founded</li>
	<li> ~ -480 YFC - construction begins on <a href="#">Curin Keep</a></li>
	<li> ~ -488 YFC - Loridesa, the world's oldest surviving city is constructed.</li>
	<li> ~ -500 YFC - The Gods' Agreement brings an end to the God's War.</li>
</ul>
{% endblock %}