{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
  	<p>
		<b>History and Description:</b> The Unification Wars is a broad name given to a series of wars conducted by Dorman I to integrate the various small human kingdoms of Elathia into one superpower empire. Shortly after Dorman ascended to the throne of Desadorel, at that time a relatively minor city state, the only human nation in Elthelas with any real power to resist invasion was the Empire of Nerim.
	</p>
	<p>
		The unification wars can be summed up in 3 phases:<br/>
	
		the consolidation of Dormania<br/>
		
		the war with Curinor<br/>
	
		the war against the Gerasaline Alliance<br/>
	</p>
	<p>
		Early on Dorman's opponents were relatively weak, but so was his own army. He used brilliant tactical maneuvers to force his enemies to surrender, often less than honorable, but always efficient and without unnecessary killing. Kingdom after kingdom fell, until he had conquered all of the east, from Malidal to Sreppe. He followed up each conquest with placing a loyal governor, instituting his own taxes, and setting up recruitment stations. He encouraged city folk to go out and start farms by offering a zero tax policy on farmers, and buying up surplus grain to feed his armies, and even more.
	</p>
	<p>
		In 1400 Dorman began secretly moving his armies into position along the border with the vassal states of Curinor, kingdoms he had previously left alone in order to avoid drawing the wrath of the dwarves. Then, with no official declaration of war his soldiers moved west. They swept through the vassal states faster than their supply wagons could move, stripping the rich countryside for food as they went, and crushing the pitiful resistence the vassal states (with no armies to speak of on their own) provided. In a matter of two months all of present-day Kandor had been conquered and his armies stood at the edge of the mountains. Then the supply wagons came pouring in, bringing far more food then the armies could eat, distributing the surplus to the displaced peasantry, and also bringing material for building fortifications and securing the area.
	</p>
	<p>
		The next spring retribution from Curinor came, but Dorman was prepared. The dwarf army found one of the largest and most disciplined human
		armies ever gathered waiting for them. By the end of spring the dwarves were on the defensive, and by late summer he had taken several holds
		and was laying siege to <a href="{{path('location', {"type": "cities", "location": "curinkeep"})}}">Curin Keep</a>.
		The siege would last for 7 years without the dwarven
		fortifications wavering. The one thing for which Dorman had been unprepared was the interconnected tunnels between the heartland holds of
		Curinor, such that the dwarves could funnel food and supplies into <a href="{{path('location', {"type": "cities", "location": "curinkeep"})}}">Curin Keep</a>
		from Torin Hammer
		and Strovenguard without ever having to send a wagon over the surface. Combined with the massive rune-encrusted fortifications on the
		surface and at the tunnel entrances, <a href="{{path('location', {"type": "cities", "location": "curinkeep"})}}">Curin Keep</a>
		is considered the most impregnable fortress in the
		world. It was Dorman's only failure. Nevertheless, he left Curinor with a peace treaty that ceded all of the human lands and several of the
		dwarf holds he had taken to his control.
	</p>
	<p>
		To the south of Kandor lay a group of nations that were loosely held together by a military alliance, the Gerasaline Alliance, named after a prominent Queen who first brought together the southern countries to better defend themselves against encroaching orc invaders. In order to avoid unnecessary conflict while he was busy in Curinor, Dorman signed on to the treaty, sending one of his legions to help defend the Blighted Gap, promising that once peace was concluded with the dwarves he would send his full military might to the area. Which he indeed did do. Once peace with Curinor was concluded he immediately marched his armies south, but instead of moving them to the border fortresses with the orcs, he instead once again burned his way through the territory, betraying those who thought he was their ally. The armies of the alliance were scattered along the southern border, and disorganized in resisting, and Dorman's empire grew.
	</p>
	<p>
		He burned the cities of Gerasalim and built new ones to take in refugees, and started to build up his forces on the Blighted Gap, and at the city of Eastguard, where he summoned mages from home. He divulged to them his plans, to open up a new war front with Malinval and take the orcs by surprise, but to do so he needed the wizards to literally build a pass through the mountains faster than any thought it could be done. Black Shard Pass was built over the course of the winter of 1410, and as soon as the stones were cool enough to walk on, the armies of Dormania poured through, as well as striking hard through the Blighted Gap. By the time Dorman stopped his conquests he held everything north and east of Dal Okra.
	</p>
{% endblock %}