  <h4>Aridhem</h4>
	<p>
		Population: 2,000 (Metro Area: 5,000)
	</p>
	<p>
		National Allegience: Demal'Thor (currently occupied by Malinval)
	</p>
	<p>Majority Racial Group: Moon Elves</p>
	<p>Ruling Group: Moon Elves</p>
	<p>
		Aridhem's permanent population is actually only a few thousand souls, many of whom are merchants, both local and foreign, who deal in
		exporting the herd animals and leather goods that are the leading exports of the region, and selling various imported goods to the
		tribes.  The herdsmen and craftsmen they trade with arrive with their clans at sporadic intervals when they need to buy and sell a large
		number of goods, or when the tribal leaders need to meet to discuss matters of state.
	</p>
	<p>
		Because of this there are very few permanent structures in the city.  The city walls are simple fortifications consisting of low earthen
		mounds topped with spikes, guarding a mostly tent city.  Towards the heart of the city is the Council Building, a rather utilitarian stone
		structure where the meetings between the tribal chiefs are held.  It contains not only meeting spaces, but also rooms and shelter for
		the chiefs and their entourages, as well as foreign dignitaries, such as the alliance ambassadors.  Outside of the Council Building, only
		the occasional house, shop, or warehouse belonging to a merchant break up the field of tents.
	</p>
	<p>
		Currently, the city is almost entirely depopulated, after it was sacked and occupied by an orcish army, then retaken.  Little trade
    occurs in the city now, and those who could have fled.  The city remains under immenent threat from orcish attack.
	</p>