  <h4>Curin Keep</h4>
	<p>
		Population: 160,000 (Metro Area: 210,000)
	</p>
	<p>
		National Allegience: Curinor
	</p>
	<p>Majority Racial Group: Hill Dwarves</p>
	<p>Ruling Group: Deep Dwarves</p>
	<p>
		Curin Keep, the impregnable fortress, is the ancient center of dwarven culture, and the first hold.  Over its history it has grown
		from a small network of mines and caverns into a massive undermountain fortress that goes thousands of feet below the surface and houses
		hundreds of thousands of dwarves.  Tunnels from Curin Keep lead to every major hold in Curinor.
	</p>
	<p>
		It's status as the cultural and political center of Curinor means people from all over the world find their way here to trade, nevertheless,
		no one who is not a dwarf is allowed beyond the upper levels, and even the low-caste Plains Dwarves are not permitted to go to the deepest
		levels where the most sacred temples, halls of government, and of course, richest mines live.   Curinor sits over veins of adamantium and
		gold that are believed to run all the way to the planet's mantle, and every year the dwarves dig a little deeper to pull out the riches
		of the earth.
	</p>
	<h4>Temple of the Song</h4>
	<p>
		The headquarters of the church of Dorun, The sound of the temple singers can be heard throughout the caverns of Curin Keep ringing in complex
		harmonies that overlap each other in intricate ways such that wherever one is the song is different, but always beautiful.
	</p>
	<h4>Halls of the Underking</h4>
	<p>
		The palace of the underking is the center of Curinor's government.  While the public facing side is grand and beautiful, with walls of marble
		and gilt, behind the scenes it houses a massive beauracracy that manages the regulation and government of the kingdom.  The underking himself
		is more a figurhead than anything, acting as the face of the government to foreign powers.
	</p>
	<h4>The Deepest Chamber</h4>
	<p>
		The Deepest Chamber is the home of the Curin Congress, the primary legislative and judicial body of Curinor.  It's name has been a misnomer
		for nearly 1000 years however, as the mines have continued to dig deeper and deeper into the earth, yet when the chamber was first built, it
		was indeed the deepest chamber the dwarves had ever built.
	</p>
	<h4>Alliance Embassy</h4>
	<p>
		The Embassy of the Alliance of 6 Nations actually sits above ground, near one of the primary entrances to the city.  It is a large fortress
		complex where the ambassadors from the other 5 nations have quarters and meeting rooms, as well as take audience with members of their
		constituencies so that they can advocate for their positions.
	</p>