  <h4>Eastguard</h4>
	<p>
		Population: 20,000 (metro area: 35,000)
	</p>
	<p>
		National Allegience: Gerasalim
	</p>
	<p>Majority Racial Group: Imperial Humans</p>
	<p>Ruling Group: Imperial Humans</p>
  <p>
    Eastguard is a fortress city established by Dorman III to guard the exit of the black shard pass, as it looked increasingly likely the orcs
    would retake the land beyond.  The city fell briefly during the reign of Dorman IX, but has, in general been a bulwark of imperial defense ever
    since.
  </p>
  <p>
    The fortress city serves as a major supply dump for alliance forces and the Gerasaline army, as well as a trade hub for the southeastern part of
    Gerasalim.
  </p>