  <h4>Morda'Serek'Hai</h4>
    	<p>
		Population: 50,000 (previously 150,000)
	</p>
	<p>
		National Allegience: Malinval
	</p>
	<p>Majority Racial Group: Grunt Orcs</p>
	<p>Ruling Group: High Orcs</p>
  <p>
    Morda'Serek'Hai was ruled by the Stormclaw family for the past several generations, is a today ruled by a governor appointed by the Prince of Fiends,
    after the Stormclaws refused to bend knee to him.  The Stormclaw family was wiped out, although rumors of survivors have popped up from time to time.
    It was the apparent appearance of a Stormclaw sorcerer named Dench that led to the revolt and eventual retaking of Aridhem by the alliance.
  </p>
  <p>
    Morda'Serek'Hai sits along the Nadrak river, and the area around it is known for growing cash crops such as cotton, as well as for livestock such
    as pigs.  Although most of the population was killed or drafted to make an example to the other orc cities and warlords, the surrounding areas were
    left untouched, leading to a much greater concentration of wealth among the merchants and dealers who remain in the city.
  </p>
  <p>
    Until recently, Morda'Serek'Hai was largely made of poorly constructed wood and sod buildings, but the resent influx of wealth has seen new buildings
    made of metal and stone begin to shoot up in the wealthier areas of the city.
  </p>