<h4>Alados</h4>
<p>
  Population: 15,000 (Metro area: 15,000)
</p>
<p>
  National Allegience: Morrindim
</p>
<p>
  Majority Racial Group: Morrind Dwarves
</p>
<p>
  Ruling Group: Morrind Dwarves
</p>
<p>
  Notable Minorities: Trollkin, Orcs, Neran Humans
</p>
<p>
  Major Exports: Ships
</p>
<p>
  Landmarks: The Great Shipyard
</p>
<h4>Description</h4>
<p>
  As the Morrindim ventured out from the little island they had first settled on in ancient days, they came across the island of Alados, and
  established a small resupply base there.  It didn't take long for them to realize the value of the island however, the fast growing fir and spruce
  trees that dotted the island rocky island proved ideal for ship construction.
</p>
<p>
  Today Alados is the largest producer of ocean-going ships in the world.  The population of the island is clustered in the city proper so as to
  provide as much space as possible for the miles of tree farms that cover the rest of the island.  The large harbor is dominated by the massive
  shipyards, where as many as 20 ships may be under construction at one time.
</p>