<h4>Albeliath</h4>
<p>
  Population: 20,000 (Metro area: 60,000)
</p>
<p>
  National Allegience: Arad
</p>
<p>
  Majority Racial Group: Neran Humans
</p>
<p>
  Ruling Group: Neran Humans
<p>
  Notable Minorities: Lightfoot Halflings
</p>
<p>
  Major Exports:
</p>
<p>
  Landmarks: Temple of Nera
</p>
<h4>Description</h4>
<p>
  Albeliath sits as the capitol of Arad, a nation shunned on the international stage for its monotheistic worship of the Goddess Nera.  Named for
  Nera's prophet, the nearly 1000 year old cleric Faran Albeliath, the city is built around the great Temple, which also acts as the center of
  government.
</p>
<p>
  Outsiders are surprisingly welcome in Albeliath, so long as they don't attempt to convert people to other faiths, or blaspheme against Nera.
</p>