<h4>Atyrao</h4>
	<p>
		Population: 15,000 (Metro Area: 60,000)
	</p>
	<p>
		National Allegience: Hisru'de'tan
	</p>
	<p>Majority Racial Group: Hisru Humans</p>
	<p>Ruling Group: Hisru Humans</p>
<p>
  Notable Minorities: Staelic Humans, Stagen Gnomes, Morrind Dwarves
</p>
<p>
  Major Exports: Beef Cattle, Horses
</p>
<p>
  Landmarks: the Cattle Market
</p>
<h4>Description</h4>
<p>
  Atyrao, as the premier port and cattle market of the country, is one of several neutral sites among the clans of Hisru'de'tan.  Every year
  in the rainy season the clans drive their herds south to Atyrao, where they sell their excess to traders from around the western world.  There
  are actually very few permanent residents who are natives.  Most are traders and merchants from Zelfir, Alfadir, Morrindim, Stagenheim, or Staelia.
  There are some from Dera'Dragorim and Eldoran who make Atyrao their home.  Those who are natives are usually working for one of the merchants
  or serving as emissaries for their clans in order to purchase supplies throughout the year.
</p>