<h4>Barak</h4>
	<p>
		Population: 80,000 (Metro Area: 200,000)
	</p>
	<p>
		National Allegience: Olda
	</p>
	<p>Majority Racial Group: Goblins</p>
	<p>Ruling Group: High Orcs</p>
<p>
  Notable Minorities: High Orcs, Grunt Orcs, Trollkin, Hobgoblins, Kobolds
</p>
<p>
  Major Exports: Silk
</p>
<p>
  Landmarks: 
</p>
<h4>Description</h4>
<p>
  The southern city of Barak in Olda is the center of Olda's massive silk industry, with massive plantations of silk worms producing year round.
  The first silk worms of Barak were stolen centuries ago by an entrapeneuring elvish rogue, who unfortunately for her, never made it back to
  Eldoran.  Instead her ship was waylaid by orcish pirates based in Olda, who tortured her until she revealed the purpose of her smuggled worms.
  From this the eastern silk industry was born, and Barak now supplies most of courts of Elathia with silk. 
</p>
<p>
  Like the rest of Olda, Barak is primarily populated by goblin slaves who do all of the real labor.  The town itself is ruled by a council of High
  Orc merchants who constantly scheme against one another, but unlike in the mainland, rarely come to blows.
</p>