<h4>Delan</h4>
	<p>
		Population: 10,000 (Metro Area: 30,000)
	</p>
	<p>
		National Allegiance: Dera'Dragorim
	</p>
	<p>Majority Racial Group: Deran Humans</p>
	<p>Ruling Group: Deran Humans</p>
	<p>Notable Minorities: Dragonborn, Genasi, Tieflings, Aasimar</p>
	
	<p>
	    When the people of Dera fled the continent, Delan was the first place they landed.  While most of the population moved on, and the capitol ended up at the twin cities of Vasha and Vashna.
	</p>
	<p>
	    Delan remains the gateway to Riftlan, and the gateway between Riftlan and the more civilized eastern world.  Genasi, Tieflings, Aasimar and other extraplanar exiles and halfbreeds
	    often make their way to Delan in their search for a home where they can both be accepted and enjoy a decent standard of living.
	</p>
	<p>
	    The city itself is a trade hub surrounded by plantations producing luxury goods such as sugar, coffee, and cocoa.  These export products make their way from Delan throughout the world, and make it
	    a common destination for many traders and merchants.
	</p>