<h4>Dima</h4>
	<p>
		Population: 8,000
	</p>
	<p>
		National Allegiance: Eldoran
	</p>
	<p>Majority Racial Group: Wood Elves</p>
	<p>Ruling Group: High Elves</p>
  <p>
    Notable Minorities: High Elves, Plains Dwarves
  </p>
  <p> Landmarks: The Mines of Dima</p>
  <p>
      Dima is not a large city, but it is notable as the hub for the northern mining regions of Eldoran.  It has a notable minority of Plains Dwarves expats who work the mines where the elves turn
      their noses up at going underground.  Most of the iron, steel, and other metals used by the elves is smelted in Dima before moving south along the Sindi Dal'Elda to Loridesa.
  </p>