<h4>Falak</h4>
<p>
  Population: 20,000
</p>
<p>
  National Allegience: Dormania
</p>
<p>
  Majority Racial Group: Imperial Humans
</p>
<p>
  Ruling Racial Group: Imperial Humans
</p>
<p>
  Significant Minority Races: Halflings, Elathian Gnomes
</p>
<p>
  The northern port and trading hub Falak sits at the mouth of the Dorman river, and as such acts as the gateway between Desadorel and the rest of
  the world.  While the decline of the Imperial capitol has likewise led to a consequent decline in Falak's importance, it remains a bustling trade
  hub.
</p>