<h4>Farengar</h4>
<p>
  Population: 18,000 (Metro area: 60,000)
</p>
<p>
  National Allegiance: Arad
</p>
<p>
  Majority Racial Group: Imperial Humans
</p>
<p>
  Ruling Racial Group: Imperial Humans
</p>
<p>
  Significant Minority Races: 
</p>
<p>
  Landmarks: 
</p>
<h4>Description</h4>
<p>
    Farengar is a hub of farming communities in the northern part of Dormania, the center of export for trade on the Yellow River.  The biggest exports of the area are grains, such as wheat, corn, 
    barley and rye.  Farengar is a 3 season port, closed by ice in the depths of winter, nevertheless the grain exports remain a vital food supply for Curinor and Desadorel.
</p>