<h4>Fradae</h4>
	<p>
		Population: 35,000 (Metro Area: 120,000)
	</p>
	<p>
		National Allegiance: Alfadir
	</p>
	<p>Majority Racial Group: Staelic Humans</p>
	<p>Ruling Group: Staelic Humans</p>
	<p>Notable Minorities: Hisru Humans, Stagen Gnomes, Morrind Dwarves</p>
	<h4>Description</h4>
	<p>
	   Fradae is the premeir port of Alfadir, and is a major source of wealth for the country, as exports pour out of Stagenheim and the Alfadiran interior and move on to Zelfir, Morrindim, Staelia, and elsewhere.
	</p>
	<p>
		The Morrind enclave in Fradae is the largest population of Morrind in the world outside of the Morrind cities themselves.  The local governor maintains a treaty that gives preferential treatment
		to Morrind ships in harbor in return for the right to levy a special tax on the goods that pass through.  
	</p>
	<p>
		Between the harbor, the enclave, and the governor's palace lies the massive trader's market.  Here merchants from the riverboats sell their goods for export to Morrind captains, all under
		the watchful eye of the governor's tax men.  On the other side of the governor's palace lies the local market, where goods for local consumption are sold.
	</p>