<h4>Gnoma</h4>
	<p>
		Population: 80,000 (Metro Area: 90,000)
	</p>
	<p>
		National Allegiance: Stagenheim
	</p>
	<p>Majority Racial Group: Stagen Gnomes</p>
	<p>Ruling Group: Stagen Gnomes</p>
	<p>Notable Minorities: Strongheart Halflings</p>
	<h4>Description</h4>
	<p>
	    Like the rest of Stagenheim the gnomes of Gnoma are several hundred years beyond the rest of the world in technological progress, particularly in magical devices.  
	</p>
	<p>
		Gnoma, unlike Craftheim, focuses more on producing goods for trade than technological experimentation.  This means that things tend to be
		more stable in Gnoma, and people have more wealth.
	</p>