<h4>Highhammer</h4>
	<p>
		Population: 20,000 (Metro Area: 40,000)
	</p>
	<p>
		National Allegiance: Curinor
	</p>
	<p>Majority Racial Group: Hill Dwarves</p>
	<p>Ruling Group: Deep Dwarves</p>
	<p>Notable Minorities: Plains Dwarves, Half-Dwarves</p>
	<p>
	    Highhammer is the military and agricultural center for Curinor.  Highhammer is built into one of the tallest mountains in the region, and the largest granite outcropping on the planet.  This makes
	    it a particularly effective fortress hold, and the dwarves have fortified it accordingly.
	</p>