<h4>Malidal</h4>
<p>
  Population: 15,000
</p>
<p>
  National Allegience: Dormania
</p>
<p>
  Majority Racial Group: Imperial Humans
</p>
<p>
  Ruling Racial Group: Imperial Humans
</p>
<p>
  Significant Minority Races: Halflings, Elathian Gnomes, Elves, Half Elves
</p>
<p>
  Built at the mouth of the Arcanum River, along the mile high cliffs of the World Crack, Malidal is a sight to behold.  The city
  is built around the College of Arcanum, the largest wizard's college outside of Zelfir and Eldoran.  The gleaming white towers
  of the college are visible for miles around.
</p>
<p>
  Malidal is also the upper terminus of the Great Ramp, a massive construction project started by Dorman V to connect Malidal to
  the sea below.
</p>
<p>
  The region surrounding Malidal is famous as wine country, and casks of wine from the region are often referred to among the merchant
  class as red gold.
</p>