  <h4>Marinda</h4>
	<p>
		Population: unknown (previously approx. 65,000)
	</p>
	<p>
		National Allegience: Morrindim
	</p>
	<p>Majority Racial Group: Demons (previously Morrind Dwarves)</p>
	<p>Ruling Group: Demons (previously Morrind Dwarves)</p>
	<p>
		Until recently, Marinda was a thriving port city of the Morrind, a stop off point for goods headed further east to destinations
		such as Dormania, Terron, Seran, and Arad.  That all changed when a strange portal openned over the Mage's guild in the center of town.
		Demons swarmed out of the portal, slaughtering everyone they found.  Within an hour a force of devils started swarming from a portal in the
		harbor as well, and the Blood War, the ancient and eternal war between demon and devilkind, had found its way to the mortal plane.  
	</p>
	<p>
		With the harbor destroyed, there was little avenue for escape for the locals, and only a scant few escaped to tell the tale of what happened.
		Details are scarce, but it is known that the demons eventually prevailed, and as of now are only contained on the island by a massive
		blockade by the Morrind navy.
	</p>
	<p>
		While the Abyssal Gate has since been closed, the island remains infested with demons, and it is unknown when, if ever, the dwarves may be able
		to retake it.
	</p>