  <h4>Nerim</h4>
	<p>
		Population: 500,000 
	</p>
	<p>
		National Allegience: none
	</p>
	<p>Majority Racial Group: Undead</p>
	<p>Ruling Group: Undead</p>
  <p>
    Nerim was once the capital of a thriving empire, and had nearly a million residents.  The Nerim Cataclysm, centered in the Royal Palace of the
    city, left no one alive, but the city entirely intact.  Since then the resulting war, wind, and sand have taken their toll on the city, but its
    buildings, largely made of bone-white granite, and the similarly constructed underworks, are still mostly intact.
  </p>
  <p>
    The city is filled with large numbers of roaming undead, who come into and out of the city fruitlessly hunting for living beings to kill, perpetually
    trapped in a seemingly endless desert, never to die.
  </p>
  <h4>The Royal Palace</h4>
  <p>
    The imposing royal palace sits at the center of the city, seemingly untouched by time, it's spires visible for miles around.  It is an imposing,
    granite structure, with glass domed roofs and spires shooting hundreds of feet into the air.
  </p>
  <h4>The Temple of Nera</h4>
  <p>
    Once the center of religious life for the entire empire, the Temple of Nera is a large walled complex that sits across The Penitents Plaza from the
    Royal Palace.  
  </p>
  <h4>The Underworks</h4>
  <p>
    To support it's massive population, the imperial government built a massive aquaduct and sewer system for the city.  As the population grew, and it
    became difficult to continue feeding and supplying the local population, the government put building restrictions on the land at the edges of the city.
    Migrants responded by building down through the sewer system, creating level upon level of underground towns beneath the city, only loosely governed
    by the imperial administration. The police would occasionally move in, clear out the residents, and leave again, only to have the same residents move
    right back in.
  </p>