  <h4>Parakas</h4>
	<p>
		Population: 315,000 (Metro Area: 330,000)
	</p>
	<p>
		National Allegience: Malinval 
	</p>
	<p>Majority Racial Group: Grunt Orcs</p>
	<p>Ruling Group: High Orcs</p>
	<p>
		Parakas, the City of Steel, is an imposing sight on approach.  The walls are 60 foot tall structures of burnished red steel, and the
		buildings of the city are all made of the same material.  On the west side of the city, facing the rust desert, the walls reach up
		to 200 feet tall, designed to protect the city from the 'rust storms' that blow in from the rust desert.  The protection of the walls is not
		perfect, and the windows of the city are all fitted with steel window shades that can be closed to protect the residents, and no one puts
		a window on the western side of a house.
	</p>
	<p>
		Despite this very real threat, the wealth brought by the rust desert is enough to make this city one of the most prosperous in the world. The
		steel made from the iron of the rust desert is not only the best in the world, but has a distinctive red color that makes it hard to sell
		a counterfeit.  The warlord of Parakas has a unique status among the orc warlords, in that none care to threaten his position, so long as
		he agrees to sell steel to all parties, an arangement that likely has as much to do with the cities formidable defences and near
		impossibility to siege.  The last army to attempt it, in YFC 1808, was shredded by a large rust storm that killed more than a third of the
		besieging army.
	</p>
	<p>
		The city itself is ruled as a communistic society, with the power of the local warlord nearly absolute.
	</p>