<h3>Gerasaline Alliance</h3>

			<p>
				The Gerasaline Alliance was an alliance of nations that existed in the area that today is
				<a href="/geo/nations/gerasalim">Gerasalim</a>, far southern
				<a href="/geo/nations/kandor">Kandor</a>, and the
				<a href="/geo/features/blightedgap">Blighted Gap</a>(at the time an area of fertile farmland).  The alliance formalized the
				borders between the various nations and secured
				mutual aid in the case of outside attack.  The end of the alliance came after Dorman I asked to join the alliance at a time when
				they were hard pressed by orc attacks.  Promising to deliver 100,000 legionaires to the front lines by the end of the summer, Dorman
				instead marched his legions into the capitals of the various nations unopposed and burned the cities to the ground.  The alliances
				soldiers, when they discovered their respective homelands were under attack, abandoned the frontlines, and were eventually crushed
				separately between the advancing orcs and Dorman's armies.
			</p>
			<p>
				The name of the alliance, 'Gerasaline', was later adopted by the nation state that  separated from Dormania that occupies the area once
				dominated by the Gerasaline Alliance.
			</p>
	