{% extends 'base.html.twig' %}

{% block seo %}
	<meta name="description" content="About Joseph Harrison, creator of the Elthelas Campaign Setting and web developer." />
	<meta name="keywords" content="Joseph, Harrison, Madison, Wisconsin, Web, Developer" />
{% endblock %}

{% block body %}
    <p>
      A Madison Wisconsin native, I graduated from the University of Wisconsin in 2008 with a
      Bachelor of Science in Philosophy and Psychology.  After working for a couple years in cognitive research,
      I switched careers and began studying web development.  Today I work for the State of Wisconsin,
      Department of Children and Families as a web developer.  I specialize in front-end development using
      the PHP, javascript, and SASS languages.  This website is built using Symfony 2.6(a PHP framework), however
      I have also built websites using Drupal and Rails, and am proficient in C#, Java, Scala, Ruby, and Python.
      Under duress I could potentially even write a little C++ or VBscript.
    </p>
    <p>
      <a href="{{path('resume')}}">My printable professional resume</a>
    </p>
    <p>
      <a href="https://github.com/whiplashomega">My github account</a>. A note to potential employers: because I
      work for the state government, my professional work cannot legally be uploaded to github.  I use github
      strictly for personal projects and school projects, for which I generally have little time and thusmany of
      which go uncompleted or untouched for long periods of time.  Also, because I am the only one working on them,
      I am less than religious about commits, comments, and commit messages.
    </p>
      
{% endblock %}
