{% extends 'base.html.twig' %}

{% block seo %}
	<meta name="description" content="Website for the Elthelas Campaign Setting for Dungeons and Dragons 5th Edition" />
	<meta name="keywords" content="dungeons, dragons, elthelas, campaign, setting, 5th edition, custom, tools" />
{% endblock %}

{% block body %}
  <h2>Elthelas Campaign Setting News Feed</h2>

  {% for item in items %}
  <div class="blogentry">
    <h3>{{item.title}}</h3>
    <h4>{{item.date}}</h4>

    {{ item.text | raw }}
  </div>
{% endfor %}
<a href="{{ path('blogrss')}}"><img src="/images/rss.png" alt="rss feed" style="width:25px; height: 25px;" /></a>
{% endblock %}