{% extends 'base.html.twig' %}

{% block seo %}
	<meta name="description" content="Website for the Elthelas Campaign Setting for Dungeons and Dragons 5th Edition" />
	<meta name="keywords" content="dungeons, dragons, elthelas, campaign, setting, 5th edition, custom, tools" />
{% endblock %}

{% block body %}
  <p>
		Welcome to Elthelas.  Elthelas is a world of fantasy, full of strange creatures, wondrous places, dark evils, and 
		grand adventures.  In Elthelas, Gods and magic are a part of day to day life, but are often as much things to be
		feared or shunned as anything else.
	</p>
	<p>
		The world of Elthelas was first conceived sometime around 1998.  The game Baldur's Gate had just come out, introducing
		me and many of my friends to the world of Dungeons and Dragons for the first time. Role playing was a new and
		interesting concept, but without access to source materials or rules we had to create our own.  The original game we
		played was largely a very loose LARP, but then again, we were in 7th grade. 
	</p>
  	<p>
		After a couple of years we all moved on with our lives and stopped playing the game, but the world lived on in my head.
		In high school I wrote a short story and then a (bad) novel taking place in the setting, with the main characters being
		the ones my friends and I had conceived of back in middle school.  These materials will likely never again see the
		light of day, although I believe I still have the manuscript somewhere on my hard drive, transferred from computer to
		computer over the years.
	</p>
	<p>
		In college I undertook to rework the source material, and rewrite the book, hoping to use my somewhat increased
		experience both in the genre and in writing to improve the work.  The source material took a decent shape from this
		effort, but the rewrite never got past chapter 3.
	</p>
	<p>
		It was a couple years after college that I played my first game of Dungeons and Dragons, the real pen and paper variety.
		It was only a matter of time then until I reworked the source material back into the format that had originally
		inspired it, a Dungeons and Dragons campaign setting.  So far I have DMed 1 successful campaign in the setting, and am in
		the middle of another campaign that has now been underway for more than a year.  This site is used
		to store the most up-to-date version of the source materials as I come up with them.
	</p>
	<p>
		In addition, I have built a suite of DM Tools, which include a quick-access reference manual, an encounter builder, a
		DM journal, dice roller, and initiative tracker.  These tools are meant for use during play, effectively turning your
		browser window into an interactive DM screen and tracking tool.  Use requires registration, but if you are looking to
		start off a campaign in the setting, go for it!
	</p>
	<p>
		Please feel free to browse the site, and if you feel inspired to play a campaign with the material, go for it! Have
		fun! That is, after all, the whole point.
	</p>

{% endblock %}
{%  block localscripts %}
	<script>
		(function() {
			$('#sidebar').hide();
			$('#main').addClass('col-md-12').removeClass('col-md-10');
		})();
	</script>
{% endblock %}
